{template 'common/header'}
<style type="text/css">
   
</style>
<ul class="nav nav-tabs">
    <li {if $operation=='list'}class="active"{/if}><a href="{php echo $this->createWebUrl('agent')}">代理列表</a></li>
    <li {if $operation=='apply_list'}class="active"{/if}><a href="{php echo $this->createWebUrl('agent', array('op' => 'apply_list'));}">申请列表</a></li>
    <li {if $operation=='withdraw_list'}class="active"{/if}><a href="{php echo $this->createWebUrl('agent', array('op' => 'withdraw_list'));}">提现列表</a></li>
</ul>
{if $operation == 'list'}
<div class="panel panel-info">
    <div class="panel-heading">筛选</div>
    <div class="panel-body">
        <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="xuan_mixloan" />
            <input type="hidden" name="do" value="agent" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">名称</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="name" value="{$_GPC['name']}"/>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    {if $_W["username"] == 'admin'}<button type="submit" name="export" value="1" class="btn btn-primary">导出 Excel</button>{/if}
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div><div class="clearfix">
<div class="panel panel-default" style="font-size:11px;">
    <div class="panel-heading">总数：{$total}</div>
    <div class="panel-body">
        <table class="table table-hover" style="overflow:visible;">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:80px;'>ID</th>
                    <th style='width:120px;'>会员</th>
                    <th style='width:100px;'>购买费用</th>
                    <th style='width:100px;'>升级费用</th>
                    <th style='width:150px;'>购买id</th>
                    <th style='width:150px;'>加入时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                <tr>
                    <td>   {$row['id']}</td>
                    <td>   <img src="{$row['avatar']}" width="35px">&nbsp;{$row['nickname']}</td>
                    <td>   {$row['fee']}</td>
                    <td>   {$row['upgrade_fee']}</td>
                    <td>   {$row['tid']}</td>
                    <td>{php echo date('Y-m-d H:i',$row['createtime'])}</td>
                    <td  style="overflow:visible;">
                        
                        <div class="btn-group btn-group-sm" >
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="javascript:;">操作 <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu" style='z-index: 9999;min-width: 50px'>
                                <li><a  href="{php echo $this->createWebUrl('agent',array('op'=>'apply_list','uid' => $row['uid']));}" title='邀请列表'><i class='fa fa-list-alt'></i> 邀请列表</a></li>
                                <li><a  href="{php echo $this->createWebUrl('agent',array('op'=>'qrcode','uid' => $row['uid']));}" title='二维码'><i class='fa fa-edit'></i> 二维码</a></li>
                                <li><a  href="{php echo $this->createWebUrl('agent',array('op'=>'delete','id' => $row['id']));}" title='删除代理' onclick="return confirm('确定要剥夺该代理资格吗？');"><i class='fa fa-remove'></i> 删除代理</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {$pager}
    </div>
</div>
</div>
{else if $operation == 'withdraw_list'}
<div class="panel panel-info">
    <div class="panel-heading">筛选</div>
    <div class="panel-body">
        <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="xuan_mixloan" />
            <input type="hidden" name="do" value="agent" />
            <input type="hidden" name="op" value="{$operation}" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">状态</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select class="form-control" name="status">
                        <option value="" >选择状态</option>
                        <option value="0" {if  $_GPC['status']!="" && $_GPC['status']==0}selected{/if} >申请中</option>
                        <option value="-1" {if $_GPC['status']==-1}selected{/if} >申请失败</option>
                        <option value="1" {if $_GPC['status']==1}selected{/if} >申请成功</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
            
            
            <div class="form-group">
            </div>
        </form>
    </div>
</div><div class="clearfix">
<div class="panel panel-default" style="font-size:11px;">
    <div class="panel-heading">总数：{$total}</div>
    <div class="panel-body">
        <table class="table table-hover" style="overflow:visible;">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:80px;'>ID</th>
                    <th style='width:120px;'>申请者</th>
                    <th style='width:100px;'>申请金额</th>
                    <th style='width:100px;'>剩余金额</th>
                    <th style='width:150px;'>申请时间</th>
                    <th style='width:150px;'>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                <tr>
                    <td>   {$row['id']}</td>
                    <td>   <img src="{$row['avatar']}" width="35px">&nbsp;{$row['nickname']}</td>
                    <td>   {$row['bonus']}</td>
                    <td>   {$row['left_bonus']}</td>
                    <td>{php echo date('Y-m-d H:i',$row['createtime'])}</td>
                    <td>   {if $row['status'] == 0}<span class="label label-default">申请中</span>{else if $row['status']==1}<span class="label label-success">申请成功</span>{else if $row['status']==-1}<span class="label label-warning">申请失败</span>{/if}</td>
                    <td  style="overflow:visible;">
                        
                        <div class="btn-group btn-group-sm" >
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="javascript:;">操作 <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu" style='z-index: 9999;min-width: 50px'>
                                <li><a  href="{php echo $this->createWebUrl('agent',array('op'=>'withdraw_update','id' => $row['id']));}" title='处理'><i class='fa fa-edit'></i> 处理</a></li>
                                <li><a  href="{php echo $this->createWebUrl('agent',array('op'=>'withdraw_delete','id' => $row['id']));}" title='删除记录' onclick="return confirm('确定要删除该记录吗？');"><i class='fa fa-remove'></i> 删除记录</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {$pager}
    </div>
</div>
</div>
{else if $operation == 'apply_list'}
<div class="panel panel-info">
    <div class="panel-heading">筛选</div>
    <div class="panel-body">
        <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="xuan_mixloan" />
            <input type="hidden" name="do" value="agent" />
            <input type="hidden" name="op" value="{$operation}" />
            <input type="hidden" name="uid" value="{$_GPC['uid']}" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">被邀请人真实姓名</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="name" value="{$_GPC['name']}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">产品类型</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select class="form-control" name="type" onchange="change_s()">
                        <option value="0">选择产品类型</option>
                        <option value="1" {if $_GPC['type']==1}selected{/if}>信用卡</option>
                        <option value="2" {if $_GPC['type']==2}selected{/if}>贷款</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关联产品</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select class="form-control" name="relate_id">
                        <option value="0">选择关联产品</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    {if $_W["username"] == 'admin'}<button type="submit" name="export" value="1" class="btn btn-primary">导出 Excel</button>{/if}
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
            <script type="text/javascript">
                var change_s = function (){
                    var c_json = {$c_json};
                    var s_json = {$s_json};
                    var value = $("select[name='type']").val();
                    console.log(value);
                    if (value == 1) {
                        if (isEmptyObject(c_json)) {
                            $("select[name='relate_id']").html("");
                            $("select[name='relate_id']").parent().parent().hide(500);
                            alert('请先在银行管理中添加卡');
                            return false;
                        }
                        change_c(c_json)
                    } else if (value == 2) {
                        if (isEmptyObject(s_json)) {
                            $("select[name='relate_id']").html("");
                            $("select[name='relate_id']").parent().parent().hide(500);
                            alert('请先在贷款超市中添加贷款');
                            return false;
                        }
                        change_c(s_json)
                    } else {
                        $("select[name='relate_id']").parent().parent().hide(500);
                    }
                }
                var change_c = function(a_json) {
                    var sel_id = {if $_GPC['relate_id']}{$_GPC['relate_id']}{else}0{/if};
                    var type = {if $_GPC['type']}{$_GPC['type']}{else}0{/if};
                    a_html = '<option value="0">选择关联产品</option>';
                    for (var i=0; i<a_json.length; i++) {
                        if (a_json[i].id == sel_id && a_json[i].type == type) {
                            var _select = 'selected';
                        } else {
                            var _select = '';
                        }
                        a_html += '<option value="' + a_json[i].id + '" ' + _select + '>' + a_json[i].name + '</option>';
                    }
                    $("select[name='relate_id']").html("");
                    $("select[name='relate_id']").html(a_html);
                    $("select[name='relate_id']").parent().parent().show(500);
                }
                function isEmptyObject(e) {  
                    var t;  
                    for (t in e)  
                        return !1;  
                    return !0  
                }  
                change_s();
            </script>           
            <div class="form-group">
            </div>
        </form>
    </div>
</div><div class="clearfix">
<div class="panel panel-default" style="font-size:11px;">
    <div class="panel-heading">总数：{$total}</div>
    <div class="panel-body">
        <table class="table table-hover" style="overflow:visible;">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:80px;'>ID</th>
                    <th style='width:120px;'>邀请者</th>
                    <th style='width:120px;'>被邀请者</th>
                    <th style='width:120px;'>关联产品</th>
                    <th style='width:200px;'>邀请时间</th>
                    <th style='width:80px;'>邀请等级</th>
                    <th style='width:120px;'>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                <tr>
                    <td>   {$row['id']}</td>
                    <td>   <img src="{$row['inviter']['avatar']}" width="35px">&nbsp;{$row['inviter']['nickname']}</td>
                    <td>   <img src="{$row['avatar']}" width="35px">&nbsp;{$row['realname']}</td>
                    <td>   {$row['name']}</td>
                    <td>{php echo date('Y-m-d H:i',$row['createtime'])}</td>
                    <td>   
                        {if $row['degree'] == 1}<span class="label label-info">一级</span>{/if}
                        {if $row['degree'] == 2}<span class="label label-primary">二级</span>{/if}
                        {if $row['degree'] == 3}<span class="label label-success">三级</span>{/if}
                    </td>
                    <td>   {if $row['status']==-2}<span class="label label-warning">邀请用户已注册过，不产生佣金</span>
                            {else if $row['status']==-1}<span class="label label-warning">注册失败</span>
                            {else if $row['status']==0}<span class="label label-info">邀请中</span>
                            {else if $row['status']==1}<span class="label label-primary">已注册</span>
                            {else if $row['status']==2}<span class="label label-success">已完成</span>
                        {/if}</td>
                    <td  style="overflow:visible;">
                        <div class="btn-group btn-group-sm" >
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="javascript:;">操作 <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu" style='z-index: 9999;min-width: 50px'>
                                <li><a  href="{php echo $this->createWebUrl('agent',array('op'=>'apply_update','id' => $row['id']));}" title='管理'><i class='fa fa-edit'></i> 管理</a></li>
                                <li><a  href="{php echo $this->createWebUrl('agent',array('op'=>'apply_delete','id' => $row['id']));}" title='删除记录' onclick="return confirm('确定要删除记录吗？');"><i class='fa fa-remove'></i> 删除记录</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {$pager}
    </div>
</div>
</div>
{else if $operation == 'apply_update'}
<div class="panel panel-info">
    <div class="panel-heading">操作</div>
    <div class="panel-body">
        <form action="./index.php" method="post" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="xuan_mixloan" />
            <input type="hidden" name="do" value="agent" />
            <input type="hidden" name="op" value="{$operation}" />
            <input type="hidden" name="id" value="{$_GPC['id']}" />
            <input type="hidden" name="post" value="1" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">邀请人</label>
                <div class="col-sm-2 col-lg-3 col-xs-12">
                    <p class="form-control-static"><img src="{$inviter['avatar']}" width="30px"> 
                        {$inviter['nickname']}  
                            {if $item['degree']==1}<span class="label label-info">一级{$agent['name']}</span>
                            {else if $item['degree']==2}<span class="label label-primary">二级{$agent['name']}</span>
                            {else if $item['degree']==3}<span class="label label-success">三级{$agent['name']}</span>
                            {/if}
                    </p>
                </div>
                <div class="col-sm-3 col-lg-4 col-xs-12">
                    <p class="form-control-static" style="color:red">已邀请成功人数：{$inviter['count']}</p>
                </div>
                {if $item['pid']>0}
                <div class="col-sm-3 col-lg-4 col-xs-12">
                    <p class="form-control-static" style="color:red">已邀请下款：{$inviter['sum']}</p>
                </div>
                {/if}
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">被邀请人</label>
                <div class="col-sm-2 col-lg-3 col-xs-12">
                    <p class="form-control-static"><img src="{$apply['avatar']}" width="30px"> {$item['realname']}</p>
                </div>
                {if $item['pid']>0}
                <div class="col-sm-3 col-lg-4 col-xs-12">
                    <p class="form-control-static">手机：{$item['phone']}</p>
                </div>
                <div class="col-sm-3 col-lg-4 col-xs-12">
                    <p class="form-control-static">身份证：{$item['certno']}</p>
                </div>
                {/if}
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">产品信息</label>
                <div class="col-sm-2 col-lg-3 col-xs-12">
                    <p class="form-control-static"><img src="{php echo tomedia($info['ext_info']['logo']);}" width="30px"> {$info['name']}</p>
                </div>
            </div>
            {if $item['pid']>0}
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">奖励信息</label>
                <div class="col-sm-2 col-lg-3 col-xs-12">
                    <p class="form-control-static">方式：{if $info['count_time']==1}日{else if $info['count_time']==7}周{else}月{/if}结</p>
                </div>
                <div class="col-sm-3 col-lg-4 col-xs-12">
                    <p class="form-control-static">注册奖励：
                        {if $info['done_reward_type']==1}
                            {$info['done_reward_money']}元
                        {else if $info['done_reward_type']==2}
                            {$info['done_reward_per']}点
                        {else}
                            无
                        {/if}
                    </p>
                </div>
                <div class="col-sm-3 col-lg-4 col-xs-12">
                    <p class="form-control-static">下款/卡奖励：
                        {if $info['re_reward_type']==1}
                            {$info['re_reward_money']}元
                        {else if $info['re_reward_type']==2}
                            {$info['re_reward_per']}点
                        {else}
                            无
                        {/if}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">额外奖励</label>
                {if $info['ext_info']['is_extra_reward']}
                <div class="col-sm-2 col-lg-3 col-xs-12">
                    {if $info['ext_info']['extra_reward_type'] == 0}
                    <p class="form-control-static">满{$info['ext_info']['extra_reward_one_cond']}元奖励{$info['ext_info']['extra_reward_one_money']}</p>
                    {else}
                    <p class="form-control-static">满{$info['ext_info']['extra_reward_one_con']}人奖励{$info['ext_info']['extra_reward_one_money']}</p>
                    {/if}
                </div>
                <div class="col-sm-3 col-lg-4 col-xs-12">
                    {if $info['ext_info']['extra_reward_type'] == 0}
                    <p class="form-control-static">满{$info['ext_info']['extra_reward_two_cond']}元奖励{$info['ext_info']['extra_reward_two_money']}</p>
                    {else}
                    <p class="form-control-static">满{$info['ext_info']['extra_reward_two_con']}人奖励{$info['ext_info']['extra_reward_two_money']}</p>
                    {/if}
                </div>
                <div class="col-sm-3 col-lg-4 col-xs-12">
                        {if $info['ext_info']['extra_reward_type'] == 0}
                    <p class="form-control-static">满{$info['ext_info']['extra_reward_thr_cond']}元奖励{$info['ext_info']['extra_reward_thr_money']}</p>
                    {else}
                    <p class="form-control-static">满{$info['ext_info']['extra_reward_thr_con']}人奖励{$info['ext_info']['extra_reward_thr_money']}</p>
                    {/if}
                </div>
                {else}
                <div class="col-sm-2 col-lg-3 col-xs-12">
                    <p class="form-control-static">无</p>
                </div>
                {/if}
            </div>
            {/if}
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">邀请状态</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select class="form-control" name="data[status]" onchange="change_stauts()">
                        <option value="-1" {if $item['status']==-1}selected{/if}>注册失败</option>
                        {if $item['pid']>0}
                        <option value="0" {if $item['status']==0}selected{/if}>邀请中</option>
                        <option value="1" {if $item['status']==1}selected{/if}>已注册</option>
                        {/if}
                        <option value="2" {if $item['status']==2}selected{/if}> 
                                {if $item['pid']<=0}已完成{else}已下款/卡{/if}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="register" {if $item['status']<=0}style="display: none"{/if}>
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">{if $item['pid']>0}注册奖励{else if $item['pid']==0}购买奖励{else if $item['pid']==-1}升级奖励{/if}</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[re_bonus]" value="{$item['re_bonus']}"/>
                </div>
            </div>
            {if $item['pid']>0}
            <div class="form-group status" {if $item['status']<=1}style="display: none"{/if}>
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">下款金额</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[relate_money]" value="{$item['relate_money']}"/>
                </div>
            </div>
            <div class="form-group status" {if $item['status']<=1}style="display: none"{/if}>
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">下款/卡奖励</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[done_bonus]" value="{$item['done_bonus']}"/>
                </div>
            </div>
            <div class="form-group status" {if $item['status']<=1}style="display: none"{/if}>
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">额外奖励</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[extra_bonus]" value="{$item['extra_bonus']}"/>
                </div>
            </div>
            {/if}
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <input class="btn btn-default" type="submit" value="提交">
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var change_stauts = function () {
        var value = $("select[name='data[status]']").val();
        if (value>0) {
            $('#register').show();
            if (value>1) {
                $('.status').show();
            } else {
                $('.status').hide();
            }
        } else {
            $('#register').hide();
            $('.status').hide();
        }
    }
</script>
{else if $operation == 'withdraw_update'}
<div class="panel panel-info">
    <div class="panel-heading">提现管理</div>
    <div class="panel-body">
        <form action="./index.php" method="post" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="xuan_mixloan" />
            <input type="hidden" name="do" value="agent" />
            <input type="hidden" name="op" value="{$operation}" />
            <input type="hidden" name="id" value="{$_GPC['id']}" />
            <input type="hidden" name="post" value="1" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">申请人</label>
                <div class="col-sm-2 col-lg-3 col-xs-12">
                    <p class="form-control-static"><img src="{$member['avatar']}" width="30px"> {$member['nickname']}</p>
                </div>
                <div class="col-sm-3 col-lg-4 col-xs-12">
                    <p class="form-control-static">申请金额：{$item['bonus']}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">申请信息</label>
                {if $item['type'] == 1}
                <div class="col-sm-4 col-lg-5 col-xs-12">
                    <p class="form-control-static">银行卡：{$bank['banknum']}（{$bank['realname']}）</p>
                </div>
                <div class="col-sm-2 col-lg-3 col-xs-12">
                    <p class="form-control-static">开卡行：{$bank['bankname']}</p>
                </div>
                <div class="col-sm-2 col-lg-3 col-xs-12">
                    <p class="form-control-static">手机：{$bank['phone']}</p>
                </div>
                {else}
                <div class="col-sm-4 col-lg-5 col-xs-12">
                    <p class="form-control-static">支付宝姓名：{$bank['realname']}</p>
                </div>
                <div class="col-sm-2 col-lg-3 col-xs-12">
                    <p class="form-control-static">支付宝手机号：{$bank['phone']}</p>
                </div>
                {/if}
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">提现状态</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select class="form-control" name="data[status]" onchange="change_stauts()">
                        <option value="-1" {if $item['status']==-1}selected{/if}>拒绝</option>
                        <option value="0" {if $item['status']==0}selected{/if}>申请中</option>
                        <option value="1" {if $item['status']==1}selected{/if}>打款</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">操作说明</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[ext_info][reason]" value="{$item['ext_info']['reason']}"/>
                </div>
            </div>
            <div class="form-group" {if $item['status'] != 1}style="display:none"{/if} id="bank_code">
            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">所属银行</label>
            <div class="col-sm-8 col-lg-9 col-xs-12">
                <select class="form-control" name="data[ext_info][bank_code]">
                    <option value="1002" {if $item['ext_info']['bank_code'] == '1002'}selected{/if}>工商银行</option>
                    <option value="1005" {if $item['ext_info']['bank_code'] == '1005'}selected{/if}>农业银行</option>
                    <option value="1026" {if $item['ext_info']['bank_code'] == '1026'}selected{/if}>中国银行</option>
                    <option value="1003" {if $item['ext_info']['bank_code'] == '1003'}selected{/if}>建设银行</option>
                    <option value="1001" {if $item['ext_info']['bank_code'] == '1001'}selected{/if}>招商银行</option>
                    <option value="1066" {if $item['ext_info']['bank_code'] == '1066'}selected{/if}>邮储银行</option>
                    <option value="1020" {if $item['ext_info']['bank_code'] == '1020'}selected{/if}>交通银行</option>
                    <option value="1004" {if $item['ext_info']['bank_code'] == '1004'}selected{/if}>浦发银行</option>
                    <option value="1006" {if $item['ext_info']['bank_code'] == '1006'}selected{/if}>民生银行</option>
                    <option value="1009" {if $item['ext_info']['bank_code'] == '1009'}selected{/if}>兴业银行</option>
                    <option value="1010" {if $item['ext_info']['bank_code'] == '1010'}selected{/if}>平安银行</option>
                    <option value="1021" {if $item['ext_info']['bank_code'] == '1021'}selected{/if}>中信银行</option>
                    <option value="1025" {if $item['ext_info']['bank_code'] == '1025'}selected{/if}>华夏银行</option>
                    <option value="1027" {if $item['ext_info']['bank_code'] == '1027'}selected{/if}>广发银行</option>
                    <option value="1022" {if $item['ext_info']['bank_code'] == '1022'}selected{/if}>光大银行</option>
                    <option value="1032" {if $item['ext_info']['bank_code'] == '1032'}selected{/if}>北京银行</option>
                    <option value="1056" {if $item['ext_info']['bank_code'] == '1056'}selected{/if}>宁波银行</option>
                </select>
            </div>
    </div>
    <div class="form-group" {if $item['status'] != 1}style="display:none"{/if} id="trade">
    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">打款订单号</label>
    <div class="col-sm-8 col-lg-9 col-xs-12">
        <input type="text" class="form-control"  name="data[ext_info][partner_trade_no]" value="{$item['ext_info']['partner_trade_no']}" placeholder="此处打款后会自动生成" readonly="" />
    </div>
</div>
<div class="form-group" {if $item['status'] != 1}style="display:none"{/if} id="number">
<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">打款流水号</label>
<div class="col-sm-8 col-lg-9 col-xs-12">
    <input type="text" class="form-control"  name="data[ext_info][payment_no]" value="{$item['ext_info']['payment_no']}" placeholder="此处打款后会自动生成" readonly="" />
</div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
    <div class="col-sm-7 col-lg-9 col-xs-12">
        <input class="btn btn-default" type="submit" value="提交">
        <input type="hidden" name="token" value="{$_W['token']}" />
    </div>
</div>
<div class="form-group">
</div>
</form>
</div>
</div>
<script type="text/javascript">
    var change_stauts = function (){
        var value = $("select[name='data[status]']").val();
        if (value == 1) {
            $('#bank_code').show(500);
            $('#trade').show(500);
            $('#number').show(500)
        } else {
            $('#bank_code').hide(500);
            $('#trade').hide(500);
            $('#number').hide(500)
        }
    }
</script>
{else if $operation == 'qrcode'}
<div class="panel panel-info">
    <div class="panel-heading">邀请二维码</div>
    <div class="panel-body">
        <div style="text-align: center;">
            {loop $invite_list $row}
            <img src="{$row['poster']}" width="160px" style="margin: 15px">
            {/loop}
        </div>
    </div>
    <div class="panel-heading">代呗店二维码</div>
    <div class="panel-body">
        <div style="text-align: center;">
            {loop $product_list $row}
            <img src="{$row['poster']}" width="160px" style="margin: 15px">
            {/loop}
        </div>
    </div>
</div>
<script type="text/javascript">
    $.post("http://90i0.com/app/index.php?i={$_W['uniacid']}&c=entry&op=createPoster&type=3&do=vip&m=xuan_mixloan&uid={$_GPC['uid']}", function(data){
        if (data.type=='success') {
            $.post("http://90i0.com/app/index.php?i={$_W['uniacid']}&c=entry&op=createPoster&type=2&do=vip&m=xuan_mixloan&uid={$_GPC['uid']}", function(data){
                if (data.type=='success') {
                    if (data.message.created == false) {
                        history.go(0);
                    }
                } else {
                    layer.msg(data.message);
                }
            },"json");
        } else {
            layer.msg(data.message);
        }
    },"json");
</script>
{/if}
{template 'common/footer'}