{template 'common/header'}
<ul class="nav nav-tabs">
    <li {if $operation=='list'}class="active"{/if}><a href="{php echo $this->createWebUrl('friend')}">朋友圈列表</a></li>
</ul>
{if $operation == 'list'}
<div class="panel panel-info">
    <div class="panel-heading">筛选</div>
    <div class="panel-body">
        <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="xuan_mixloan" />
            <input type="hidden" name="do" value="friend" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">标题</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="name" value="{$_GPC['name']}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">发布者昵称</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="nickname" value="{$_GPC['nickname']}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">置顶</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select class="form-control" name="top">
                        <option value="" {if $_GPC['top']==""}selected{/if}>选择是否置顶</option>
                        <option value="1" {if $_GPC['top']==1}selected{/if}>是</option>
                        <option value="0" {if $_GPC['top']==0 && $_GPC['top']!=""}selected{/if}>否</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
            
            
            <div class="form-group">
            </div>
        </form>
    </div>
</div><div class="clearfix">
<div class="panel panel-default" style="font-size:11px;">
    <div class="panel-heading">总数：{$total}</div>
    <div class="panel-body">
        <table class="table table-hover" style="overflow:visible;">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:80px;'>帖子ID</th>
                    <th style='width:120px;'>帖子标题</th>
                    <th style='width:120px;'>发布者</th>
                    <th style='width:200px;'>添加时间</th>
                    <th style='width:120px;'>是否置顶</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                <tr>
                    <td>   {$row['id']}</td>
                    <td>   {$row['title']}</td>
                    <td>  <img src="{$row['avatar']}" width="35px"> {$row['nickname']}</td>
                    <td>{php echo date('Y-m-d H:i',$row['ctime'])}</td>
                    <td>   {if $row['top']==0}<span class="label label-default">否</span>{else if $row['top']==1}<span class="label label-info">是</span>{/if}</td>
                    <td  style="overflow:visible;">
                        
                        <div class="btn-group btn-group-sm" >
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="javascript:;">操作 <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu" style='z-index: 9999;min-width: 50px'>
                                
                                <li><a  href="{php echo $this->createWebUrl('friend',array('op'=>'update','id' => $row['id']));}" title='管理帖子'><i class='fa fa-edit'></i> 管理帖子</a></li>
                                <li><a  href="{php echo $this->createWebUrl('friend',array('op'=>'comments','id' => $row['id']));}" title='管理帖子'><i class='fa fa-edit'></i> 帖子评论</a></li>
                                <li><a  href="{php echo $this->createWebUrl('friend',array('op'=>'delete','id' => $row['id']));}" title='删除帖子' onclick="return confirm('确定要删除该帖子吗？');"><i class='fa fa-remove'></i> 删除帖子</a></li>
                            </ul>
                        </div>
                        
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {$pager}
    </div>
</div>
</div>
{else if $operation == 'comments'}
<div class="clearfix">
<div class="panel panel-default" style="font-size:11px;">
    <div class="panel-heading">总数：{$total}</div>
    <div class="panel-body">
        <table class="table table-hover" style="overflow:visible;">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:80px;'>ID</th>
                    <th style='width:120px;'>回复者</th>
                    <th style='width:300px;'>回复内容</th>
                    <th style='width:200px;'>回复时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                <tr>
                    <td>   {$row['id']}</td>
                    <td>   <img src="{$row['avatar']}" width="35px"> &nbsp; {$row['nickname']}</td>
                    <td>   {php echo urldecode($row['content']);}</td>
                    <td>{php echo date('Y-m-d H:i',$row['createtime'])}</td>
                    <td  style="overflow:visible;">
                        <div class="btn-group btn-group-sm" >
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="javascript:;">操作 <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu" style='z-index: 9999;min-width: 50px'>
                                <li><a  href="{php echo $this->createWebUrl('friend',array('op'=>'below_comments','id' => $row['id']));}" title='评论'><i class='fa fa-edit'></i> 评论</a></li>
                                <li><a  href="{php echo $this->createWebUrl('friend',array('op'=>'comment_delete','id' => $row['id']));}" title='删除' onclick="return confirm('确定要删除吗？');"><i class='fa fa-remove'></i> 删除</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {$pager}
    </div>
</div>
</div>
{else if $operation == 'below_comments'}
<div class="clearfix">
<div class="panel panel-default" style="font-size:11px;">
    <div class="panel-heading">总数：{$total}</div>
    <div class="panel-body">
        <table class="table table-hover" style="overflow:visible;">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:80px;'>ID</th>
                    <th style='width:120px;'>回复者</th>
                    <th style='width:300px;'>回复内容</th>
                    <th style='width:200px;'>回复时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                <tr>
                    <td>   {$row['id']}</td>
                    <td>   <img src="{$row['avatar']}" width="35px"> &nbsp; {$row['nickname']}</td>
                    <td>   {php echo urldecode($row['content']);}</td>
                    <td>{php echo date('Y-m-d H:i',$row['createtime'])}</td>
                    <td  style="overflow:visible;">
                        <div class="btn-group btn-group-sm" >
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="javascript:;">操作 <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu" style='z-index: 9999;min-width: 50px'>
                                <li><a  href="{php echo $this->createWebUrl('friend',array('op'=>'comment_delete','id' => $row['id']));}" title='删除' onclick="return confirm('确定要删除吗？');"><i class='fa fa-remove'></i> 删除</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {$pager}
    </div>
</div>
</div>
{else if $operation == 'update'}
<div class="panel panel-info">
    <div class="panel-heading">管理帖子</div>
    <div class="panel-body">
        <form action="./index.php" method="post" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="xuan_mixloan" />
            <input type="hidden" name="do" value="friend" />
            <input type="hidden" name="op" value="{$operation}" />
            <input type="hidden" name="id" value="{$_GPC['id']}" />
            <input type="hidden" name="post" value="1" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">帖子标题</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[title]" value="{$item['title']}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">是否置顶</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select class="form-control" name="data[top]">
                        <option value="0" {if $item['top']==0}selected{/if}>否</option>
                        <option value="1" {if $item['top']==1}selected{/if}>是</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <input class="btn btn-default" type="submit" value="提交">
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>
{/if}
{template 'common/footer'}