{template 'common/header'}
<ul class="nav nav-tabs">
    <li {if $operation=='list'}class="active"{/if}><a href="{php echo $this->createWebUrl('loan')}">超市列表</a></li>
    <li {if $operation == 'update' || $operation == 'add'}class="active"{/if}><a href="{php echo $this->createWebUrl('loan', array('op' => 'add'));}">添加/编辑&nbsp;超市</a></li>
    <li {if $operation=='advs_list'}class="active"{/if}><a href="{php echo $this->createWebUrl('loan', array('op' => 'advs_list'));}">幻灯片列表</a></li>
    <li {if $operation == 'advs_update' || $operation == 'advs_add'}class="active"{/if}><a href="{php echo $this->createWebUrl('loan', array('op' => 'advs_add'));}">添加/编辑&nbsp;幻灯片</a></li>
</ul>
{if $operation == 'list'}
<div class="panel panel-info">
    <div class="panel-heading">筛选</div>
    <div class="panel-body">
        <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="xuan_mixloan" />
            <input type="hidden" name="do" value="loan" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">名称</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="name" value="{$_GPC['name']}"/>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
            
            
            <div class="form-group">
            </div>
        </form>
    </div>
</div><div class="clearfix">
<div class="panel panel-default" style="font-size:11px;">
    <div class="panel-heading">总数：{$total}</div>
    <div class="panel-body">
        <table class="table table-hover" style="overflow:visible;">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:80px;'>贷款ID</th>
                    <th style='width:120px;'>贷款名称</th>
                    <th style='width:200px;'>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                <tr>
                    <td>   {$row['id']}</td>
                    <td>   {$row['name']}</td>
                    <td>{php echo date('Y-m-d H:i',$row['createtime'])}</td>
                    <td  style="overflow:visible;">
                        
                        <div class="btn-group btn-group-sm" >
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="javascript:;">操作 <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu" style='z-index: 9999;min-width: 50px'>
                                
                                <li><a  href="{php echo $this->createWebUrl('loan',array('op'=>'update','id' => $row['id']));}" title='编辑贷款'><i class='fa fa-edit'></i> 编辑贷款</a></li>
                                <li><a  href="{php echo $this->createWebUrl('loan',array('op'=>'delete','id' => $row['id']));}" title='删除贷款' onclick="return confirm('确定要删除该贷款吗？');"><i class='fa fa-remove'></i> 删除贷款</a></li>
                            </ul>
                        </div>
                        
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {$pager}
    </div>
</div>
</div>
{else if $operation == 'advs_list'}
<div class="clearfix">
<div class="panel panel-default" style="font-size:11px;">
    <div class="panel-heading">总数：{$total}</div>
    <div class="panel-body">
        <table class="table table-hover" style="overflow:visible;">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:80px;'>广告ID</th>
                    <th style='width:120px;'>广告名称</th>
                    <th style='width:200px;'>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                <tr>
                    <td>   {$row['id']}</td>
                    <td>   {$row['name']}</td>
                    <td>{php echo date('Y-m-d H:i',$row['createtime'])}</td>
                    <td  style="overflow:visible;">
                        
                        <div class="btn-group btn-group-sm" >
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="javascript:;">操作 <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu" style='z-index: 9999;min-width: 50px'>
                                
                                <li><a  href="{php echo $this->createWebUrl('loan',array('op'=>'advs_update','id' => $row['id']));}" title='编辑广告'><i class='fa fa-edit'></i> 编辑广告</a></li>
                                <li><a  href="{php echo $this->createWebUrl('loan',array('op'=>'advs_delete','id' => $row['id']));}" title='删除广告' onclick="return confirm('确定要删除该广告吗？');"><i class='fa fa-remove'></i> 删除广告</a></li>
                            </ul>
                        </div>
                        
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {$pager}
    </div>
</div>
</div>
{else if $operation == 'add' || $operation == 'update'}
<div class="panel panel-info">
    <div class="panel-heading">添加/编辑&nbsp;超市</div>
    <div class="panel-body">
        <form action="./index.php" method="post" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="xuan_mixloan" />
            <input type="hidden" name="do" value="loan" />
            <input type="hidden" name="op" value="{$operation}" />
            <input type="hidden" name="id" value="{$_GPC['id']}" />
            <input type="hidden" name="post" value="1" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">贷款名称</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[name]" value="{$item['name']}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">贷款logo</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    {php echo tpl_form_field_image('data[ext_info][logo]',$item['ext_info']['logo']);}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">贷款宣传语</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[ext_info][v_name]" value="{$item['ext_info']['v_name']}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">申请人数</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[apply_nums]" value="{$item['apply_nums']}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">所属分类</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <div class="checkbox"><label><input type="checkbox" name="data[type][]" {if @in_array(1,$item['type'])}checked{/if} value="1">手机号贷</label></div>
                    <div class="checkbox"><label><input type="checkbox" name="data[type][]" {if @in_array(2,$item['type'])}checked{/if} value="2">身份证贷</label></div>
                    <div class="checkbox"><label><input type="checkbox" name="data[type][]" {if @in_array(3,$item['type'])}checked{/if} value="3">芝麻分贷</label></div>
                    <div class="checkbox"><label><input type="checkbox" name="data[type][]" {if @in_array(4,$item['type'])}checked{/if} value="4">不查征信</label></div>
                    <div class="checkbox"><label><input type="checkbox" name="data[type][]" {if @in_array(5,$item['type'])}checked{/if} value="5">信用卡贷</label></div>
                    <div class="checkbox"><label><input type="checkbox" name="data[type][]" {if @in_array(6,$item['type'])}checked{/if} value="6">公积金贷</label></div>
                    <div class="checkbox"><label><input type="checkbox" name="data[type][]" {if @in_array(7,$item['type'])}checked{/if} value="7">大额贷</label></div>
                    <div class="checkbox"><label><input type="checkbox" name="data[type][]" {if @in_array(8,$item['type'])}checked{/if} value="8">抵押贷</label></div>
                    <div class="checkbox"><label><input type="checkbox" name="data[type][]" {if @in_array(9,$item['type'])}checked{/if} value="9">秒到账</label></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">最高额度</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[money_high]" value="{$item['money_high']}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">通过率</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][pass_rate]" value="{$item['ext_info']['pass_rate']}" />
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">贷款期限</label>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <input type="text" class="form-control"  name="data[time_blow]" value="{$item['time_blow']}" />
                    <span class="help-block">最低能贷多少月</span>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <input type="text" class="form-control"  name="data[time_high]" value="{$item['time_high']}" />
                    <span class="help-block">最高能贷多少月</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">贷款利率</label>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <select class="form-control" name="data[rate_type]">
                        <option value="1" {if $item['rate_type']==1}selected{/if}>天利率</option>
                        <option value="30" {if $item['rate_type']==30}selected{/if}>月利率</option>
                    </select>
                    <span class="help-block">利率类型</span>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <div class="input-group">
                      <input type="text" class="form-control" name="data[rate]" value="{$item['rate']}" >
                      <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">标签</label>
                {if $item['ext_info']['tag']}
                {loop $item['ext_info']['tag'] $tag_k $tag_v}
                <div class="col-sm-2 col-lg-2 col-xs-12 reduce_xs">
                    <div class="input-group">
                      <span class="input-group-addon reduce" id="basic-addon1">-</span>
                      <input type="text" class="form-control" name="data[ext_info][tag][{$tag_k}]" tag_k="{$tag_k}" value="{$tag_v}" aria-describedby="basic-addon1">
                    </div>
                </div>
                {/loop}
                {else}
                <div class="col-sm-2 col-lg-2 col-xs-12 reduce_xs">
                    <div class="input-group">
                      <span class="input-group-addon reduce"  id="basic-addon1">-</span>
                      <input type="text" class="form-control" name="data[ext_info][tag][0]" tag_k="0" aria-describedby="basic-addon1">
                    </div>
                </div>
                {/if}
                <div class="col-sm-2 col-lg-1 col-xs-12">
                    <div class="input-group" style="width:10px; height: 32px;">
                      <span class="input-group-addon plus" id="basic-addon1">+</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">申请条件</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    {php echo tpl_ueditor('data[ext_info][conditions]', $item[ext_info][conditions]);}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">注意事项</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    {php echo tpl_ueditor('data[ext_info][reminds]', $item[ext_info][reminds]);}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">贷款链接</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[ext_info][url]" value="{$item['ext_info']['url']}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <input class="btn btn-default" type="submit" value="提交">
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).on('click', ".reduce", function(){
        var len = $(this).parent().parent().parent().find('.reduce').length;
        if (len<=1) {
            alert('标签最少要为1个');
            return false;
        } else {
            $(this).parent().parent().hide(300, function(){ $(this).remove(); }); 
        }
    })
    $(document).on('click', ".plus", function(){
        var len = $(this).parent().parent().parent().find('.reduce').length;
        if (len>=3) {
            alert('标签最多为3个');
            return false;
        }
        var last = $(this).parent().parent().parent().find('.reduce_xs:last');
        var tag_k = parseInt($(last).find('.form-control').attr('tag_k'))+1;
        var a_html = '<div class="col-sm-2 col-lg-2 col-xs-12 reduce_xs" style="display:none">\
                        <div class="input-group">\
                          <span class="input-group-addon reduce"  id="basic-addon1">-</span>\
                          <input type="text" class="form-control" name="data[ext_info][tag][' + tag_k + ']" tag_k="' + tag_k + '" aria-describedby="basic-addon1">\
                        </div>\
                    </div>';
        $(last).after(a_html);
        $('.reduce_xs').show(300);
    })
</script>
{else if $operation == 'advs_add' || $operation == 'advs_update'}
<div class="panel panel-info">
    <div class="panel-heading">添加/编辑&nbsp;广告</div>
    <div class="panel-body">
        <form action="./index.php" method="post" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="xuan_mixloan" />
            <input type="hidden" name="do" value="loan" />
            <input type="hidden" name="op" value="{$operation}" />
            <input type="hidden" name="id" value="{$_GPC['id']}" />
            <input type="hidden" name="post" value="1" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">广告名称</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[name]" value="{$item['name']}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">广告图片</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    {php echo tpl_form_field_image('data[ext_info][pic]',$item['ext_info']['pic']);}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">跳转链接</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[ext_info][name]" value="{$item['ext_info']['name']}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <input class="btn btn-default" type="submit" value="提交">
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>
{/if}
{template 'common/footer'}