{template 'common/header'}
<style type="text/css">
    .search_result{
        width: 100%;
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-right: 1px solid;
        background: white;
        border-color: #e7e7eb;
        border-radius: 0;
        box-shadow: 0 0 0;
        text-shadow: 0 0 0;
        border-bottom-right-radius:4px;
        border-bottom-left-radius:4px;
    }
    .search_result_li{
        padding: 8px 10px;
        font-size: 12px;
    }
    .search_result_li:hover{
        background: #e7e7eb
    }
</style>
<ul class="nav nav-tabs">
    <li {if $operation=='list'}class="active"{/if}><a href="{php echo $this->createWebUrl('product')}">产品列表</a></li>
    <li {if $operation == 'update' || $operation == 'add'}class="active"{/if}><a href="{php echo $this->createWebUrl('product', array('op' => 'add'));}">添加/编辑&nbsp;产品</a></li>
    <li {if $operation=='advs_list'}class="active"{/if}><a href="{php echo $this->createWebUrl('product', array('op' => 'advs_list'));}">幻灯片列表</a></li>
    <li {if $operation == 'advs_update' || $operation == 'advs_add'}class="active"{/if}><a href="{php echo $this->createWebUrl('product', array('op' => 'advs_add'));}">添加/编辑&nbsp;幻灯片</a></li>
</ul>
{if $operation == 'list'}
<div class="panel panel-info">
    <div class="panel-heading">筛选</div>
    <div class="panel-body">
        <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="xuan_mixloan" />
            <input type="hidden" name="do" value="product" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">名称</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="name" value="{$_GPC['name']}"/>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div><div class="clearfix">
<div class="panel panel-default" style="font-size:11px;">
    <div class="panel-heading">总数：{$total}</div>
    <div class="panel-body">
        <table class="table table-hover" style="overflow:visible;">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:80px;'>产品ID</th>
                    <th style='width:120px;'>产品名称</th>
                    <th style='width:200px;'>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                <tr>
                    <td>   {$row['id']}</td>
                    <td>   {$row['name']}</td>
                    <td>{php echo date('Y-m-d H:i',$row['createtime'])}</td>
                    <td  style="overflow:visible;">
                        
                        <div class="btn-group btn-group-sm" >
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="javascript:;">操作 <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu" style='z-index: 9999;min-width: 50px'>
                                
                                <li><a  href="{php echo $this->createWebUrl('product',array('op'=>'update','id' => $row['id']));}" title='编辑产品'><i class='fa fa-edit'></i> 编辑产品</a></li>
                                <!-- <li><a  href="{php echo $this->createWebUrl('product',array('op'=>'delete','id' => $row['id']));}" title='删除产品' onclick="return confirm('确定要删除该产品吗？');"><i class='fa fa-remove'></i> 删除产品</a></li> -->
                            </ul>
                        </div>
                        
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {$pager}
    </div>
</div>
</div>
{else if $operation == 'advs_list'}
<div class="clearfix">
<div class="panel panel-default" style="font-size:11px;">
    <div class="panel-heading">总数：{$total}</div>
    <div class="panel-body">
        <table class="table table-hover" style="overflow:visible;">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:80px;'>广告ID</th>
                    <th style='width:120px;'>广告名称</th>
                    <th style='width:200px;'>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                <tr>
                    <td>   {$row['id']}</td>
                    <td>   {$row['name']}</td>
                    <td>{php echo date('Y-m-d H:i',$row['createtime'])}</td>
                    <td  style="overflow:visible;">
                        
                        <div class="btn-group btn-group-sm" >
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="javascript:;">操作 <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu" style='z-index: 9999;min-width: 50px'>
                                
                                <li><a  href="{php echo $this->createWebUrl('product',array('op'=>'advs_update','id' => $row['id']));}" title='编辑广告'><i class='fa fa-edit'></i> 编辑广告</a></li>
                                <li><a  href="{php echo $this->createWebUrl('product',array('op'=>'advs_delete','id' => $row['id']));}" title='删除广告' onclick="return confirm('确定要删除该广告吗？');"><i class='fa fa-remove'></i> 删除广告</a></li>
                            </ul>
                        </div>
                        
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {$pager}
    </div>
</div>
</div>
{else if $operation == 'add' || $operation == 'update'}
<div class="panel panel-info">
    <div class="panel-heading">添加/编辑&nbsp;产品</div>
    <div class="panel-body">
        <form action="./index.php" method="post" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="xuan_mixloan" />
            <input type="hidden" name="do" value="product" />
            <input type="hidden" name="op" value="{$operation}" />
            <input type="hidden" name="id" value="{$_GPC['id']}" />
            <input type="hidden" name="post" value="1" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">产品名称</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[name]" value="{$item['name']}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">产品logo</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    {php echo tpl_form_field_image('data[ext_info][logo]',$item['ext_info']['logo']);}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">产品宣传图</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    {php echo tpl_form_field_image('data[ext_info][pic]',$item['ext_info']['pic']);}
                    <span class="help-block">建议：正方形图片，用于详情的头图</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">申请宣传长图</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    {php echo tpl_form_field_image('data[ext_info][apply_pic]',$item['ext_info']['apply_pic']);}
                                <span class="help-block">推荐尺寸：360*600，务必上传png图片</span>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">海报设置</label>
                <div class="col-sm-4 col-xs-6">
                    {php echo tpl_form_field_image('data[ext_info][poster_image]',$item['ext_info']['poster_image']);}
                                <span class="help-block">推荐尺寸：360*600，务必上传png图片</span>
                </div>
                <div class="col-sm-3 col-xs-3">
                    <select class="form-control" name="data[ext_info][poster_avatar]">
                        <option value="1" {if $item['ext_info']['poster_avatar']==1}selected{/if}>是</option>
                        <option value="0" {if $item['ext_info']['poster_avatar']==0}selected{/if}>否</option>
                    </select>
                    <span class="help-block">是否需要头像</span>
                </div>
                <div class="col-sm-3 col-xs-3">
                    {php echo tpl_form_field_color('data[ext_info][poster_color]',$item['ext_info']['poster_color']);}
                    <span class="help-block">昵称颜色</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">是否上架</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select class="form-control" name="data[is_show]" >
                        <option value="0" {if $item['is_show']==0}selected{/if}>否</option>
                        <option value="1" {if $item['is_show']==1}selected{/if}>是</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">是否热门</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select class="form-control" name="data[is_hot]" >
                        <option value="0" {if $item['is_hot']==0}selected{/if}>否</option>
                        <option value="1" {if $item['is_hot']==1}selected{/if}>是</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">结算时间</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select class="form-control" name="data[count_time]" >
                        <option value="1" {if $item['count_time']==1}selected{/if}>按天</option>
                        <option value="7" {if $item['count_time']==7}selected{/if}>按周</option>
                        <option value="30" {if $item['count_time']==30}selected{/if}>按月</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">所属分类</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select class="form-control" name="data[type]">
                        <option value="0" >选择分类</option>
                        <option value="1" {if $item['type']==1}selected{/if}>卡类</option>
                        <option value="2" {if $item['type']==2}selected{/if}>贷款</option>
                    </select>
                </div>
            </div>
            <div class="form-group" {if $item['type']!=2}style="display: none"{/if} id='loan_type'>
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">贷款分类</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select class="form-control" name="data[loan_type]">
                        <option value="1" {if $item['loan_type'] == 1} selected="" {/if}>CPA产品</option>
                        <option value="2" {if $item['loan_type'] == 2} selected="" {/if}>高炮cps</option>
                        <option value="3" {if $item['loan_type'] == 3} selected="" {/if}>大额cps</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关联产品</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  id="relate_name" onkeyup="change_relate()" value="{$relate_name}" />
                    <input type="hidden" id="relate_id" name="data[relate_id]" value="{$item['relate_id']}">
                    <ul class="search_result" style="display: none"></ul>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">下款/卡&nbsp;奖励方式</label>
                <div class="col-sm-3 col-lg-3 col-xs-12">
                    <select class="form-control" name="data[done_reward_type]" onchange="change_done_type();">
                        <option value="0" {if $item['done_reward_type']==0}selected{/if}>不奖励</option>
                        <option value="1" {if $item['done_reward_type']==1}selected{/if}>固定金额</option>
                        <option value="2" {if $item['done_reward_type']==2}selected{/if}>点数</option>
                    </select>
                </div>
            </div>
            <div class="form-group done_reward_type2"  {if $item['done_reward_type']!=2}style="display: none"{/if}>
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">下款/卡&nbsp;一级奖励</label>
                <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][done_one_init_reward_per]" value="{$item['ext_info']['done_one_init_reward_per']}" placeholder="请填写点数" />
                        <span class="input-group-addon">点</span>
                    </div>
                </div>
            </div>
            <div class="form-group done_reward_type2"  {if $item['done_reward_type']!=2}style="display: none"{/if} >
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">下款/卡&nbsp;二级奖励</label>
                <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][done_two_init_reward_per]" value="{$item['ext_info']['done_two_init_reward_per']}" placeholder="请填写点数" />
                        <span class="input-group-addon">点</span>
                    </div>
                </div>
            </div>
            <div class="form-group done_reward_type1"  {if $item['done_reward_type']!=1}style="display: none"{/if}>
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">下款/卡&nbsp;一级奖励</label>
                <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][done_one_init_reward_money]" value="{$item['ext_info']['done_one_init_reward_money']}" placeholder="请填写奖励金额" />
                        <span class="input-group-addon">元</span>
                    </div>
                </div>
            </div>
            <div class="form-group done_reward_type1"  {if $item['done_reward_type']!=1}style="display: none"{/if} >
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">下款/卡&nbsp;二级奖励</label>
                <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][done_two_init_reward_money]" value="{$item['ext_info']['done_two_init_reward_money']}" placeholder="请填写奖励金额" />
                        <span class="input-group-addon">元</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">注册款/卡&nbsp;奖励方式</label>
                <div class="col-sm-3 col-lg-3 col-xs-12">
                    <select class="form-control" name="data[re_reward_type]" onchange="change_re_type();">
                        <option value="0" {if $item['re_reward_type']==0}selected{/if}>不奖励</option>
                        <option value="1" {if $item['re_reward_type']==1}selected{/if}>固定金额</option>
                        <option value="2" {if $item['re_reward_type']==2}selected{/if}>点数</option>
                    </select>
                </div>
            </div>
            <div class="form-group re_reward_type1"  {if $item['re_reward_type']!=1}style="display: none"{/if}>
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">注册&nbsp;一级奖励</label>
                <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][re_one_init_reward_money]" value="{$item['ext_info']['re_one_init_reward_money']}" placeholder="请填写奖励金额" />
                        <span class="input-group-addon">元</span>
                    </div>
                </div>
            </div>
            <div class="form-group re_reward_type1"  {if $item['re_reward_type']!=1}style="display: none"{/if} >
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">注册&nbsp;二级奖励</label>
                <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][re_two_init_reward_money]" value="{$item['ext_info']['re_two_init_reward_money']}" placeholder="请填写奖励金额" />
                        <span class="input-group-addon">元</span>
                    </div>
                </div>
            </div>
            <div class="form-group re_reward_type2"  {if $item['re_reward_type']!=2}style="display: none"{/if}>
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">注册&nbsp;一级奖励</label>
                <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][re_one_init_reward_per]" value="{$item['ext_info']['re_one_init_reward_per']}" placeholder="请填写奖励点数" />
                        <span class="input-group-addon">点</span>
                    </div>
                </div>
            </div>
            <div class="form-group re_reward_type2"  {if $item['re_reward_type']!=2}style="display: none"{/if} >
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">注册&nbsp;二级奖励</label>
                <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][re_two_init_reward_per]" value="{$item['ext_info']['re_two_init_reward_per']}" placeholder="请填写奖励点数" />
                        <span class="input-group-addon">点</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">额外奖金</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select class="form-control" name="data[ext_info][is_extra_reward]" onchange="additional();">
                        <option value="0" {if $item['ext_info']['is_extra_reward']==0}selected{/if}>不设奖金</option>
                        <option value="1" {if $item['ext_info']['is_extra_reward']==1}selected{/if}>设置奖金</option>
                    </select>
                </div>
            </div>
            <div class="form-group extra" {if $item['ext_info']['is_extra_reward']!=1}style="display: none"{/if}>
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">额外奖励方式</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select class="form-control" name="data[ext_info][extra_reward_type]" onchange="additional_type();">
                        <option value="0" {if $item['ext_info']['extra_reward_type']==0}selected{/if}>满额奖励</option>
                        <option value="1" {if $item['ext_info']['extra_reward_type']==1}selected{/if}>满人奖励</option>
                    </select>
                    <span class="help-block">提示：下卡奖励只能通过满人方式</span>
                </div>
            </div>
            <div class="form-group" id="cond" {if $item['ext_info']['is_extra_reward']!=1 || $item['ext_info']['extra_reward_type']==1}style="display: none"{/if}>
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">额外奖励条件</label>
                 <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][extra_reward_one_cond]" value="{$item['ext_info']['extra_reward_one_cond']}" placeholder="条件1，满多少" />
                        <span class="input-group-addon" >元</span>
                    </div>
                </div>
                 <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][extra_reward_two_cond]" value="{$item['ext_info']['extra_reward_two_cond']}" placeholder="条件2，满多少" />
                        <span class="input-group-addon" >元</span>
                    </div>
                </div>
                 <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][extra_reward_thr_cond]" value="{$item['ext_info']['extra_reward_thr_cond']}" placeholder="条件3，满多少" />
                        <span class="input-group-addon" >元</span>
                    </div>
                </div>
            </div>
            <div class="form-group" id="con" {if $item['ext_info']['is_extra_reward']!=1 || $item['ext_info']['extra_reward_type']!=1}style="display: none"{/if}>
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">额外奖励条件</label>
                 <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][extra_reward_one_con]" value="{$item['ext_info']['extra_reward_one_con']}" placeholder="条件1，满多少" />
                        <span class="input-group-addon" >人</span>
                    </div>
                </div>
                 <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][extra_reward_two_con]" value="{$item['ext_info']['extra_reward_two_con']}" placeholder="条件2，满多少" />
                        <span class="input-group-addon" >人</span>
                    </div>
                </div>
                 <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][extra_reward_thr_con]" value="{$item['ext_info']['extra_reward_thr_con']}" placeholder="条件3，满多少" />
                        <span class="input-group-addon" >人</span>
                    </div>
                </div>
            </div>
             <div class="form-group extra" {if $item['ext_info']['is_extra_reward']!=1}style="display: none"{/if}>
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">额外奖励现金</label>
                 <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][extra_reward_one_money]" value="{$item['ext_info']['extra_reward_one_money']}" placeholder="满足条件1后奖励多少" />
                        <span class="input-group-addon" >元</span>
                    </div>
                </div>
                 <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][extra_reward_two_money]" value="{$item['ext_info']['extra_reward_two_money']}" placeholder="满足条件2后奖励多少" />
                        <span class="input-group-addon" >元</span>
                    </div>
                </div>
                 <div class="col-sm-3 col-lg-3 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control"  name="data[ext_info][extra_reward_thr_money]" value="{$item['ext_info']['extra_reward_thr_money']}" placeholder="满足条件3后奖励多少" />
                        <span class="input-group-addon" >元</span>
                    </div>
                </div>
            </div>
<script type="text/javascript">
    var change_relate = function(){
        var type = $("select[name='data[type]']").val();
        if (type == 0) {
            alert('请选择分类');
            $("select[name='data[type]']").focus();
            return false;
        }
        var name = $('#relate_name').val();
        $.post("{php echo $this->createWebUrl('product', array('op'=>'getRelate'))}", {'name':name, 'type':type},
            function(data) {
                if(data.code==1){
                    var str = "";
                    items = data.data.items;
                    for (var i = 0; i < items.length; i++) {
                        str += '<li class="search_result_li" onclick="relate(' + items[i].id + ', \'' + items[i].name + '\')">' + items[i].name + '</li>';
                    }
                    $('.search_result').html(str);
                    $('.search_result').show();
                    return false;
                }else{
                    var str='<li class="search_result_li">没有找到匹配项</li>';
                    $('.search_result').html(str);
                    $('.search_result').show();
                    return false;
                }

            },'json');
    }
    var relate = function(id, name){
        console.log(id);
        $('#relate_id').val(id);
        $('#relate_name').val(name);
        $('.search_result').hide()
    }
    var change_done_type =function (){
        var value = $("select[name='data[done_reward_type]']").val();
        if (value == 1) {
            $('.done_reward_type1').show(300);
            $('.done_reward_type2').hide(300);
        } else if (value == 2) {
            $('.done_reward_type1').hide(300);
            $('.done_reward_type2').show(300);
        } else {
            $('.done_reward_type1').hide(300);
            $('.done_reward_type2').hide(300);
        }
    }
    var change_re_type =function (){
        var value = $("select[name='data[re_reward_type]']").val();
        if (value == 1) {
            $('.re_reward_type1').show(300);
            $('.re_reward_type2').hide(300);
        } else if (value == 2) {
            $('.re_reward_type2').show(300);
            $('.re_reward_type1').hide(300);
        } else {
            $('.re_reward_type1').hide(300);
            $('.re_reward_type2').hide(300);
        }
    }
    var additional = function (){
        var value = $("select[name='data[ext_info][is_extra_reward]']").val();
        if (value == 1) {
            $('.extra').show(500);
            {if $item['ext_info']['extra_reward_type']}
            $("input[name='data[ext_info][extra_reward_thr_con]']").parent().parent().parent().show(500);
            $("input[name='data[ext_info][extra_reward_thr_cond]']").parent().parent().parent().hide();
            {else}
            $("input[name='data[ext_info][extra_reward_thr_cond]']").parent().parent().parent().show(500);
            $("input[name='data[ext_info][extra_reward_thr_con]']").parent().parent().parent().hide();
            {/if}
        } else {
            $('#cond').hide(500);
            $('#con').hide(500);
            $('.extra').hide(500);
        }
    }
    var additional_type = function () {
        var value = $("select[name='data[ext_info][extra_reward_type]']").val();
        console.log(value);
        if (value == 1) {
            $("#cond").hide(500);
            $("#con").show(500);
        } else {
            $("#cond").show(500);
            $("#con").hide(500);
        }
    }
</script>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <input class="btn btn-default" type="submit" value="提交">
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).on('click', ".reduce", function(){
        var len = $(this).parent().parent().parent().find('.reduce').length;
        if (len<=1) {
            alert('标签最少要为1个');
            return false;
        } else {
            $(this).parent().parent().hide(300, function(){ $(this).remove(); }); 
        }
    })
    $(document).on('click', ".plus", function(){
        var len = $(this).parent().parent().parent().find('.reduce').length;
        if (len>=3) {
            alert('标签最多为3个');
            return false;
        }
        var last = $(this).parent().parent().parent().find('.reduce_xs:last');
        var tag_k = parseInt($(last).find('.form-control').attr('tag_k'))+1;
        var a_html = '<div class="col-sm-2 col-lg-2 col-xs-12 reduce_xs" style="display:none">\
                        <div class="input-group">\
                          <span class="input-group-addon reduce"  id="basic-addon1">-</span>\
                          <input type="text" class="form-control" name="data[ext_info][tag][' + tag_k + ']" tag_k="' + tag_k + '" aria-describedby="basic-addon1">\
                        </div>\
                    </div>';
        $(last).after(a_html);
        $('.reduce_xs').show(300);
    })
</script>
{else if $operation == 'advs_add' || $operation == 'advs_update'}
<div class="panel panel-info">
    <div class="panel-heading">添加/编辑&nbsp;广告</div>
    <div class="panel-body">
        <form action="./index.php" method="post" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="xuan_mixloan" />
            <input type="hidden" name="do" value="product" />
            <input type="hidden" name="op" value="{$operation}" />
            <input type="hidden" name="id" value="{$_GPC['id']}" />
            <input type="hidden" name="post" value="1" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">广告名称</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[name]" value="{$item['name']}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">广告图片</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    {php echo tpl_form_field_image('data[ext_info][pic]',$item['ext_info']['pic']);}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">跳转链接</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" class="form-control"  name="data[ext_info][name]" value="{$item['ext_info']['name']}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <input class="btn btn-default" type="submit" value="提交">
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>
{/if}
{template 'common/footer'}