{template 'common/header'}
<ul class="nav nav-tabs">
	<li class="active"><a href="./index.php?c=profile&a=module&do=setting&m=xuan_mixloan">参数设置</a></li>
</ul>
<div class="main">
	{php load()->func('tpl');}
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#banpic" aria-controls="banpic" role="tab" data-toggle="tab">网站设置</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">

			<div role="tabpanel" class="tab-pane active" id="banpic">
				<div class="panel panel-default">
					<div class="panel-heading">
						网站设置
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">网站设置</label>
							<div class="col-sm-3 col-xs-4">
								<input type="text" name="title" value="{$setting['title']}" class="form-control">
								<span class="help-block">网站名称</span>
							</div>
							<div class="col-sm-3 col-xs-4">
								<input type="text" name="wx_name" value="{$setting['wx_name']}" class="form-control">
								<span class="help-block">公众号名称</span>
							</div>
							<div class="col-sm-3 col-xs-4">
								{php echo tpl_form_field_image(logo,$setting['logo']);}
								<span class="help-block">网站logo，推荐尺寸：正方形</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享设置</label>
							<div class="col-sm-3 col-xs-4">
								<input type="text" name="share_title" value="{$setting['share_title']}" class="form-control" >
								<span class="help-block">分享标题</span>
							</div>
							<div class="col-sm-3 col-xs-4">
								<input type="text" name="share_desc" value="{$setting['share_desc']}" class="form-control" >
								<span class="help-block">分享描述</span>
							</div>
							<div class="col-sm-3 col-xs-4">
								{php echo tpl_form_field_image(share_image,$setting['share_image']);}
								<span class="help-block">分享图片，推荐尺寸：720*396</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">公众号二维码</label>
							<div class="col-sm-3 col-xs-4">
								{php echo tpl_form_field_image(wx_qrcode,$setting['wx_qrcode']);}
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">客服QQ</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text" name="qqnum" value="{$setting['qqnum']}" class="form-control" >
							</div>
						</div>
					</div>
					<div class="panel-heading">
						个人中心
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">贷款中心</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$loan}" class="form-control" readonly>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>

{template 'common/footer'}