{template 'common/header'}
<ul class="nav nav-tabs">
	<li class="active"><a href="./index.php?c=profile&a=module&do=setting&m=xuan_mixloan">参数设置</a></li>
</ul>
<div class="main">
	{php load()->func('tpl');}
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#banpic" aria-controls="banpic" role="tab" data-toggle="tab">网站设置</a></li>
			<li role="presentation" ><a href="#key" aria-controls="key" role="tab" data-toggle="tab">key设置</a></li>
			<li role="presentation" ><a href="#monitor" aria-controls="monitor" role="tab" data-toggle="tab">协议设置</a></li>
			<li role="presentation" ><a href="#pics" aria-controls="pics" role="tab" data-toggle="tab">图片设置</a></li>
			<li role="presentation" ><a href="#buy_vip" aria-controls="buy_vip" role="tab" data-toggle="tab">购买代理设置</a></li>
			<li role="presentation" ><a href="#credit" aria-controls="credit" role="tab" data-toggle="tab">信用查询设置</a></li>
			<li role="presentation" ><a href="#extend_bonus" aria-controls="extend_bonus" role="tab" data-toggle="tab">推荐有奖设置</a></li>
			<li role="presentation" ><a href="#partner" aria-controls="partner" role="tab" data-toggle="tab">合伙人设置</a></li>
			<li role="presentation" ><a href="#product" aria-controls="product" role="tab" data-toggle="tab">产品设置</a></li>
			<li role="presentation" ><a href="#backup" aria-controls="backup" role="tab" data-toggle="tab">资料备份设置</a></li>

		</ul>
		<!-- Tab panes -->
		<div class="tab-content">

			<div role="tabpanel" class="tab-pane active" id="banpic">
				<div class="panel panel-default">
					<div class="panel-heading">
						网站设置
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">网站设置</label>
							<div class="col-sm-3 col-xs-4">
								<input type="text" name="title" value="{$setting['title']}" class="form-control">
								<span class="help-block">网站名称</span>
							</div>
							<div class="col-sm-3 col-xs-4">
								<input type="text" name="wx_name" value="{$setting['wx_name']}" class="form-control">
								<span class="help-block">公众号名称</span>
							</div>
							<div class="col-sm-3 col-xs-4">
								{php echo tpl_form_field_image(logo,$setting['logo']);}
								<span class="help-block">网站logo，推荐尺寸：正方形</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享设置</label>
							<div class="col-sm-3 col-xs-4">
								<input type="text" name="share_title" value="{$setting['share_title']}" class="form-control" >
								<span class="help-block">分享标题</span>
							</div>
							<div class="col-sm-3 col-xs-4">
								<input type="text" name="share_desc" value="{$setting['share_desc']}" class="form-control" >
								<span class="help-block">分享描述</span>
							</div>
							<div class="col-sm-3 col-xs-4">
								{php echo tpl_form_field_image(share_image,$setting['share_image']);}
								<span class="help-block">分享图片，推荐尺寸：720*396</span>
							</div>
						</div>
						<div class="form-group">
			                <label class="col-xs-12 col-sm-3 col-md-2 control-label">贷超开关</label>
			                <div class="col-sm-3 col-xs-6" >
								<select class="form-control" name="loan_open">
									<option value="1" {if $setting['loan_open'] == 1}selected{/if}>开</option>
									<option value="0" {if $setting['loan_open'] == 0}selected{/if}>关</option>
								</select>
							</div>
			            </div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">客服QQ</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text" name="qqnum" value="{$setting['qqnum']}" class="form-control" >
							</div>
						</div>

						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">征信查询</label>
							<div class="col-sm-3 col-xs-12">
								<input type="text"  value="{$setting['pcredit_url1']}" class="form-control" name="pcredit_url1">
								<span class="help-block">链接地址1</span>
							</div>
							<div class="col-sm-3 col-xs-12">
								<input type="text"  value="{$setting['pcredit_url2']}" class="form-control" name="pcredit_url2">
								<span class="help-block">链接地址2</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">实名提示</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$setting['verify_tips']}" class="form-control" name="verify_tips">
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">监控链接</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$queue_url}" class="form-control" readonly>
							</div>
						</div>
					</div>
					<div class="panel-heading">
						加入代理
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">购买代理地址</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$vip_buy}" class="form-control" readonly>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">新手指南地址</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$mix_tutorials}" class="form-control" readonly>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">在线客服地址</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$mix_service}" class="form-control" readonly>
							</div>
						</div>
					</div>
					<div class="panel-heading">
						生活服务
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">信用查询</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$credit}" class="form-control" readonly>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">贷款超市地址</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$loan}" class="form-control" readonly>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">申请信用卡地址</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$want_subscribe}" class="form-control" readonly>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">查询申卡进度</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$extend_query}" class="form-control" readonly>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">提额小秘籍</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$extend_tips}" class="form-control" readonly>
							</div>
						</div>
					</div>
					<div class="panel-heading">
						个人中心
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">推荐有奖</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$extend_bonus}" class="form-control" readonly>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">个人中心地址</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$user}" class="form-control" readonly>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">今日口子地址</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$channel}" class="form-control" readonly>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">代理系统地址</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$product}" class="form-control" readonly>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">我的代理店地址</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$createPostAllProduct}" class="form-control" readonly>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">金融朋友圈地址</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$friend}" class="form-control" readonly>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="key">
				<div class="panel panel-default">
					<div class="panel-heading">
						key设置
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">短信接口</label>
							<div class="col-sm-3 col-xs-12" >
								<input type="text" value="{$setting['smsuser']}" name="smsuser" class="form-control" placeholder="短信宝帐号" />
								<span class="help-block">
									短信接口使用的是短信宝，短信购买地址:<a href="http://www.smsbao.com/reg?r=10624 " target="_blank">http://www.smsbao.com/reg?r=10624 </a>
								</span>
							</div>
							<div class="col-sm-3 col-xs-12" >
								<input type="text" value="{$setting['smspass']}" name="smspass" class="form-control" placeholder="短信宝密码"/>
							</div>
						</div>
						<div class="form-group">
			                <label class="col-xs-12 col-sm-3 col-md-2 control-label">京东万象</label>
			                <div class="col-sm-3 col-xs-6" >
								<select class="form-control" name="jdwx_open">
									<option value="1" {if $setting['jdwx_open'] == 1}selected{/if}>是</option>
									<option value="0" {if $setting['jdwx_open'] == 0}selected{/if}>否</option>
								</select>
							</div>
			                <div class="col-sm-3 col-xs-6">
			                    <input type="password" class="form-control" name="jdwx_key" value="{$setting['jdwx_key']}" placeholder="京东万象key">
			                    <span class="help-block">
			                    申请地址：<a href="https://wx.jcloud.com/" target="_blank">https://wx.jcloud.com/</a>
									<!-- <br/>购买地址：<a href="https://wx.jcloud.com/market/datas/16/11147" target="_blank">手机号三元素</a> -->
								<br/>购买地址：<a href="https://wx.jcloud.com/market/datas/5/10678" target="_blank">识别银行卡名称</a>
								<br/>购买地址：<a href="https://wx.jcloud.com/market/datas/5/11577" target="_blank">识别银行卡四要素</a>
								<br/>购买地址：<a href="https://wx.jdcloud.com/market/datas/5/11044" target="_blank">蜜罐数据</a>
			                    </span>
			                </div>
			            </div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">邀请已接受通知</label>
							<div class="col-sm-9 col-xs-12" >
                    			<input type="text" value="{$setting['tpl_notice1']}" name="tpl_notice1" class="form-control" placeholder="邀请已接受通知"/>
                    			<span class="help-block">请添加：[IT科技 - 互联网|电子商务]邀请已接受通知&nbsp;模板消息，编号为OPENTM412357807</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">购买成功通知</label>
							<div class="col-sm-9 col-xs-12" >
                    			<input type="text" value="{$setting['tpl_notice2']}" name="tpl_notice2" class="form-control" placeholder="购买成功通知"/>
                    			<span class="help-block">请添加：[IT科技 - 互联网|电子商务]购买成功通知&nbsp;模板消息，编号为TM00001</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">文档签署提醒</label>
							<div class="col-sm-9 col-xs-12" >
                    			<input type="text" value="{$setting['tpl_notice3']}" name="tpl_notice3" class="form-control" placeholder="文档签署提醒"/>
                    			<span class="help-block">请添加：[IT科技 - 互联网|电子商务]文档签署提醒&nbsp;模板消息，编号为OPENTM406622845</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">关注成功通知</label>
							<div class="col-sm-9 col-xs-12" >
                    			<input type="text" value="{$setting['tpl_notice4']}" name="tpl_notice4" class="form-control" placeholder="关注成功通知"/>
                    			<span class="help-block">请添加：[IT科技 - 互联网|电子商务]关注成功通知&nbsp;模板消息，编号为OPENTM405896778</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">返现到账通知</label>
							<div class="col-sm-9 col-xs-12" >
                    			<input type="text" value="{$setting['tpl_notice5']}" name="tpl_notice5" class="form-control" placeholder="返现到账通知"/>
                    			<span class="help-block">请添加：[IT科技 - 互联网|电子商务]返现到账通知&nbsp;模板消息，编号为TM00211</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">商品下架通知</label>
							<div class="col-sm-9 col-xs-12" >
                    			<input type="text" value="{$setting['tpl_notice7']}" name="tpl_notice7" class="form-control" placeholder="商品下架通知"/>
                    			<span class="help-block">请添加：[IT科技 - 互联网|电子商务]商品下架通知&nbsp;模板消息，编号为OPENTM204398863</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="monitor">
				<div class="panel panel-default">
					<div class="panel-heading">
						协议设置
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">注册协议</label>
							<div class="col-sm-9 col-xs-12" >
                    			{php echo tpl_ueditor('register_contract', $setting['register_contract']);}
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="pics">
				<div class="panel panel-default">
					<div class="panel-heading">
						图片设置
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">邀请注册图1</label>
							<div class="col-sm-4 col-xs-12" >
								<img src="../addons/xuan_mixloan/template/style/new_register/images/1.png" width="300px">
							</div>
							<div class="col-sm-4 col-xs-12" >
								{php echo tpl_form_field_image(register_pic_a,$setting['register_pic_a']);}
								<span class="help-block">图片大小：303*280</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">邀请注册图2</label>
							<div class="col-sm-4 col-xs-12" >
								<img src="../addons/xuan_mixloan/template/style/new_register/images/2.png" width="300px">
							</div>
							<div class="col-sm-4 col-xs-12" >
								{php echo tpl_form_field_image(register_pic_b,$setting['register_pic_b']);}
								<span class="help-block">图片大小：303*296</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">邀请注册图3</label>
							<div class="col-sm-4 col-xs-12" >
								<img src="../addons/xuan_mixloan/template/style/new_register/images/4.png" width="300px">
							</div>
							<div class="col-sm-4 col-xs-12" >
								{php echo tpl_form_field_image(register_pic_c,$setting['register_pic_c']);}
								<span class="help-block">图片大小：303*228</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">邀请注册图4</label>
							<div class="col-sm-4 col-xs-12" >
								<img src="../addons/xuan_mixloan/template/style/new_register/images/5.png" width="300px">
							</div>
							<div class="col-sm-4 col-xs-12" >
								{php echo tpl_form_field_image(register_pic_d,$setting['register_pic_d']);}
								<span class="help-block">图片大小：303*193</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">新手指南图片</label>
							<div class="col-sm-9 col-xs-12" >
								{php echo tpl_form_field_image(tutorials_pic,$setting['tutorials_pic']);}
                    			<span class="help-block">建议上传单张介绍长图，描述新手指南</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">客服图片</label>
							<div class="col-sm-9 col-xs-12" >
								{php echo tpl_form_field_image(service_pic,$setting['service_pic']);}
                    			<span class="help-block">建议上传1712*1854尺寸图片，描述怎么联系客服</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">代理店logo</label>
							<div class="col-sm-9 col-xs-12" >
								{php echo tpl_form_field_image(product_logo,$setting['product_logo']);}
                    			<span class="help-block">建议上传正方形logo图片，背景一定要透明哦</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">生产全部产品代理图片</label>
							<div class="col-sm-9 col-xs-12" >
								{php echo tpl_form_field_multi_image(vip_comm,$setting['vip_comm']);}
                    			<span class="help-block">建议上传多张介绍1080*1146长图，描述加入代理好处</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">产品总代理海报设置</label>
							<div class="col-sm-9 col-xs-9">
								{loop $posters $poster}
								<div class="checkbox">
									<label><input type="checkbox" name="product_poster[]" {if @in_array($poster['id'],$setting['product_poster'])}checked{/if} value="{$poster['id']}">{$poster['name']}</label>
								</div>
								{/loop}
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">邀请海报设置</label>
							<div class="col-sm-9 col-xs-9">
								{loop $posters $poster}
								<div class="checkbox">
									<label><input type="checkbox" name="inviter_poster[]" {if @in_array($poster['id'],$setting['inviter_poster'])}checked{/if} value="{$poster['id']}">{$poster['name']}</label>
								</div>
								{/loop}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="buy_vip">
				<div class="panel panel-default">
					<div class="panel-heading">
						购买代理设置
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">加入代理金额</label>
							<div class="col-sm-3 col-xs-12">
								<input type="text" name="buy_vip_price" value="{$setting['buy_vip_price']}" class="form-control" >
								<span class="help-block">单位为元</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">给上级返佣多少</label>
							<div class="col-sm-3 col-xs-4">
								<input type="text" name="inviter_fee_one" value="{$setting['inviter_fee_one']}" class="form-control" placeholder="单位为元">
								<span class="help-block">一级</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">给上级返佣多少</label>
							<div class="col-sm-3 col-xs-4">
								<input type="text" name="inviter_fee_two" value="{$setting['inviter_fee_two']}" class="form-control" placeholder="单位为元">
								<span class="help-block">二级</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">购买后开放贷款超市</label>
							<div class="col-sm-3 col-xs-12">
								<select class="form-control" name="loan_vip">
									<option value="0" {if $setting['loan_vip']==0}selected{/if}>否</option>
									<option value="1" {if $setting['loan_vip']==1}selected{/if}>是</option>
								</select>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">购买后开放今日口子</label>
							<div class="col-sm-3 col-xs-12">
								<select class="form-control" name="vip_channel">
									<option value="0" {if $setting['vip_channel']==0}selected{/if}>否</option>
									<option value="1" {if $setting['vip_channel']==1}selected{/if}>是</option>
								</select>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">购买后开放金融圈</label>
							<div class="col-sm-3 col-xs-12">
								<select class="form-control" name="vip_friend">
									<option value="0" {if $setting['vip_friend']==0}selected{/if}>否</option>
									<option value="1" {if $setting['vip_friend']==1}selected{/if}>是</option>
								</select>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">广告图</label>
							<div class="col-sm-9 col-xs-12" >
								{php echo tpl_form_field_multi_image(buy_adv_pics,$setting['buy_adv_pics']);}
                    			<span class="help-block">建议上传多张广告图，描述加入代理有什么好处</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">产品介绍长图</label>
							<div class="col-sm-9 col-xs-12" >
								{php echo tpl_form_field_image(buy_intro_pic,$setting['buy_intro_pic']);}
                    			<span class="help-block">建议上传单张介绍长图，描述加入代理有什么好处</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">购买须知</label>
							<div class="col-sm-9 col-xs-12" >
                    			{php echo tpl_ueditor('buy_content', $setting['buy_content']);}
                    			<span class="help-block">如果不填就使用默认的</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">常见问题</label>
							<div class="col-sm-9 col-xs-12" >
                    			{php echo tpl_ueditor('buy_question', $setting['buy_question']);}
                    			<span class="help-block">如果不填就使用默认的</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">购买须知</label>
							<div class="col-sm-9 col-xs-12" >
                    			{php echo tpl_ueditor('buy_contract', $setting['buy_contract']);}
                    			<span class="help-block">如果不填就使用默认的</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="credit">
				<div class="panel panel-default">
					<div class="panel-heading">
						信用查询设置
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">信用查询金额</label>
							<div class="col-sm-3 col-xs-12">
								<input type="text" name="credit_fee" value="{$setting['credit_fee']}" class="form-control" >
								<span class="help-block">单位为元</span>
							</div>
							<div class="col-sm-3 col-xs-12">
								<select class="form-control" name="credit_wx_free">
									<option value="0" {if $setting['credit_wx_free']==0}selected{/if}>否</option>
									<option value="1" {if $setting['credit_wx_free']==1}selected{/if}>是</option>
								</select>
								<span class="help-block">微信分享一次是否免费</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">给上级返佣多少</label>
							<div class="col-sm-3 col-xs-4">
								<input type="text" name="credit_fee_one" value="{$setting['credit_fee_one']}" class="form-control" placeholder="单位为元">
								<span class="help-block">一级</span>
							</div>
							<div class="col-sm-3 col-xs-4">
								<input type="text" name="credit_fee_two" value="{$setting['credit_fee_two']}" class="form-control" placeholder="单位为元">
								<span class="help-block">二级</span>
							</div>
							<div class="col-sm-3 col-xs-4">
								<input type="text" name="credit_fee_three" value="{$setting['credit_fee_three']}" class="form-control" placeholder="单位为元">
								<span class="help-block">三级</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="extend_bonus">
				<div class="panel panel-default">
					<div class="panel-heading">
						推荐有奖设置
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">奖励设置</label>
							<div class="col-sm-4 col-xs-12">
								<input type="text" name="extend_bonus_nums" value="{$setting['extend_bonus_nums']}" class="form-control" >
								<span class="help-block">满多少人</span>
							</div>
							<div class="col-sm-4 col-xs-12">
								<input type="text" name="extend_bonus_money" value="{$setting['extend_bonus_money']}" class="form-control" >
								<span class="help-block">奖励多少元</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">图片1</label>
							<div class="col-sm-4 col-xs-12">
								<img src="../addons/xuan_mixloan/template/style/picture/gift_top_2.png" width="300px">
								<span class="help-block">示例</span>
							</div>
							<div class="col-sm-4 col-xs-12">
								{php echo tpl_form_field_image(extend_bonus_pic1,$setting['extend_bonus_pic1']);}
								<span class="help-block">尺寸：750*585</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">图片2</label>
							<div class="col-sm-4 col-xs-12">
								<img src="../addons/xuan_mixloan/template/style/picture/gift_top_two.png" width="300px">
								<span class="help-block">示例</span>
							</div>
							<div class="col-sm-4 col-xs-12">
								{php echo tpl_form_field_image(extend_bonus_pic2,$setting['extend_bonus_pic2']);}
								<span class="help-block">尺寸：750*646</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">图片3</label>
							<div class="col-sm-4 col-xs-12">
								<img src="../addons/xuan_mixloan/template/style/picture/gz.png" width="300px">
								<span class="help-block">示例</span>
							</div>
							<div class="col-sm-4 col-xs-12">
								{php echo tpl_form_field_image(extend_bonus_pic3,$setting['extend_bonus_pic3']);}
								<span class="help-block">尺寸：750*1333</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">图片4</label>
							<div class="col-sm-4 col-xs-12">
								<img src="../addons/xuan_mixloan/template/style/picture/top_bg.png" width="300px">
								<span class="help-block">示例</span>
							</div>
							<div class="col-sm-4 col-xs-12">
								{php echo tpl_form_field_image(extend_bonus_pic4,$setting['extend_bonus_pic4']);}
								<span class="help-block">尺寸：1242*934</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="partner">
				<div class="panel panel-default">
					<div class="panel-heading">
						合伙人设置
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">升级条件</label>
							<div class="col-sm-4 col-xs-12">
								<input type="text" name="buy_partner_price" value="{$setting['buy_partner_price']}" class="form-control" >
								<span class="help-block">条件一：直接购买多少元</span>
							</div>
							<div class="col-sm-4 col-xs-12">
								<input type="text" name="partner_vip_nums" value="{$setting['partner_vip_nums']}" class="form-control" >
								<span class="help-block">条件二：直推几个代理</span>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">总返佣多少</label>
							<div class="col-sm-4 col-xs-12">
								<input type="text" name="partner_bonus" value="{$setting['partner_bonus']}" class="form-control" >
								<span class="help-block">单位为%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="credit">
				<div class="panel panel-default">
					<div class="panel-heading">
						产品设置
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">新品设置奖励说明</label>
							<div class="col-sm-3 col-xs-12">
								<input type="text" name="loan_new_intro" value="{$setting['loan_new_intro']}" class="form-control" >
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">每日推荐奖励说明</label>
							<div class="col-sm-3 col-xs-12">
								<input type="text" name="loan_recom_intro" value="{$setting['loan_recom_intro']}" class="form-control" >
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">下款报备奖励说明</label>
							<div class="col-sm-3 col-xs-12">
								<input type="text" name="loan_cps_intro" value="{$setting['loan_cps_intro']}" class="form-control" >
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">信用卡奖励说明</label>
							<div class="col-sm-3 col-xs-12">
								<input type="text" name="loan_credit_intro" value="{$setting['loan_credit_intro']}" class="form-control" >
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">日结奖励说明</label>
							<div class="col-sm-3 col-xs-12">
								<input type="text" name="loan_day_intro" value="{$setting['loan_day_intro']}" class="form-control" >
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">周结奖励说明</label>
							<div class="col-sm-3 col-xs-12">
								<input type="text" name="loan_week_intro" value="{$setting['loan_week_intro']}" class="form-control" >
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">月结奖励说明</label>
							<div class="col-sm-3 col-xs-12">
								<input type="text" name="loan_month_intro" value="{$setting['loan_month_intro']}" class="form-control" >
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="backup" class="tab-pane" id="backup">
				<div class="panel panel-default">
					<div class="panel-heading">
						资料备份设置
					</div>
					<div class="panel-body">
						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否执行备份</label>
							<div class="col-sm-9 col-xs-12" >
								<select class="form-control" name="backup">
									<option value="0" {if $setting['backup'] == 0}selected{/if}>否</option>
									<option value="1" {if $setting['backup'] == 1}selected{/if}>是</option>
								</select>
								<span class="help-block">执行备份后原公众号所有资料会转移到此公众号，会员资料等用户使用找回账号功能才可转移</span>
							</div>
						</div>

						<div class="form-group" >
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">找回账号地址</label>
							<div class="col-sm-6 col-xs-12">
								<input type="text"  value="{$find_user}" class="form-control" readonly>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>

{template 'common/footer'}