

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="e-mail=no" name="format-detection" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>店铺</title>
    <script src="../addons/xuan_mixloan/template/style/js/jquery_2.js"></script>
    <script src="../addons/xuan_mixloan/template/style/js/lmy_2.js"></script>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/index_new_1.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/swiper.min_2.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/lmy_1.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/day_1.css">
    <script src="../addons/xuan_mixloan/template/style/js/swiper.min_2.js"></script>
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer_2.js"></script>
    <style>
        @media only screen and (device-width: 375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
            div.agent-foot{padding-bottom:20px; }
            div.agent-main{padding-bottom:20px;}
        }
        .swiper-pagination-bullet{background: #ccc;opacity: 1;}
        .swiper-pagination-bullet-active{background: #e9e9e9;opacity: 1;}
        .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{    bottom:15%;}

        div.agent-foot p>img {
            width: 1.1rem;
        }
    </style>

    {template 'common/wxshare'}
</head>
<body style="background:#fff;">

<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url});
    }
    function return_user(){
        var _url = "{php echo $this->createMobileUrl('user', array('op'=>''))}";
        mui.openWindow({url:_url, createNew:true});
    }
</script>
{if !is_weixin()}
<style type="text/css">
    .agent-header{height: 3rem;line-height: 4rem}
</style>
<style type="text/css">
    .app_back {
        position: absolute;
        display: inline-block;
        padding: 0 10px 0 10px;
        z-index: 999;
        line-height: 0px;
        top: 1.1rem
    }
    .app_back img {
        display: inline-block;
        height: 16px;
        margin: 13px 0;
        vertical-align: middle;
        left: 0;
        top: 0;
        transform: rotate(180deg);
    }
</style>

<div style="height:2rem;"></div>
{/if}
<div class="product_head">
    <ul class="clearfix">
        <li class="on" style="width: 33.33%" id="loan_ca"><a onclick="change_type(1)"><h2><img src="../addons/xuan_mixloan/template/style/images/loan.png" /></h2><p>贷款产品</p></a></li>
        <li style="width: 33.33%;margin-left: 0;margin-right: 0" id="card_ca"><a onclick="change_type(2)"><h2><img src="../addons/xuan_mixloan/template/style/images/card.png" /></h2><p>信用卡产品</p></a></li>
        <li style="width: 33.33%;margin-left: 0;margin-right: 0" ><a onclick="openNew('{php echo $this->createMobileUrl('pcredit')}')"><h2><img src="../addons/xuan_mixloan/template/style/pcredit/images/pcredit.png" /></h2><p>上不上征信</p></a></li>
        <!-- <li class="on"><a onclick="openNew('{php echo $this->createMobileUrl('product', array('op'=>''))}')"><h2><img src="../addons/xuan_mixloan/template/style/picture/product_1.png" /></h2><p>佣金产品</p></a></li>
        <li><a onclick="openNew('{php echo $this->createMobileUrl('product', array('op'=>'customer'))}')"><h2><img src="../addons/xuan_mixloan/template/style/picture/customer_1.png" /></h2><p>客户列表</p></a></li>
        <li onclick="openNew('{php echo $this->createMobileUrl('vip', array('op'=>'salary'))}')"><h2 style="padding-top: 0.2rem;"><img src="../addons/xuan_mixloan/template/style/picture/wages_1.png" /></h2><p>我的工资</p></li> -->
    </ul>
</div>
<div class="fjx"></div>
<div class="wapper dn">
    <div class="cet_pic">
        <!--lunbotu-->
        <!-- <img src="../addons/xuan_mixloan/template/style/picture/cet_bg_1.png" /> -->
        <div class="swiper-container">
            <div class="swiper-wrapper" id="swiper-wrapper">
                <!--    -->
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>

        <!-- lunbotu- -->

    </div>
    <div class="validRule"><p>有效规则：新用户注册申请</p></div>
    <!-- fjx -->
    <!-- <div class="fjx"></div> -->
    <!-- fjx -->
    <div id="loan_list">
        <div class="list_head">
            <p>
                <span><img src="../addons/xuan_mixloan/template/style/images/product_day.png" /></span>
                小额产品，审核简单，下款率高<label>(共<b  id="card_num">{php echo count($loan_small_list);}</b>款)</label>
            </p>
        </div>
        <div class="three_head">
            <ul class="clearfix">
                {loop $loan_small_list $row}
                <li class="clearfix ons2" data-id="1">
                    <a href="{php echo $this->createMobileUrl('loan', array('op'=>'apply', 'pid'=>$row['id'], 'id'=>$row['relate_id'], 'inviter'=>$inviter))}">
                        <div class="line_three">
                            <div class="line_img">
                                <img src="{$row['imgs']}">
                                {if $row['hot']}
                                <div class="day_fire">
                                    <img src="../addons/xuan_mixloan/template/style/images/fire.png">
                                </div>
                                {/if}
                            </div>
                            <h2>{$row['title']}</h2>
                            <p>
                                <span><img src="../addons/xuan_mixloan/template/style/picture/pin_1.png"></span><b>{$row['tag']}</b>
                            </p>
                        </div>
                    </a>
                </li>
                {/loop}
            </ul>
        </div>
        <div class="fjx"></div>
        <!-- fjx -->
        <div class="list_head">
            <p>
                <span><img src="../addons/xuan_mixloan/template/style/images/product_day.png" /></span>
                大额产品，额度高，到账快<label>(共<b  id="card_num">{php echo count($loan_large_list);}</b>款)</label>
            </p>
        </div>
        <div class="three_head">
            <ul class="clearfix">
                {loop $loan_large_list $row}
                <li class="clearfix ons2" data-id="1">
                    <a href="{php echo $this->createMobileUrl('loan', array('op'=>'apply', 'pid'=>$row['id'], 'id'=>$row['relate_id'], 'inviter'=>$inviter))}">
                        <div class="line_three">
                            <div class="line_img">
                                <img src="{$row['imgs']}">
                                {if $row['hot']}
                                <div class="day_fire">
                                    <img src="../addons/xuan_mixloan/template/style/images/fire.png">
                                </div>
                                {/if}
                            </div>
                            <h2>{$row['title']}</h2>
                            <p>
                                <span><img src="../addons/xuan_mixloan/template/style/picture/pin_1.png"></span><b>{$row['tag']}</b>
                            </p>
                        </div>
                    </a>
                </li>
                {/loop}
            </ul>
        </div>
        <div class="fjx"></div>
    </div>
    <!-- fjx -->

    <div id="card_list" style="display: none">
        <div class="list_head">
            <p>
                <span><img src="../addons/xuan_mixloan/template/style/picture/x2_1.png" /></span>
                信用卡产品<label>(共<b  id="card_num">{php echo count($credit_list);}</b>款)</label>
            </p>
        </div>
        <div class="three_head">
            <ul class="clearfix">
                {loop $credit_list $row}
                <li class="clearfix ons2" data-id="1" style="width: 33.33%">
                    <a href="{php echo $this->createMobileUrl('product', array('op'=>'apply', 'id'=>$row['id'], 'inviter'=>$inviter))}">
                        <div class="line_three">
                            <div class="line_img">
                                <img src="{$row['imgs']}">
                                {if $row['hot']}
                                <div class="day_fire">
                                    <img src="../addons/xuan_mixloan/template/style/images/fire.png">
                                </div>
                                {/if}
                            </div>
                            <h2>{$row['title']}</h2>
                            <p>
                                <span><img src="../addons/xuan_mixloan/template/style/picture/pin_1.png"></span><b>{$row['tag']}</b>
                            </p>
                        </div>
                    </a>
                </li>
                {/loop}
            </ul>
        </div>
        <div class="fjx"></div>
    </div>

    <div class="three_head">
        <ul class="clearfix"></ul>
    </div>
</div>
<div style="height:3.0rem;" class="agent-main"></div>


<script type="text/javascript">
    $(document).ready(function(){
        // index_lay = layer.load(1, {
        //     shade: [0.1,'#fff'] //0.1透明度的白色背景
        // });

        // layer_loan();
        $(".wapper").show();
        /////系统维护弹窗
        $(".layer_close").click(function(){
            $(".pop").fadeOut(500);
        });
    });
    function change_type(type){
        if (type == 1) {
            $('#card_ca').removeClass('on');
            $('#loan_ca').addClass('on');
            $('#card_list').hide();
            $('#loan_list').show();
        } else {
            $('#loan_ca').removeClass('on');
            $('#card_ca').addClass('on');
            $('#loan_list').hide();
            $('#card_list').show();
        }
    }

    function wapper(){
        $(".wapper").show();
    };

</script>

</body>
</html>