

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="e-mail=no" name="format-detection" />
<title>客户列表</title>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/new_customer/js/jquery_1.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/new_customer/js/lmy_1.js"></script>
<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_customer/css/swiper.min_2.css">
<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_customer/css/lmy_2.css">
<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_customer/css/cardnew_1.css">
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js//layer_3.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/new_customer/js/dropload.min_1.js"></script>
<script src="../addons/xuan_mixloan/template/style/new_customer/js/swiper.min_2.js"></script>

</head>
<style type="text/css">
	div.filterDtl ul li.on a span{background:url(../addons/xuan_mixloan/template/style/new_customer/images/choosed.png) no-repeat bottom right;background-size:100%}
	div.subTitle #topNav .slideFirst{width: 26%}
	div.topFilter{top: 3rem}
	div.addLine{height: 0rem}
	div.topFilter {position: absolute;}
</style>
<!-- style="background:#f3f3f3;" -->
	<body  style="background:#f3f3f3;">
	    <style type="text/css">
	        .app_header{ height: 3.5rem; background:white}
	        .app_header .div_back{position: absolute;top: 1.8rem;left: 0.8rem}
	        .app_header .div_back img{width: 1rem}
	        .header_title{position: absolute;top: 1.8rem;left: 42%;font-size: 0.65rem}
			.customertimes{font-size: 0.56rem;text-align: center;}
			div.resUnit .border{border-top: 2px solid #E6E6E6;}
			div.topFilterGap{height: 6.5rem}
			div.topFilterGap.on{height: 6.5rem;background: none}
	    </style>
	    <div class="app_header">
        	<div class="div_back" onclick="mui.back();"><img src="../addons/xuan_mixloan/template/style/new_customer/picture/back_grey.png"></div>
	        <div class="header_title">客户列表</div>
	    </div> 
		<div class="loanFrameBox dn">
			<!-- 顶部筛选 -->
			<div class="topFilterGap"></div>
			<div class="topFilter">
				<div class="titleFilter">
					<ul class="clearfix" id="degree">
						<li class="on" bind-degree="1"><a >团队</a></li>
						<li bind-degree="2"><a >连队</a></li>
					</ul>
				</div>				
				<div class="subtitleFilter">
					<div class="subTitle">
						<div id="topNav" class="swiper-container">
						  	<div class="swiper-wrapper" id="swiperList">
						  		<div class="swiper-slide active slideFirst"  data-swp="0"><span>待核对</span></div>
							    <div class="swiper-slide"  data-swp="1"><span>有效数据</span></div>
							    <div class="swiper-slide"  data-swp="-1"><span>无效数据</span></div>
							</div>
						</div>
						<div class="colorLeft"></div>
						<div class="colorRight"></div>
					</div>
					<p class="tips dns" id="Prompt"><span>提示：</span>本列表是客户在本系统填写资料的记录，不能视为官方申请记录。</p>
					<a href="javascript:void(0);" onClick="filterProduct(this);" id="filterProduct">
						<img class="filter" src="../addons/xuan_mixloan/template/style/new_customer/picture/filter_1.png"  style="display: inline-block;">
						<img class="filterOn" src="../addons/xuan_mixloan/template/style/new_customer/picture/filter_on_1.png" style="display: none;" >
						<span class="arrow down">选产品</span>
					</a>
				</div>
			</div>
			
			<!-- 筛选弹窗 -->
			<div class="filterDtlBox dn" id="filterDtlBox">
				<div class="filterDtl">
					<div class="div_add" id="loanType">
						<ul class="clearfix one">
							<li class="on" onClick="slideTitleAll(this,00);" data-val="00"><a>全部产品<span></span></a></li>
						</ul>
						<ul class="clearfix two" id="Cardlist">
							
						</ul>
					</div>	
					<a href="javascript:void(0);" onClick="Determine();">确 定</a>
				</div>
			</div>
			<!-- 客户列表主体 -->
			<div class="customerList" id="chooseRoll">
				<div class="resUnit1 resUnit"  style="display:block">
				</div>
			</div>
		</div>
		<!-- 加载相关显示 -->
		<div class="empty" style="display: none;">
            <img src="../addons/xuan_mixloan/template/style/new_customer/picture/empty_daike.png">
            <p>暂无订单，赶快去推广赚钱吧！</p>
        </div>
        <div class="dataLoading" style="display: none;margin-top: 10px;">
        	<span class="loading"><i></i><u>加载中...</u></span>
        	<span class="nomore" style="display: none;">没有更多咯 ~</span>
        </div>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url,createNew:true});
    }
	var type = 4;
	function dataTransformname(res){
	    var ret="";
	    if(res==''||res==null||res==undefined){
	        ret="***";
	    }else{
	        ret=res;
	    }
	    return ret;
	}
	// 初始化参数
	var bodyRollFlag=0;
	var currentPage=1;//当前页
    var numPerPage=10;//每页显示条数
    var scrollFlag=true;//防止重复调接口
    var totalPage=1;
    var newerDate=0;//客户列表日期初始化展示 标识字段
    var initialNum=0;//用于判断接口返回数据数
    var idsw="";
  
	// 页面初始化
	$(function(){
		localStorage.setItem("datanumCard",0);
		proList();
	})

	//下拉加载数据
    $(window).scroll(function(){
        var $this =$(this),
        viewH =$(this).height(),//可见高度
        contentH=$("div.loanFrameBox").outerHeight();
        scrollTop =$(window).scrollTop();//滚动高度
        if(contentH - viewH - scrollTop <= 10) {
            perList();  
        }
    });

	// 客户列表接口入口
    function perList(){
        if(scrollFlag){
        	$("div.empty").hide();
            $("div.dataLoading").show();
            $("div.dataLoading span.nomore").hide();
            $("div.dataLoading span.loading").show();  
            scrollFlag=false;
            if(currentPage<=totalPage){
                cusList();
            }else{
            	//没有更多数据了
                $("div.dataLoading").show();
                $("div.dataLoading .loading").hide();
                $("div.dataLoading .nomore").show();
            }
        }
    }
    
    //调取用户数据接口
    function cusList(){
    	//$("div.filterDtlBox").hide();
    	var dataTw=$('#loanType').find('li.on');
		var prodtypedub=dataTw.length;
	 	var arrs='';
	 	var degree = $('#degree li.on').attr('bind-degree');
	    for(var i = 0;i < prodtypedub;i++){
	        var inputValue = $('#loanType').find('li.on:eq('+i+')').attr('data-val');
	        var arrs =inputValue+','+arrs; 
	    } 
	    var loanType = arrs.substring(0,arrs.length-1);
	    if(loanType=="00"){
	    	 idsw=""
		}else{
	    	 idsw=loanType;
	    }
		var curStatus=localStorage.getItem("datanumCard");
		$.post("{php echo $this->createMobileUrl('product', array('op' => 'get_customer'))}",{'type':type,'ids':dataTransform(idsw),'status':curStatus, 'page':currentPage,'pageSize':numPerPage,degree:degree},
			function(data){
                console.log(curStatus+"==============页数");
                if(data.code==1){
					var datalist=dataTransform(data.data.list);
            		totalPage=data.data.totalPage;
        			if(datalist!='' && datalist!=null && datalist!=undefined){                    	
                        postDataAdd(datalist);
                    }else{
                        //暂无数据
                        scrollFlag=false;
                        $("div.dataLoading").css('display','none');
                        $("div.empty").show();
                    }                   
                }else{
                    layer.msg(data.msg);
                    return false;
                }
        },'json')     
    }

    // 接口数据绑值
function postDataAdd(prodList){
    if(prodList.length>0){
    	initialNum=0;
		var str='<div class="addLine"></div>';
		for (var j=0;j<prodList.length;j++) {
			var createTime=prodList[j].createtime;  //时间
			var img=prodList[j].pro_logo;//图片
			var name=prodList[j].realname;//姓名
			var orderId=prodList[j].id;//订单编号
			var phone=prodList[j].phone;//手机号码
			var title=prodList[j].pro_name;//产品名
			var reason=prodList[j].reason; //原因
			var status=prodList[j].status; //已通过状态
			var productId=prodList[j].relate_id; //产品Id
			
			var mtel = phone.substr(0, 3) + '****' + phone.substr(7); 
			var statusSwp=localStorage.getItem("datanumCard");

			if(j==0){
				str+='<div class="customUnitBox">'
			}else{
				str+='<div class="customUnitBox border">'
			}
			str+='<div class="customUnit">'
            str+='<div class="customertimes">'+createTime+'</div>'
			str+='<h3><img src="'+img+'">'+title+'<a href="javascript:;void(0);">订单编号：'+orderId+'</a>'
			str+='</h3>'
			str+='<ul class="clearfix">'
			str+='<li class="name">'
			str+='<p>姓 名</p>'
			str+='<h4>'+dataTransformname(name)+'</h4>'
			str+='</li>'
			str+='<li class="phone">'
			str+='<p>手机号</p>'
			if(phone!="" || phone!=null || phone!=undefined ){
				if(statusSwp=="2" || statusSwp=="3"){
					str+='<a href="javascript:;"><h4>'+mtel+'</h4></a>'
				}else{
					str+='<a href="tel:'+phone+'"><h4>'+mtel+'<img src="../addons/xuan_mixloan/template/style/new_customer/picture/tel_1.png"></h4></a>'
				}	
			}else{
				str+='<a href="javascript:;"><h4>******</h4></a>'
			}
			str+='</li>'
			if(statusSwp=="-1"){              //未通过
				str+='<li class="status">'
				str+='<div class="statusBotm">'
				// str+='<p>原因</p>'
				if(reason!="" && reason!=null && reason!=undefined){
					str+='<h4>'+reason+'</h4>'
				}else{
					str+='<h4> 未通过 </h4>'
				}	
				str+='</div>'
				str+='</li>';
			}else if(statusSwp=="1"){        //已通过
				str+='<li class="status CheckProgress">'
				str+='<h3 class="passed">已通过</h3>'
				str+='</li>'
			}else if( statusSwp=="0"){
				str+='<li class="status CheckProgress">'
				str+='<a href="javascript:;">'
				str+='<h3 class="passed">待更新</h3>'
				str+='</a>'
				str+='</li>'
				
			}

			str+='</ul>'
			str+='</div>'
			str+='</div>';
		}
		$('.resUnit').append(str);	


    }else{
        //没有数据
        scrollFlag=false;
        $("div.dataLoading").css('display','none');
    } 

	if(prodList.length<5){
		$("div.dataLoading .loading").hide();
        $("div.dataLoading .nomore").show();
    	scrollFlag=false;
   	} 
    currentPage++;
    scrollFlag=true;
}



function dataTransform(str){
	return str;
}
////////////////////////////
function proList(){
	$.post("{php echo $this->createMobileUrl('product', array('op' => 'get_list'))}",{'productType':type},function(data){
			//console.log(data);
		if(data.code==1){
        	$('.loanFrameBox').show();
        	var _data=data.data.list;	
			//prodList 产品展示
			var prodListLeg=_data.length;
			for(var j=0;j<prodListLeg;j++){
				var title2=_data[j].name;
				var id2=_data[j].id;
				var strUl="";
				strUl+='<li onClick="slideTitle(this,'+id2+');" data-val='+id2+'><a>'+title2+'<span></span></a></li>';
				$('#Cardlist').append(strUl);
			}
			//mySwiper
			var mySwiper = new Swiper('#topNav', {
				freeMode: true,
				freeModeMomentumRatio: 0.5,
				slidesPerView: 'auto',
			});
			swiperWidth = mySwiper.container[0].clientWidth;
			maxTranslate = mySwiper.maxTranslate();
			maxWidth = -maxTranslate + swiperWidth / 2;

			$(".swiper-container").click(function(e){	
				e.preventDefault()
			})

			mySwiper.on('tap', function(swiper,e) {
				//e.preventDefault();
				slide = swiper.slides[swiper.clickedIndex];
				slideLeft = slide.offsetLeft;
				slideWidth = slide.clientWidth;
				slideCenter = slideLeft + slideWidth / 2;
				mySwiper.setWrapperTransition(300);
				if (slideCenter < swiperWidth / 2) {
					mySwiper.setWrapperTranslate(0);
				} else if (slideCenter > maxWidth) {
					mySwiper.setWrapperTranslate(maxTranslate);
					
				} else {
					nowTlanslate = slideCenter - swiperWidth / 2;
					mySwiper.setWrapperTranslate(-nowTlanslate);

				}

				$("#topNav  .active").removeClass('active');
				$("#topNav .swiper-slide").eq(swiper.clickedIndex).addClass('active');
				var swiperSwp=$("#topNav .swiper-slide").eq(swiper.clickedIndex).attr('data-swp');
				var statusSwp= $('#swiperList').find('.active').attr('data-swp');

			   	localStorage.setItem("datanumCard",statusSwp);
			   	if(statusSwp=="0"){
			   		$('#Prompt').show();
			   		$('.topFilterGap').removeClass('on');
			   	}else{
			   		// $('#Prompt').hide();
			   		$('.topFilterGap').addClass('on');
			   	}

			  	currentPage=1;
		        totalPage=1;
		        scrollFlag=true;
		        newerDate=0;
		        $("div.resUnit").html("");
				perList();
			})
			perList(0);
			
		}
	},'json')
}


//选产品
function filterProduct(index){
	bodyRollFlag=1;
	var arrow=$(index).find("span.arrow");
	if(arrow.hasClass("down")){
		$(index).find('.filter').hide();
		$(index).find('.filterOn').show()
		arrow.removeClass("down");
		arrow.addClass("on");
		$("#filterDtlBox").show();
	}
	
}
//多选 slideTitle

function slideTitle(index,num){
	$(index).parent().parent().find('ul.one li').removeClass("on");
	var on=$(index).hasClass("on");
    if(on){
        $(index).removeClass("on");
       
    }else{
        $(index).addClass("on");
    }
}

//全选 slideTitleAll

function slideTitleAll(index,num){
	$(index).parent().parent().find('ul.two li').removeClass("on");
    $(index).addClass("on");
    
}

///确定Determine
function Determine(){
	bodyRollFlag=0;
	var arrow=$('#filterProduct').find("span.arrow");
	if(arrow.hasClass("on")){
		$('#filterProduct').find('.filter').show();
		$('#filterProduct').find('.filterOn').hide()
		arrow.removeClass("on");
		arrow.addClass("down");
		currentPage=1;
        totalPage=1;
        scrollFlag=true;
        newerDate=0;
        $("div.resUnit").html("");
	}
	var statusSwp= $('#swiperList').find('.active').attr('data-swp');

	var dataTw=$('#loanType').find('li.on');
 	var prodtypedub=dataTw.length;
 	var arrs='';
    for(var i = 0;i < prodtypedub;i++){
        var inputValue = $('#loanType').find('li.on:eq('+i+')').attr('data-val');
        var arrs =inputValue+','+arrs; 
    } 
    var loanType = arrs.substring(0,arrs.length-1);
  	if(loanType=="" || loanType==null){
   		$('#loanType').find('ul.one li').addClass('on');
   	}

   	perList();
   
    $("#filterDtlBox").hide();
}

	//时间比较
	function timeCompare(d2){
		var beforeDate = new Date(newerDate);
		var curDate = new Date(d2);
		var diff=(beforeDate - curDate) / (1000 * 60 * 60 * 24);
		//console.log(diff);
		return diff;
		
	}

	//监听页面滚动
    document.addEventListener('touchmove', function (event) {
        if(bodyRollFlag==1){
            event.preventDefault();
        } 
    })
    $('#degree li').click(function(){
    	$('#degree li').removeClass('on');
    	$(this).addClass('on');
	  	currentPage=1;
	    totalPage=1;
	    scrollFlag=true;
	    newerDate=0;
	    $("div.resUnit").html("");
		perList();
    })
</script>

</body>
</html>