<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="e-mail=no" name="format-detection" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>{$config['title']}</title>
    <script src="../addons/xuan_mixloan/template/style/js/jquery_2.js"></script>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/index_new_1.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/day_1.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/style.css">
    <style>
    @media only screen and (device-width: 375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
          div.agent-foot{padding-bottom:20px; }
          div.agent-main{padding-bottom:20px;}
    }
    .agent-header {
      height: 1.4rem;
      line-height: 1.5rem;
      font-size: 0.5rem;
      font-weight: 200
    }
    .agent-header a.return img{
      width: 0.56rem
    }
    .product_head ul li img{
      width: 0.56rem
    }
    .product_head ul li p{
      font-size: 0.38rem
    }
    .item-top-right button {
        background: rgb(255, 130, 8);
        color: #fff;
        border: none;
        padding: 0.15rem;
        font-size: 12px;
        border-radius: 5px;
        margin-top: 0.4rem;
    }
    .item-top-center {
      margin: 0 5px;
    }
    .finndy{
      width: auto;
      right: 0.4rem;
    }
    .finndy img{
      width: 1.5rem;
      height: 1.5rem;
    }
    .nav-wrapper .active {
        color: rgb(255, 130, 8);
        border-bottom: 2px solid rgb(255, 130, 8);
    }
    </style>
    
    {template 'common/wxshare'}
  </head>
  <body style="background: #fff"> 
        <div class="agent-header">
          {$config['title']}
          <a class="return" href="{php echo $this->createMobileUrl('mix', array('op'=>'questions'))}"><img src="../addons/xuan_mixloan/template/style/picture/problem_1.png" /></a>
        </div>
        <div style="height:1.5rem;"></div>
        <div class="product_head">
          <ul class="clearfix">
                <li class="on"><h2><img src="../addons/xuan_mixloan/template/style/picture/product_1.png" /></h2><p>佣金产品</p></li>
                <li><a href="{php echo $this->createMobileUrl('product', array('op'=>'customer'))}" id="href_list"><h2><img src="../addons/xuan_mixloan/template/style/picture/customer_1.png" /></h2><p>客户列表</p></a></li>

                <li><a href="{php echo $this->createMobileUrl('vip', array('op'=>'salary'))}"><h2><img src="../addons/xuan_mixloan/template/style/picture/wages_1.png" /></h2><p>我的工资</p></a></li>
          </ul>
        </div>
        <div class="listPage-wrapper">
            <nav class="nav-wrapper">
                <ul class="nav-list">
                    <li class="nav-item active" id="card_item">
                        信用卡
                    </li>
                    <li class="nav-item" id="loan_item">
                        网贷
                    </li>
                </ul>
            </nav>
            <div class="clearfix">
            </div>
            <main class="main-wrapper">
                <ul class="main-list" id="card">
                  {loop $card $row}
                    <li class="main-item" onclick="return_info({$row['id']})">
                        <div class="item-top">
                            <img class="item-top-logo" src="{$row['ext_info']['logo']}" width="50" height="50"  alt="">
                            <span class="item-top-center" style="vertical-align: middle;">
                              <span style="font-size: 0.5rem;">{$row['name']}</span>
                            </span>
                            <span class="item-top-center">
                                <dl>
                                    <dt> <img src="../addons/xuan_mixloan/template/style/img/time.png" alt="" /> {$row['account_type']}结</dt>
                                    <dt> <img src="../addons/xuan_mixloan/template/style/img/complete.png" alt="" />成功下款即得现金</dt>
                                </dl>
                            </span>
                            <span class="item-top-right">
                                <button>  立即推广 </button>
                            </span>
                        </div>
                        <div class="clearfix"> </div>
                        <div class="item-bottom">
                            <ul>
                                <li>
                                    高级： <span class="red">  {$row['ext_info']['height_one']}/单 </span>
                                </li>
                                <li>
                                    中级：<span class="yellow">{$row['ext_info']['mid_one']}/单 </span>
                                </li>
                                <li>
                                    初级： <span class="blue">  {$row['ext_info']['init_one']}/单</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-bottom" style="height:15px">
                            <ul>
                                <li style="padding: 0">
                                    二级： <span class="red">  {$row['ext_info']['height_two']}/单 </span>
                                </li>
                                <li style="padding: 0">
                                    二级：<span class="yellow">{$row['ext_info']['mid_two']}/单 </span>
                                </li>
                                <li style="padding: 0">
                                    二级： <span class="blue">  {$row['ext_info']['init_two']}/单</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                  {/loop}
                </ul>
                <ul class="main-list" style="display: none" id="loan">
                  {loop $loan $row}
                    <li class="main-item" onclick="return_info({$row['id']})">
                        <div class="item-top">
                            <img class="item-top-logo" src="{$row['ext_info']['logo']}" width="50" height="50"  alt="">
                            <span class="item-top-center" style="vertical-align: middle;">
                              <span style="font-size: 0.5rem;">{$row['name']}</span>
                            </span>
                            <span class="item-top-center">
                                <dl>
                                    <dt> <img src="../addons/xuan_mixloan/template/style/img/time.png" alt="" /> {$row['account_type']}结</dt>
                                    <dt> <img src="../addons/xuan_mixloan/template/style/img/complete.png" alt="" />成功下款即得现金</dt>
                                </dl>
                            </span>
                            <span class="item-top-right">
                                <button>  立即推广 </button>
                            </span>
                        </div>
                        <div class="clearfix"> </div>
                        <div class="item-bottom">
                            <ul>
                                <li>
                                    高级： <span class="red">  {$row['ext_info']['height_one']}/单 </span>
                                </li>
                                <li>
                                    中级：<span class="yellow">{$row['ext_info']['mid_one']}/单 </span>
                                </li>
                                <li>
                                    初级： <span class="blue">  {$row['ext_info']['init_one']}/单</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item-bottom" style="height:15px">
                            <ul>
                                <li style="padding: 0">
                                    二级： <span class="red">  {$row['ext_info']['height_two']}/单 </span>
                                </li>
                                <li style="padding: 0">
                                    二级：<span class="yellow">{$row['ext_info']['mid_two']}/单 </span>
                                </li>
                                <li style="padding: 0">
                                    二级： <span class="blue">  {$row['ext_info']['init_two']}/单</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                  {/loop}
                </ul>
            </main>
            <div class="finndy"><a href="{php echo $this->createMobileUrl('vip', array('op'=>'createPostAllProduct'))}"><img src="{php echo tomedia($config['product_logo']);}" /></a></div>
        </div>
        <script type="text/javascript">
            $('#card_item').click(function(){
                $('.nav-item').removeClass('active');
                $('#card_item').addClass('active');
                $('#loan').fadeOut(100);
                $('#card').fadeIn(500);
            })
            $('#loan_item').click(function(){
                $('.nav-item').removeClass('active');
                $('#loan_item').addClass('active');
                $('#card').fadeOut(100);
                $('#loan').fadeIn(500);
            })

            var return_info = function(id){
                window.location.href = "{php echo $this->createMobileUrl('product',['op'=>'info'])}&id="+id;
            }
        </script>
    </body>

</html>