

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta  content="e-mail=no" name="format-detection"/>
    <title>下款专员</title>
    <script src="../addons/xuan_mixloan/template/style/js/jquery_2.js"></script>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/main_3.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/loanmkt_3.css">
    <link href="../addons/xuan_mixloan/template/style/mui/css/mui.picker.css" rel="stylesheet" />
    <link href="../addons/xuan_mixloan/template/style/mui/css/mui.min.css" rel="stylesheet" />
    <link href="../addons/xuan_mixloan/template/style/mui/css/mui.poppicker.css" rel="stylesheet" />

    {template 'common/wxshare'}
</head>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.picker.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.poppicker.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.city.data-3.js"></script> 
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url, createNew:true});
    }
</script>
<style type="text/css">
    div.fstC, div.hotR{margin-top: 2%}
    .search{width: 100%;padding:5px 10px;text-align: center;font-size: 13px;padding-top: 10px}
    .search .search_input{width: 70%;font-size: 13px;height: 2.5rem}
    .search_button{padding: 3% 10px;background: white;color:grey;border-radius: 3px;border: none;}
</style>
<body class="bglightgray" style="background: #ff7753">
{if !is_weixin()}
<style type="text/css">
    .app_header{height: 80px;width: 100%;background: #f3f4f6}
    .app_header_back{text-align: center;color: white}
    .app_header_back{padding-top: 48px;padding-left: 4%;padding-right: 4%}
    .app_header_back img{float:left;width: 12px;}
    .app_header_back span{margin-top: 10px;font-size: 17px;color: #7e8181}
</style>
<div class="app_header">
    <div class="app_header_back">
        <img src="../addons/xuan_mixloan/template/style/images/left_1.png" onclick="mui.back()">
        <span>贷款专员</span>
    </div>
</div>
{/if}
<div class="search">
    <input type="text" id="keyword" class="search_input">
    <input type="hidden" id="areaId" value="110101">
    <a class="search_button" onclick="post_data()">搜索</a>
</div>
<div class="common_frame fstC">
    <h1 onclick="chooseArea()">选择地区</h1>
    <div class="fstC_lists">
       
    </div>
    <!-- <div class="fstC_more"><a onclick="openNew('{php echo $this->createMobileUrl('loan', array('op'=>''))}')">更多推荐贷款</a></div> -->
</div>
<script type="text/javascript">
    post_data();
    mui.init();
    mui(function () {
        cityPicker = new mui.PopPicker({
            layer: 2
        });
        cityPicker.setData(cityData3);
    });
    //选择区域
    function chooseArea(){
    　　cityPicker.show(function(items) {
            $('.fstC h1').text(items[1].text);
            $('#areaId').val(items[1].value);
            $('#keyword').val();
            post_data();
    　　});
    }
    function post_data(){
        var areaId = $('#areaId').val();
        var keyword = $('#keyword').val();
        $.post("{php echo $this->createMobileUrl('mix', array('op'=>'getService'))}",{"areaId":areaId, "keyword":keyword},
                function(data){
                    if(data.code==1){
                        var list = data.data.list;
                        var str = '';
                        for (var i = 0; i < list.length; i++) {
                            str += '<div class="recommend_main fstC_list">\
                                        <h2>' + list[i].name + '<a onclick="clickThis(' + list[i].id + ');">立即查看</a></h2>\
                                        <div class="recommend_detail fstC_dtl">\
                                            <span class="card_img"><img src="' + list[i].ext_info.logo + '" /></span>\
                                            <div class="card_desc">\
                                                <p>' + list[i].ext_info.v_name + '</p>\
                                                <p>' + list[i].ext_info.intro + '</p>\
                                            </div>\
                                            <div class="apply_no">\
                                                <p><span>' + list[i].apply_nums + '</span></p>\
                                                <p>在线中</p>\
                                            </div>\
                                        </div>\
                                    </div>';
                        }
                        $('.fstC_lists').html(str);
                    }else{
                        mui.alert(data.msg, function(){
                            $('.fstC_lists').html('');
                        });
                        return false;
                    }
                },'json')
    }
    //关闭选择器
    function closeChoose(){
    　　cityPicker.hide();
    }
    function clickThis(id) {
        var _url = "{php echo $this->createMobileUrl('mix', array('op' => 'serviceDetail'))}&id=" + id;
        openNew(_url);
    }
</script>
</body>
</html>