

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta  content="e-mail=no" name="format-detection"/>
    <title>联系客服</title>
    <script src="../addons/xuan_mixloan/template/style/js/jquery_3.js"></script>
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js//layer_3.js"></script>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/lmy_3.css">
 

	{template 'common/wxshare'}
</head>
<style>
    .service_header{width:100%;margin:0 auto 0%;overflow-x: hidden;}
    .service_one{width:100%;margin:0 auto;position:relative;} 
    .service_one p.p1{width:79%;margin:15% auto 0;} 
    .service_header img{width:100%;height: auto;}
    .service_one p.p2{width:62%;margin:10% auto 0;} 
    .service_two{width:8%;margin:0 auto;position:absolute;left:15%;bottom:9%;}
</style>
<body  style="background:url(../addons/xuan_mixloan/template/style/images/bag.png) center bottom no-repeat;background-size:100% 100%;">
    
    <div class="service_header">
        <div class="service_one">
            <p class="p1"><img src="{php echo tomedia($config['service_pic'])}" /></p>
            <p class="p2" id="BizQQWPA"><img src="../addons/xuan_mixloan/template/style/picture/button.png" /></p>
            <div class="service_two"><img src="../addons/xuan_mixloan/template/style/picture/xian.png" /></div> 
        </div> 
    </div>
<script type="text/javascript">
    $(function() {
        $('#BizQQWPA').click(function (){ 
            layer.msg("请添加客服QQ：{$config['qqnum']}");
            window.location.href="mqqwpa://im/chat?chat_type=wpa&uin={$config['qqnum']}&version=1&src_type=web&web_src={php echo urlencode($this->createMobileUrl('index'));}";
        })
        $(".service_header").css("height", ($(window).height()));
    });
</script>

</body>
</html>