

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta  content="e-mail=no" name="format-detection"/>
    <title>新手指南</title>
    <script src="../addons/xuan_mixloan/template/style/js/jquery_3.js"></script>
    <script src="../addons/xuan_mixloan/template/style/js/jquery.lazyload.js"></script>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/main_5.css">

    {template 'common/wxshare'}
</head>
<style>
    img{width: 100%;display: block;}
</style>
<body>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        window.location.href=url
    }
</script>
<!-- <div class="agent-header">
    新手指南        <a class="return" href="javascript:;" onclick="javascript:history.go(-1)">返回</a>
</div> -->

<div class="agent-main">
    <div class="main-contain">
        <p><img src="{php echo tomedia($config['tutorials_pic']);}" title="" alt=""/></p>        </div>
</div>

</body>
</html>