<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加平台</title>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_loan/css/reset.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_loan/css/1.css">
</head>
<body>
    <style type="text/css">
        .app_header{ height: 3.5rem; background: white}
        .app_header .div_back{position: absolute;top: 1.9rem;left: 0.4rem}
        .app_header .div_back img{width: 0.6rem}
        .header_title{position: absolute;top: 2rem;left: 42%;font-size: 0.45rem}
    </style>
    <div class="app_header">
        <div class="div_back" onclick="openNew('{php echo $this->createMobileUrl('smallloan', array('op' => 'default'))}')"><img src="../addons/xuan_mixloan/template/style/new_loan/images/back.png"></div>
        <div class="header_title">添加平台</div>
    </div>
    <div class="add"  onclick="openNew('{php echo $this->createMobileUrl('smallloan', array('op' => 'add_loan'))}');">
        <img src="../addons/xuan_mixloan/template/style/new_loan/images/arrow.png">
        <span>添加平台</span>
    </div>
    <ul class="platform">
        <!-- <li>
            <span>凡客之家</span>
            <span>被驳回</span>
            <button>删除</button>
        </li> -->
    </ul>
    <script src="../addons/xuan_mixloan/template/style/new_loan/js/flexible.js"></script>
    <script src="../addons/xuan_mixloan/template/style/new_loan/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer.js"></script>
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
    <script>
    function openNew(url){
        mui.openWindow({url:url,createNew:true});
    }

    $.post("{php echo $this->createMobileUrl('smallloan', array('op' => 'get_my_loan'))}", {}, function(data) {
        console.log(data);
        if(data.code==1){
            var list=data.data.list;
            //列表
            var str = '';
            for (var i = 0; i<list.length; i++) {
                str += '<li>\
                            <span>'+list[i].name+'</span>\
                            <span>'+list[i].status+'</span>\
                            <button onclick="del('+list[i].id+');">删除</button>\
                        </li>';
            }
            $('.platform').html(str);
        }else{
            layer.msg(data.msg, function(){
                if (data.data.url) {
                    openNew(data.data.url);
                }
            });
            return false;
         }
    }, "json"); 
    function del(id) {
        $.post("{php echo $this->createMobileUrl('smallloan', array('op' => 'del_my_loan'))}", {id:id}, function(data) {
            console.log(data);
            if(data.code==1){
                layer.msg(data.msg, function(){
                    history.go(0)
                })
            }else{
                layer.msg(data.msg, function(){
                    if (data.data.url) {
                        openNew(data.data.url);
                    }
                });
                return false;
             }
        }, "json"); 
    }
    </script>
</body>
</html>