<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="webkit">
    <title>上不上征信</title>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/pcredit/css/weui.min.css">  
    <style>
        html,body{
            max-width:500px;
        }
    </style>
</head>
<body style="background-color:#fff">
{if !is_weixin()}
<style type="text/css">
    .app_header{height: 80px;width: 100%;background: #f4fcff}
    .app_header_back{text-align: center;color: white}
    .app_header_back{padding-top: 48px;padding-left: 4%;padding-right: 4%}
    .app_header_back img{float:left;width: 12px;}
    .app_header_back span{margin-top: 10px;font-size: 17px;color: #7e8181}
</style>
<div class="app_header">
    <div class="app_header_back">
        <img src="../addons/xuan_mixloan/template/style/images/left_1.png"  onclick="mui.back()">
        <span>上不上征信</span>
    </div>
</div>
{/if}
<header>
    <img src="../addons/xuan_mixloan/template/style/pcredit/picture/banner.png" style="width:100%">
</header>
<main style="height:16em;">
    <form  action="{php echo $this->createMobileUrl('pcredit', array('op'=>'result'))}" method="post">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">名称</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" maxlength="5" type="text" class="name" name="name" required placeholder="请输入贷款名">
            </div>
        </div>
        <div class="weui-cell"></div>
        <input type="submit" value="立刻查询" style="width:94%;"  class="weui-btn weui-btn_primary">
    </form>
    <a href="javascript:;" style="width:94%;margin-top:1em;" class="weui-btn weui-btn_default" id="showPicker">选择产品</a>
</main>
<footer>
    <div class="weui-msg__extra-area" style="max-width:500px">
        <!-- <div class="weui-footer">
            <p class="weui-footer__links">
                <a href="http://app.zhongxinwanka.com" class="weui-footer__link">众鑫玩卡</a>
                <a href="http://www.12credit.com/daikuan/0/0/0/0.html" class="weui-footer__link">贷款超市</a>
            </p>
            <p class="weui-footer__text">Copyright © 2016-2017 zhongxinwanka.com</p>
        </div> -->
    </div>   
</footer>
<script src="../addons/xuan_mixloan/template/style/pcredit/js/jquery.min.js"></script>  
<script src="../addons/xuan_mixloan/template/style/pcredit/js/weui.min.js"></script>   
<script async src="../addons/xuan_mixloan/template/style/pcredit/js/6e9436eb7f7942ba9c2f09a2226802e5.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url,createNew:true});
    }
</script>
    <script>     
        $('#showPicker').on('click', function () {
            var list = {$list};
            weui.picker(list, {
                onChange: function (result) {
                },
                onConfirm: function (result) {
                    var _url = "{php echo $this->createMobileUrl('pcredit', array('op' => 'result'))}"+"&id="+result;
                    openNew(_url);
                }
            });
        });
    </script>
</body>
</html>