

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta  content="e-mail=no" name="format-detection"/>
    <title>信用卡</title>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/layer5_1.css" id="layui_layer_skinlayercss">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/main_4.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/new_base_4.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/swiper.min_2.css">
    <script src="../addons/xuan_mixloan/template/style/js/jquery_2.js"></script>
    <script src="../addons/xuan_mixloan/template/style/js/jquery.lazyload_1.js"></script>
    <script src="../addons/xuan_mixloan/template/style/js/agent_1.js"></script>
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer_2.js"></script>
    <script src="../addons/xuan_mixloan/template/style/js/dropload.min_1.js"></script>
    <script type="text/javascript" src=../addons/xuan_mixloan/template/style/js/swiper.min_2.js Date().getTime></script>
    <!-- <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/jq_scroll.js"></script> -->
    <script type="text/javascript">

    </script>
    <!-- <script src="../addons/xuan_mixloan/template/style/js/bridge_1.js"></script> -->
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/pop_1_back.js"></script>
    <style>
        .bglightgray{background-color: #eee;}
        .fl{float: right;}
        div.agent-footer a.on p{border-bottom: 1px solid #62bbff;}
        .dropload-down{text-align: center;padding:1% 0;color:#949494;font-size:12px;}
    </style>

    {template 'common/wxshare'}
</head>
<body class="bglightgray">

<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url});
    }
    function return_user(){
        var user_url = '{php echo $this->createMobileUrl('user')}';
        mui.openWindow({url:user_url, createNew:true});
    }
</script>
{if !is_weixin()}
<style type="text/css">
    @media only screen and (device-width: 375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
        div.agent-foot{padding-bottom:20px; }
        div.agent-main{padding-bottom:0px;}
    }
    .agent-foot.texttotal{align-items:normal;}
    div.agent-footer{height: 70px}
    div.agent-foot.texttotal p{
        line-height: 90px;
    }
    div.scroller{padding-top: 80px}
    div.to_search{bottom:10%;}
</style>
<style type="text/css">
    div.loan_tab ul li a{
        height: 70px;
        line-height: 95px
    }
    .app_back {
        position: absolute;
        display: inline-block;
        padding: 0 10px 0 8px;
        z-index: 999;
        line-height: 0px;
        top: 2rem
    }
    .app_back img {
        display: inline-block;
        height: 16px;
        margin: 13px 0;
        vertical-align: middle;
        left: 0;
        top: 0;
        transform: rotate(180deg);
    }
    .agent-foot{
        height: 4rem
    }
    div.agent-foot p.foot_img {
        height: 2.22rem;
        margin-top: 0.1rem;
    }
    div.agent-foot p>img {
        height: 2.22rem;
        width: 2.1rem;
        max-height: 100%;
    }
    .agent-foot p {
        font-size: 0.85rem;
        font-family: Helvetica !important;
        vertical-align: middle;
        line-height: 1.5em;
    }
</style>
<!-- <a class="app_back" href="javascript:void(0);" onclick="mui.back()"><img src="../addons/xuan_mixloan/template/style/picture/icon_arrow_1.png" /></a> -->
{/if}
<div class="agent-foot texttotal agent-footer">
    <a onclick="openNew('{php echo $this->createMobileUrl('channel', array('op'=>'index'))}')"><p><img src="../addons/xuan_mixloan/template/style/picture/icon-evdaynew_1.png" style="width: 18px"  /><span>口子</span></p></a>
    <a class="on"><p><img src="../addons/xuan_mixloan/template/style/picture/icon-evdayhot_1.png" /><span>信用卡</span></p></a>
    <a onclick="openNew('{php echo $this->createMobileUrl('channel', array('op'=>'course'))}')"><p><img src="../addons/xuan_mixloan/template/style/picture/icon-newcourse_1.png"  style="width: 18px" /><span>新手教程</span></p></a>
</div>
{if !is_weixin()}
<div class="agent-foot">
    <!-- <a onclick="openNew('{php echo $this->createMobileUrl('loan', array('op'=>''))}')">
        <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/cwd_1.png" /></p>
        <p>贷款大全</p>
    </a> -->
    <a onclick="openNew('{php echo $this->createMobileUrl('channel', array('op'=>''))}')" class="on">
        <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/evdayhot.png" /></p>
        <p>今日口子</p>
        <!-- <span class="new-icon"><img src="../addons/xuan_mixloan/template/style/picture/icon_new_1.png"/></span> -->
    </a>
   <!--  <a onclick="openNew('{php echo $this->createMobileUrl('vip', array('op'=>'createPostAllProduct'))}')" class="home" >
        <img class="lazy" data-data-original="../addons/xuan_mixloan/template/style/images/friendcircle_1.png" src="../addons/xuan_mixloan/template/style/images/friendcircle.png" width="45px" alt="">
    </a> -->
    <a onclick="openNew('{php echo $this->createMobileUrl('product', array('op'=>''))}')">
        <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/i_daike_1.png" /></p>
        <p>推广中心</p>
    </a>
    <a onclick="return_user()">
        <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/personal_1.png" /></p>
        <p>个人中心</p>
    </a>
</div>
{/if}
<div class="agent-main pd70 pt44" style="padding-top:0!important;padding-bottom: 0!important;">
    <div class="evdayhotlist" id="wrapper" style='padding-top:0!important;-webkit-overflow-scrolling: touch;'>
        <div class="scroller">
            <div class="swiper-container pro-swiper">
                <div class="swiper-wrapper">
                    {loop $advs $adv}
                    <div class="swiper-slide" style="width:90%;"><a onclick="openNew('{$adv['ext_info']['url']}')"><img src="{php echo tomedia($adv['ext_info']['pic']);}" width="100%" alt=""><h2 class="swiper_title">{$adv['name']}</h2></a></div>
                    {/loop}
                </div>
                <div class="swiper-pagination pro-pagination"></div>
            </div>
            <!-- 口子文章循环 -->
            <div class="loan-lists loan-main-lists">
                {loop $credit_low_list $low}
                <div class="loan-list">
                    <div class="loan-main">
                        <a onclick="openNew('{php echo $this->createMobileUrl('channel', array('op'=>'artical', 'id'=>$low['id']))}')">
                            <span class="fl"><img class="lazy" data-attr="{$low['ext_info']['pic']}" src="{$low['ext_info']['pic']}" height="88px" width="120px" alt=""></span>
                            <h3>{$low['title']}</h3>
                            <!-- <p class="sub-content"></p> -->
                            <p class="time-ad">{$low['createtime']}</p>
                            <p class="readerNo">{$low['apply_nums']}人已学习</p>
                        </a>
                    </div>
                </div>
                {/loop}
            </div>
            <!-- 重点文章循环 -->
        </div>
    </div>
</div>
{if !is_weixin()}
<div style="height: 4rem"></div>
{/if}
<div class="to_search" data-condition="1">
    <img src="../addons/xuan_mixloan/template/style/picture/search_white_1.png" />
</div>

</body>
<script type="text/javascript">
    var swiper_w=($(window).width())*0.94;
    var swiper_gap=($(window).width())*0.02;
    var mySwiper = new Swiper('.pro-swiper', {
        // width:swiper_w,
        autoplay: 5000,//可选选项，自动滑动
        loop:true,
        autoplayDisableOnInteraction : false,
        spaceBetween: swiper_gap,
        initialSlide:0,
        slidesPerView: "auto",
        // loopedSlides :12,
        centeredSlides: true,
        // slidesOffsetBefore : swiper_gap,
        // slidesOffsetAfter : swiper_gap,
        // pagination: '.pro-pagination',

    });
</script>
<script>


    //图片懒加载
    $(function() {
        // $('img.lazy').trigger('appear');
        $("img.lazy").lazyload();
    });

    function share_style(){
        var window_height=$(window).height();
        var window_width=$(window).width();
        $(".kzS_alert").width(window_width);
        $(".kzS_alert").height(window_height);
    }
    //不再提醒
    $("div.no_remind label").click(function(){
        if($(this).html().length!=0){
            $(this).html("");
            $(this).attr("data-index","0");
        }else{
            $(this).html("<img src='../addons/xuan_mixloan/template/style/images/right.png' />");
            $(this).attr("data-index","1");
        }
    })
    var kouziFlag="kouzi";
    var rollcount={$low['id']};
    $(document).ready(function(){
        //定位margin-top
        var li_length=$("#head-scroll ul li").length;
        if(li_length==0){
            $("div.margin-top").css("margin-top","90px");
            $("div.margin-top").attr("data-height","90");
        }else if(li_length==1){
            $("div.margin-top").css("margin-top","125px");
            $("div.margin-top").attr("data-height","125");
        }else if(li_length==2){
            $("div.margin-top").css("margin-top","160px");
            $("div.margin-top").attr("data-height","160");
        }else if(li_length==3){
            $("div.margin-top").css("margin-top","195px");
            $("div.margin-top").attr("data-height","195");
        }
        //设置滚动区域高度
        var window_height=$(window).height();
        var margin_height=$("div.margin-top").attr("data-height");
        // var wrapper_height=window_height-margin_height-55+"px";
        var wrapper_height=window_height+"px";
        $("div#wrapper").css({"height":wrapper_height}).addClass("ready_load");

        //搜索框判断是否为代理
        // var _condition="1";
        // if(_condition=="0"){
        //     $(".dummy_input").addClass("buy_limit");
        //     $("div.top-recommend ul li").addClass("buy_limit");
        // }
        //开启上滑加载
        if($("div#wrapper").hasClass("ready_load")){
            dropload();
        }

        function dropload(){
            $('#wrapper').dropload({
                scrollArea : $('#wrapper'),
                autoLoad:true,
                distance:50,
                domDown:{
                    domClass : 'dropload-down',
                    domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
                    domLoad : '<span><i class="dropload-load"></i></span>',
                    domNoData : '<div class="dropload-noData">暂无数据</div>'
                },
                loadDownFn : function(me){
                    var _divNo=$("div.vip_article").length;
                    $.post("{php echo $this->createMobileUrl('channel', array('op'=>'getNew'))}",{"type":"2","rollcount":rollcount},
                        function(data){
                            if(data.code=="1"){
                                console.log(data);
                                // alert(data.data.length);
                                var content=data.data;
                                for(var i in content){
                                    var _img=content[i].ext_info.pic;
                                    var _title=content[i].title;
                                    var _createTime=content[i].createtime;
                                    var _reader=content[i].apply_nums;
                                    var _urlId=content[i].id;
                                    var stress=content[i].stress;//判断是否为重点文章图
                                    rollcount = content[i].id;
                                    if(stress=="1"){
                                        $("div.scroller").append("<div class=\"loan-list special_article vip_article\">"
                                            + "<div class=\"loan-main\">"
                                            + "<a href='{php echo $this->createMobileUrl('channel', array('op'=>'artical'))}&id="+ _urlId +"'>"
                                            + "<img class='lazy' data-attr='"+ _img +"' src='"+_img+"' width=\"100%\" />"
                                            + "<h2>"+ _title +"</h2>"
                                            + "<p><span class=\"special_date\">"+ _createTime +"</span><span class=\"special_learn\">"+ _reader +"人已学习</span></p>"
                                            + "</a>"
                                            + "</div>"
                                            + "</div>")
                                        $("img.lazy").lazyload();
                                        me.resetload();
                                    }else{
                                        $("div.scroller").append("<div class=\"loan-lists loan-main-lists\">"
                                            + "<div class=\"loan-list\">"
                                            + "<div class=\"loan-main\">"
                                            + "<a href='{php echo $this->createMobileUrl('channel', array('op'=>'artical'))}&id="+ _urlId +"'>"
                                            + "<span class=\"fl\"><img class='lazy' data-attr='"+ _img +"' src='"+ _img +"' height=\"88px\" width=\"120px\" /></span>"
                                            + "<h3>"+ _title +"</h3>"
                                            + "<p class=\"time-ad\">"+ _createTime +"</p>"
                                            + "<p class=\"readerNo\">"+ _reader +"人已学习</p>"
                                            + "</a>"
                                            + "</div>"
                                            + "</div>"
                                            + "</div>")
                                        $("img.lazy").lazyload();
                                        me.resetload();
                                    }
                                }

                            }else if(data.code=="-1"){
                                // me.lock();
                                // $("div.dropload-down").html("");
                                // $("div.dropload-down").html("没有更多喽~");
                            }
                        },'json')
                }
            });
        }

    })

    //点击进入热点文章
    $(".more_hotarticle a").click(function(){
        var _url="{php echo $this->createMobileUrl('channel', array('op'=>'hot'))}";
        location.href=_url;
    })
    //点击进入专题文章
    $(".topic").click(function(){
        var id=$(this).attr("data-id");
        var _url="{php echo $this->createMobileUrl('channel', array('op'=>'subject'))}&id="+id;
        location.href=_url;
    })
    //点击进入搜索页
    $(".to_search").click(function(){
        var data_condition=$(this).attr("data-condition");
        var classify="0";
        var _url="{php echo $this->createMobileUrl('channel', array('op'=>'search', 'type'=>1))}";
        openNew(_url);
    })
</script>
</html>