

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta  content="e-mail=no" name="format-detection"/>
    <title>口子中心</title>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/layer5_1.css" id="layui_layer_skinlayercss">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/main_4.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/new_base_4.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/swiper.min_2.css">
    <script src="../addons/xuan_mixloan/template/style/js/jquery_2.js"></script>
    <script src="../addons/xuan_mixloan/template/style/js/jquery.lazyload_1.js"></script>
    <script src="../addons/xuan_mixloan/template/style/js/agent_1.js"></script>
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer_2.js"></script>
    <script src="../addons/xuan_mixloan/template/style/js/dropload.min_1.js"></script>
    <script type="text/javascript" src=../addons/xuan_mixloan/template/style/js/swiper.min_2.js Date().getTime></script>
    <!-- <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/jq_scroll.js"></script> -->    
   
    <!-- <script src="../addons/xuan_mixloan/template/style/js/bridge_1.js"></script> -->
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/pop_1.js"></script>
    <style>
        .bglightgray{background-color: #eee;}
        .fl{float: right;}    
        div.agent-footer a.on p{border-bottom: 1px solid #62bbff;}
        .dropload-down{text-align: center;padding:1% 0;color:#949494;font-size:12px;}
        div.scroller {
             padding-top: 0px; 
        }
    </style>

	{template 'common/wxshare'}
</head>
<body class="bglightgray">


<div class="agent-main pd70 pt44" style="padding-top:0!important;padding-bottom: 0!important;">
    <div class="evdayhotlist" id="wrapper" style='padding-top:0!important;-webkit-overflow-scrolling: touch;'>
        <div class="scroller">
            <!-- 口子文章循环 -->
            <div class="loan-lists loan-main-lists">
                <img  src="{php echo tomedia($subjectRes['ext_info']['pic']);}"  width="100%" />
                {loop $list $low}
                <div class="loan-list">                
                    <div class="loan-main"> 
                        <a href="{php echo $this->createMobileUrl('channel', array('op'=>'artical', 'id'=>$low['id']))}">
                            <span class="fl"><img class="lazy" data-attr="{$low['ext_info']['pic']}" src="{$low['ext_info']['pic']}" height="88px" width="120px" alt=""></span>
                            <h3>{$low['title']}</h3>
                            <!-- <p class="sub-content"></p> -->
                            <p class="time-ad">{$low['createtime']}</p>
                            <p class="readerNo">{$low['apply_nums']}人已学习</p>
                        </a>                
                    </div>                
                </div>   
                {/loop}   
            </div>
           
           
           
    </div>
</div>

</body>
</html>