

<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="e-mail=no" name="format-detection"/>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<title>{$config['title']} - 推荐有钱</title>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/jquery_2.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/lmy_2.js"></script>
<link rel="stylesheet" type="text/css" href="../addons/xuan_mixloan/template/style/css/lmy_5.css">
<link rel="stylesheet" type="text/css" href="../addons/xuan_mixloan/template/style/css/add_prize_2.css">
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer_2.js"></script>

<script  type="text/javascript">
    var userid="204559";
    var dai_li="1";
    var source="1";
</script> 
</head>
<style>
.prize_text{ background:url(../addons/xuan_mixloan/template/style/images/bag_2.png) center top no-repeat;background-size:100% 100%;}
.prize_footer{background:url(../addons/xuan_mixloan/template/style/images/bg_ss.png)  top center ;}
</style>
<body> 
<!-- end -->
    <div class="prize_tail">
        <div class="share dn" style="display: none;">
            <p id="share_title"></p>
            <p id="share_desc"></p>
            <p id="share_imgUrl"></p>
            <p id="share_link"></p>

        </div>

        <div class="prize_head">
           <img src="../addons/xuan_mixloan/template/style/picture/gift_top_2.png" /> 
           <div class="prize_text">
                <div  class="prize_text_bot" id="s1">
                    <ul class="clearfix" id="gun_ul">
                        
                    </ul>
                </div>    
            </div>

            <div class="prize_money"><img src="../addons/xuan_mixloan/template/style/picture/money_2.png" /> </div>
            <div class="prize_money_s prize_money_s1"><img src="../addons/xuan_mixloan/template/style/picture/jb1_2.png" /> </div>
            <div class="prize_money_s prize_money_s2"><img src="../addons/xuan_mixloan/template/style/picture/jb3_2.png" /> </div>
            <div class="prize_money_s prize_money_s3"><img src="../addons/xuan_mixloan/template/style/picture/jb4_2.png" /> </div>
            <div class="prize_money_s prize_money_s4"><img src="../addons/xuan_mixloan/template/style/picture/jb5_2.png" /> </div>
            <div class="prize_money_s prize_money_s5"><img src="../addons/xuan_mixloan/template/style/picture/jb4_2.png" /> </div>
            <div class="prize_money_s prize_money_s6"><img src="../addons/xuan_mixloan/template/style/picture/jb3_2.png" /> </div>
            <!-- 动画end -->
            <div class="prize_rule">
                <a href="/Wap/SecondRecomm/re_gz" id="re_rule">
                    <img src="../addons/xuan_mixloan/template/style/picture/right_art.png" />
                </a>
            </div>
        </div>
        <div class="gift_pic">
            <img src="../addons/xuan_mixloan/template/style/picture/gift_top_two.png" /> 
            <div class="gift_btns">
                <a href="javascript:void(0);" id="sub_button">
                    <img src="../addons/xuan_mixloan/template/style/picture/btns.png" /> 
                </a>
            </div>
        </div>
        <!-- center -->
        <div class="prize_center">
            <img src="../addons/xuan_mixloan/template/style/picture/gift_center_2.png" /> 
            <div class="prize_moy">
                <p><b id="reward"></b><span>元</span></p>
                <p class="two"><b id="recomNum"></b><span>人</span></p>
                <div class="click_view">
                    
                </div>
            </div>
        </div>
        <div class="prize_footer">
            <div class="prize_phb">
                <img src="../addons/xuan_mixloan/template/style/picture/phb.png" /> 
                <div class="ranking_list"></div>
            </div>
        </div>
 
    <!-- end -->    
    </div> 

<!-- 购买代理弹窗 -->
 
<div id="prize_art" class="prize_art dn" style="display: none;">
    <div class="prize_botm">
        <div  class="prize_head">
            <img src="../addons/xuan_mixloan/template/style/picture/prize_top_2.png"  />
            <p style="line-height: 1.8em">i代代理才能参加活动哦~<br/>请先购买</p>
        </div>
        <div class="submit_foot"><a id="share_href" href="javascript:;" ><img src="../addons/xuan_mixloan/template/style/picture/prize_but_2.png" /></a></div>
        <div class="close_shan" id="close_shan"><img src="../addons/xuan_mixloan/template/style/picture/prize_shan_2.png" /></div>
    </div>
</div>

</body>


<script type="text/javascript">
//接口  
  
$(function() { 
    $("#share_title").text(s_title);
    $("#share_desc").text(s_desc);   
    $("#share_imgUrl").text(s_imgUrl);

    var u = navigator.userAgent;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端  
    if(isAndroid){
        $("#share_link").text(s_link_two); 
    }else if(isiOS){
        $("#share_link").text(s_link); 
    }   
    


    $("#sub_button").click(function(){
       if(dai_li==0){
            $('#prize_art').show();
        }else if(dai_li==1){
            var shareImgUrl="/Wap/SecondRecomm/re_Poster_two?source="+source+"&dai="+dai_li+"&userId="+userid+"";
            //window.location.href="/Wap/SecondRecomm/re_Poster?source="+source+"&dai="+dai_li+"&userId="+userid+"";
            $(this).attr("href",shareImgUrl)
        }

    })




    $('#close_shan').click(function() {     
        $('#prize_art').hide();
    });
    $('#shear_close').click(function() {     
        $('#tong').hide();
    });
    //
   
    $('#gun_ul').text(''); 
    $("div.ranking_list").text('');
    $.post("/Wap/SecondRecomm/secondRecomm",{'userId':userid},function(data){
       
        if(data.code==0){
            var _data=data.data;    
            //滚动的
            var reciveLeg=_data.recive.length;
            if(reciveLeg>0){
              for(var i=0;i<reciveLeg;i++){
                    var phone=_data.recive[i].phone;
                    var str="";
                        str+='<li><a href="javascript:;">尾号'+phone+'的用户,领取了100元现金</a></li>';
                        $('#gun_ul').append(str);
                }  
            }else{
                $('#gun_ul').append('<li><a href="javascript:;">尾号3456的用户,领取了100元现金</a></li>'); 
            }
            
        //收益
        var reward=_data.recom.reward;
        var recomNum=_data.recom.recomNum;
        if(reward==undefined || reward==null || reward=='' ){
             $("#reward").text('0');
        }else{
            $("#reward").text(reward); 
        }
        if(recomNum==undefined || recomNum==null || recomNum=='' ){
            $("#recomNum").text('0');
        }else{
            $("#recomNum").text(recomNum);
        }

        var reward_leg=$("#reward").text().length;
        var recomNum_leg=$("#recomNum").text().length;
        //alert(reward_leg);
        if(reward_leg>9){
            $("#reward").css('font-size',0.6+'rem');
        }if(recomNum_leg>9){
            $("#recomNum").css('font-size',0.6+'rem');

        }

        $('.click_view').append('<a href="/Wap/SecondRecomm/re_detail?userId='+userid+'&dai='+dai_li+'">'
                    // +'<span class="prize_left"><img src="../addons/xuan_mixloan/template/style/picture/cu_left.png" /></span>'
                    +'<span class="on"><img src="../addons/xuan_mixloan/template/style/picture/button_2.png"></span>'
                    // +'<span class="prize_right"><img src="../addons/xuan_mixloan/template/style/picture/cu_right.png" /></span>'
                    +'</a>');

        //分享排行榜

        var rankLeg=_data.rank.length;
        if(rankLeg>0){
            for(var j=0;j<rankLeg;j++){
                var _id=_data.rank[j].id;
                var _money=_data.rank[j].money;
                var _phone=_data.rank[j].phone;
                var user_name=_data.rank[j].user_name;
                var headimgurl=_data.rank[j].headimgurl;
                var str_one="";
                str_one+='<dl class="clearfix">'
                    if(j==0){
                        str_one+='<dd><b><img src="../addons/xuan_mixloan/template/style/picture/p1.png"></b></dd>'   
                    }else if(j==1){
                         str_one+='<dd><b><img src="../addons/xuan_mixloan/template/style/picture/p2.png"></b></dd>'
                    }else if(j==2){
                         str_one+='<dd><b><img src="../addons/xuan_mixloan/template/style/picture/p3.png"></b></dd>'
                    }else{
                        str_one+='<dd><b>'+(j+1)+'</b></dd>'
                    }

                if(headimgurl==""){
                    str_one+='<dd><img src="../addons/xuan_mixloan/template/style/picture/logo_pic.png"></dd>'
                 }else{
                    str_one+='<dd><img src="'+headimgurl+'"></dd>' 
                 }
                str_one+='<dd><h3>'+user_name+'</h3><p>'+_phone+'</p></dd>'
                    +'<dd><p><label>&yen;</label>'+_money+'</p></dd>'
                    +'</dl>';
                $("div.ranking_list").append(str_one);            
            }    
        }else{
            $("div.ranking_list").append("<dl><p style='font-size0.6rem;'>暂无数据</p></dl>");      
        }    
        }else{
             layer.msg(data.msg);
             return false;
        }
    }, "json"); 
})

// 滚动
function AutoScroll(obj){
    var margin_top=$(obj).find("ul li").height();
    $(obj).find("ul:first").animate({
        marginTop:-margin_top
    },500,function(){
        $(this).css({marginTop:"0px"}).find("li:first").appendTo(this);
    });
}
$(document).ready(function(){
    setInterval('AutoScroll("#s1")',3000);
});

</script>

<!-- END -->

</html>