<html class="hairlines am-touch js cssanimations">
<head>
    <meta charset="utf-8">
    <title>会员中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../addons/xuan_mixloan/template/style/new_user_index/css/qscui.css">
    <link rel="stylesheet" type="text/css" href="../addons/xuan_mixloan/template/style/new_user_index/css/icon.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_user_index/css/weui.css" />
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_user_index/css/example.css" />
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/index_new_1.css" />
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_user_index/css/web.css" />
    <style type="text/css">.fancybox-margin{margin-right:0px;}</style>
    <script src="../addons/xuan_mixloan/template/style/new_user_index/js/jquery.min.js"></script>
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer.js"></script>
    <style type="text/css">
        @media only screen and (device-width: 375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
            div.agent-foot{padding-bottom:5rem; }
        }
        .water,.mod-user .mod-user-header{background: #00a2ff}
        .mod-user .mod-user-header_project .item strong{font-size: 16px}
        .weui_grid{width: 33.33%}
        .dicon .weui_grid_icon{width: 30px;height: 30px}
        .list-thumb-sm strong>.icon {
            top: 16px;
            width: 20px;
            height: 15px;
        }
        .list-item{font-size: 14px}
        .icon-user-about, .icon-user-balance, .icon-user-help, .icon-user-wallet{background-size: 20px;}
        .agent-foot{
            height: 4rem
        }
        div.agent-foot p.foot_img {
            height: 1.9rem;
            margin-top: 0.1rem;
        }
        div.agent-foot p>img {
            height: 1.9rem;
            width: 1.9rem;
            max-height: 100%;
        }
        .agent-foot p {
            font-size: 0.85rem;
            font-family: Helvetica !important;
            vertical-align: middle;
            line-height: 1.5em;
        }
    </style>
</head>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url,createNew:true});
    }
</script>
{if !is_weixin()}
<script type="text/javascript">
    mui.plusReady(function() {
        console.log(mui.currentWebview.id);
        window.addEventListener('refresh', function(event) {
            mui.currentWebview.reload();
        });
        var wv=plus.webview.currentWebview();
        // 关闭侧滑返回功能
        wv.setStyle({'popGesture':'none'});
    });
    mui.back = function(){
        return false;
    }
</script>
{/if}
<body class="platform_mobile">
<div class="content bottom mod-user">
    <div class="mod-user-header">
        <div class="qsc-list-group">
            <a onclick="openNew('{php echo $this->createMobileUrl('user', array('op'=>'set'))}')" class="list-item list-thumb list-thumb-md">
                <strong>
                    <i class="icon">
                        <img src="{$member['avatar']}" class='lazy-load' style='display: inline;'></i>{$member['nickname']}</strong>
                <p>会员ID:1000{$member['id']}</p>
                <span>
                            <i class="list-arrow"></i>
                </span>
            </a>
        </div>
        <div class="mod-user-header_project clearfix">
            <a class="item"><strong>{$all}</strong>总收入</a>
            <a class="item"><strong>{$used}</strong>已结算</a>
            <a class="item"><strong>{$use}</strong>可结算</a>
        </div>
        <header class="text-center">
            <h4 style="font-weight: 400;">[会员等级:{$member['user_type']['name']}]</h4>
            <small>邀请人:{if $inviterInfo}{$inviterInfo['nickname']}({$inviterInfo['phone']}){else}平台{/if}</small>
        </header>
    </div>
    <div class="water">
        <div class="water-1"></div>
        <div class="water-2"></div>
    </div>
    <div class="qsc-list-group">
        <!-- <div style="background-color:#FFFFFF;text-align:center;"> <a href="index.php?g=App&m=Member&a=index&uid=oa7B51bzyQ2K0ipnvb0qhBuMg1O4" style="color:#E53333;font-size:16px;">『设置APP账号密码并登录 』</a></div> -->
        <a onclick="openNew('{php echo $this->createMobileUrl('vip', array('op'=>'salary'))}');" class="list-item list-thumb list-thumb-sm" style="border-top:none;">
            <strong>
                <i class="icon icon-user-wallet"></i>我的钱包</strong>
            <span style="top: 13px;">
                        <span class="">{$use}元</span>
                        <i class="list-arrow"></i>
            </span>
        </a>
        {if $withdraw_delete}
        <a onclick="openNew('{php echo $this->createMobileUrl('vip', array('op'=>'filed_withdraw'))}');" class="list-item list-thumb list-thumb-sm" style="border-top:none;">
            <strong>
                <i class="icon icon-user-wallet"></i>提现失败提醒</strong>
            <span style="top: 13px;">
                <span class="">{$withdraw_delete['reason']}</span>
                <i class="list-arrow"></i>
            </span>
        </a>
        {/if}
        <a onclick="openNew('{php echo $this->createMobileUrl('product', array('op'=>'customer'))}');" class="list-item list-thumb list-thumb-sm" style="border-top:none;">
            <strong>
                <i class="icon icon-user-wallet"></i>客户列表</strong>
                <span style="top: 13px;">
                    <i class="list-arrow"></i>
                </span>
        </a>
    </div>
    <!-- content -->
    <div class="bd" style="margin: 0 auto">
        <div class="weui_grids bg_f dicon">
            {if $member['user_type']['code'] == 1}
            <a onclick="openNew('{php echo $this->createMobileUrl('vip', array('op' => 'followList'))}')" class="weui_grid js_grid">
                <div class="weui_grid_icon">
                    <img src="../addons/xuan_mixloan/template/style/new_user_index/images/icon2_active_3.png" alt="">
                </div>
                <p class="weui_grid_label">我的徒弟</p>
            </a>
            <a onclick="openNew('{php echo $this->createMobileUrl('vip', array('op' => 'inviteCode', 'type' => 3))}')" class="weui_grid js_grid">
                <div class="weui_grid_icon">
                    <img src="../addons/xuan_mixloan/template/style/new_user_index/images/tuijianyouqian.png" alt="">
                </div>
                <p class="weui_grid_label">邀请海报</p>
            </a>
            <a onclick="copy_pc()" class="weui_grid js_grid">
                <div class="weui_grid_icon">
                    <img src="../addons/xuan_mixloan/template/style/partner/images/pc.png" alt="">
                </div>
                <p class="weui_grid_label">pc后台</p>
            </a>
            {/if}
            <a onclick="openNew('{php echo $this->createMobileUrl('vip', array('op' => 'buy'))}')" class="weui_grid js_grid">
                <div class="weui_grid_icon">
                    <img src="../addons/xuan_mixloan/template/style/new_user_index/images/daili.png" alt="">
                </div>
                <p class="weui_grid_label">购买代理</p>
            </a>
            <a onclick="openNew('{php echo $this->createMobileUrl('mix', array('op' => 'tutorials'))}')" class="weui_grid js_grid">
                <div class="weui_grid_icon">
                    <img src="../addons/xuan_mixloan/template/style/new_user_index/images/zhinan.png" alt="">
                </div>
                <p class="weui_grid_label">新手指南</p>
            </a>
            <a onclick="openNew('{php echo $this->createMobileUrl('mix', array('op' => 'service'))}')" class="weui_grid js_grid">
                <div class="weui_grid_icon">
                    <img src="../addons/xuan_mixloan/template/style/new_user_index/images/kefu.png" alt="">
                </div>
                <p class="weui_grid_label">专属客服</p>
            </a>
            <a onclick="openNew('{php echo $this->createMobileUrl('mix', array('op' => 'bonus'))}')" class="weui_grid js_grid">
                <div class="weui_grid_icon">
                    <img src="../addons/xuan_mixloan/template/style/new_user_index/images/icon1_active_3.png" alt="">
                </div>
                <p class="weui_grid_label">领取奖励</p>
            </a>
            <!-- <a onclick="" class="weui_grid js_grid">
                <div class="weui_grid_icon">
                    <img src="../addons/xuan_mixloan/template/style/new_user_index/images/shiping.png" alt="">
                </div>
                <p class="weui_grid_label">视频教学</p>
            </a> -->
           <a onclick="openNew('{php echo $this->createMobileUrl('vip', array('op' => 'set'))}')" class="weui_grid js_grid">
                <div class="weui_grid_icon">
                    <img src="../addons/xuan_mixloan/template/style/picture/pos.png" alt="">
                </div>
                <p class="weui_grid_label">代理设置</p>
            </a>
            {if !is_weixin()}
            <a onclick="loginout()" class="weui_grid js_grid">
                <div class="weui_grid_icon">
                    <img src="../addons/xuan_mixloan/template/style/new_user_index/images/tuichu.png" alt="">
                </div>
                <p class="weui_grid_label">退出登录</p>
            </a>
            {/if}
        </div>
        <div class="weui_grids bg_f dicon">
        </div>
    </div>
    <div class="" style="height:80px;display:black"></div>
    <div class="agent-foot">
       <!--  <a onclick="openNew('{php echo $this->createMobileUrl('loan', array('op'=>''))}')">
            <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/cwd_1.png" /></p>
            <p>首页</p>
        </a> -->
        
        <a onclick="openNew('http://m.ss-k.cn/')" class="today-cell">
            <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/evdayhot_1.png" /></p>
            <p>服务大厅</p>
        </a>
        {if is_weixin()}
        <a onclick="openNew('{php echo $this->createMobileUrl('friend', array('op'=>''))}')" class="home" >
            <img class="lazy" data-data-original="../addons/xuan_mixloan/template/style/images/friendcircle_1.png" src="../addons/xuan_mixloan/template/style/images/friendcircle.png" width="45px" alt="">
        </a>
         {/if}
        <a onclick="openNew('{php echo $this->createMobileUrl('product', array('op'=>''))}')">
            <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/i_daike_1.png" /></p>
            <p>{$config['title']}客</p>
        </a>
        <a onclick="openNew('{php echo $this->createMobileUrl('user', array('op'=>''))}')" class="on">
            <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/hl_personal_1.png" /></p>
            <p>个人中心</p>
        </a>
    </div>
    <script type="text/javascript">
        {if !$pay_pass && $member['user_type']['code'] == 1}
        layer.alert('请设置支付密码', function(){
            var _url="{php echo $this->createMobileUrl('vip', array('op'=>'set'))}";
            openNew(_url);
        });
        {/if}
        function loginout(){
            openNew('{php echo $this->createMobileUrl('index', array('op' => 'loginout'))}');
        }
        function copy_pc(){
            var pc_url = "{php echo $_W['siteroot'] . 'app/' . $this->createMobileUrl('partner')}";
            layer.msg('复制成功');
            jsBridge.setClipboardText(pc_url);
        }
    </script>
    <script src="//gate.myapp.ltd/cdn/jsbridge-mini.js"></script>
    <script type="text/javascript">
        var version = "{$config['version']}";
        var ios_url = "{$config['ios_url']}";
        var android_url = "{$config['android_url']}";
        if (jsBridge.appVersion != version) {
            if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
                // alert("iPhone系统");
                new_version_url = ios_url;
            } else if (/(Android)/i.test(navigator.userAgent)) {
                // android系统
                new_version_url = android_url;
            }
            layer.alert('请下载最新APP', function(){
                window.location.href= new_version_url + '?xapp-target=browser';
            });
        }
    </script>
</body>

</html>