<html class="hairlines am-touch js cssanimations">
    <head>
        <meta charset="utf-8">
        <title>会员中心</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" href="../addons/xuan_mixloan/template/style/new_user_index/css/qscui.css">
        <link rel="stylesheet" type="text/css" href="../addons/xuan_mixloan/template/style/new_user_index/css/icon.css">
        <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_user_index/css/weui.css" />
        <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_user_index/css/example.css" />
        <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_user_index/css/web.css" />
        <style type="text/css">.fancybox-margin{margin-right:0px;}</style>
        <script src="../addons/xuan_mixloan/template/style/new_user_index/js/jquery.min.js"></script>
    </head>
    
    <body class="platform_mobile">
        <div class="content bottom mod-user">
            <div class="mod-user-header">
                <div class="qsc-list-group">
                    <a href="index.php?g=App&m=Member&a=index&uid=oa7B51bzyQ2K0ipnvb0qhBuMg1O4" class="list-item list-thumb list-thumb-md">
                        <strong>
                            <i class="icon">
                                <img src='../addons/xuan_mixloan/template/style/new_user_index/picture/b4531cb81e9d434f8e806dad6620108c.gif' class='lazy-load' style='display: inline;'></i>嘉锦投资👊东哥</strong>
                        <p>会员ID:52834&nbsp;&nbsp;&nbsp;&nbsp;关注时间：2018-04-12</p>
                        <span>
                            <i class="list-arrow"></i>
                        </span>
                    </a>
                </div>
                <div class="mod-user-header_project clearfix">
                    <a class="item">
                        <strong>42.28</strong>金币余额</a>
                    <a class="item">
                        <strong>0</strong>待审核金额</a>
                    <a class="item">
                        <strong>5057.00</strong>已提金额</a></div>
                <header class="text-center">
                    <h4>[会员等级:城市经理]</h4>
                    <small>我的上级:掌上财富</small></header>
            </div>
            <div class="water">
                <div class="water-1"></div>
                <div class="water-2"></div>
            </div>
            <div class="qsc-list-group">
                <!-- <div style="background-color:#FFFFFF;text-align:center;"> <a href="index.php?g=App&m=Member&a=index&uid=oa7B51bzyQ2K0ipnvb0qhBuMg1O4" style="color:#E53333;font-size:16px;">『设置APP账号密码并登录 』</a></div> -->
                <a href="/index.php?g=App&m=Index&a=member_price" class="list-item list-thumb list-thumb-sm" style="border-top:none;">
                    <strong>
                        <i class="icon icon-user-wallet"></i>我的钱包</strong>
                    <span style="top: 13px;">
                        <span class="">42.28 元</span>
                        <i class="list-arrow"></i>
                    </span>
                </a>
            </div>
            <!-- content -->
            <div class="bd" style="margin: 0 auto">
                <div class="weui_grids bg_f dicon">
                    <a href="index.php?g=App&m=Index&a=member_sjoo" class="weui_grid js_grid">
                        <div class="weui_grid_icon">
                            <img src="../addons/xuan_mixloan/template/style/new_user_index/picture/0008.png" alt=""></div>
                        <p class="weui_grid_label">会员升级</p>
                    </a>
                </div>
            </div>
            <div class="" style="height:80px;display:black"></div>
            
    </body>

</html>