<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no" >
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title收入排行榜</title>
<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/kashen_1.css">
<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/layer.css">
<script src="../addons/xuan_mixloan/template/style/js/jquery-1.12.4.min.js"></script>
<script src="../addons/xuan_mixloan/template/style/js/layer_1.js"></script>
<script src="../addons/xuan_mixloan/template/style/js/function.js"></script>
</head>
<body>
<!--<div class="wdfanhui"><a href="--><!--"></a></div>-->
<!-- <div class="daibei-top1 line-bottom" style="margin-top: 0px;">
<img src="picture/15082959993605.jpg" alt=""><span class="daibei-top1-name">软件开发许要炫</span><span>，欢迎加入卡神大师</span></p>
</div> -->
<div class="header">
	<img src="{php echo tomedia($config['rank_back']);}" style="width: 100%">
</div>
<div>
	<ul class="xiaolists">

	{loop $list $key $value}
	<li class="xiao_list line-bottom">
	    <a href="javascript:;">
	    	{if $key == 0}
	        <span class="number number1"> </span>
	        {else if $key == 1}
	        <span class="number number2"> </span>
	        {else if $key == 2}
	        <span class="number number3"> </span>
	        {else}
	        <span class="number number"> {php echo $key+1}</span>
	        {/if}
	        <img src="{$value['avatar']}" class="imgleft3">
	        <h4>
	            {$value['nickname']}
	        </h4>
	        <div class="jin-div">
	            <span class="jin-span1">
	                ¥{$value['sum_money']}
	            </span>
	            <p class="jin-p">
	                累计奖金总额
	            </p>
	        </div>
	    </a>
	</li>
	{/loop}	
	</ul>
	</div>

</body>
</html>