

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name = "viewport" content = "width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" >
    <meta content = "yes" name = "apple-mobile-web-app-capable" >
    <meta content = "black" name = "apple-mobile-web-app-status-bar-style" >
    <meta content = "telephone=no" name = "format-detection" >
    <meta content = "e-mail=no" name = "format-detection" / >
    <meta http - equiv = "Cache-Control" content = "no-cache, no-store, must-revalidate" / >
    <meta http - equiv = "Pragma" content = "no-cache" / >
    <meta http - equiv = "Expires" content = "0" / >
    <title>编辑资料</title>
    <link rel="stylesheet" type="text/css" href="../addons/xuan_mixloan/template/style/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../addons/xuan_mixloan/template/style/css/intial.css" />
    <!-- pic -->
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/lmy.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/index_new.css">
    <style>
        input:disabled{
            -webkit-text-fill-color: #666;
            -webkit-opacity: 1;
            color: #666;
        }
        .pic_one,.pic_two,.pic_tre{display: none;}
    </style>

    {template 'common/wxshare'}
</head>
<body class="bglightgray">
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url});
    }
</script>
{if !is_weixin()}
<style type="text/css">
    .app_header{height: 80px;width: 100%;background: #ffffff}
    .app_header_back{text-align: center;color: white}
    .app_header_back{padding-top: 48px;padding-left: 4%;padding-right: 4%}
    .app_header_back img{float:left;width: 12px;}
    .app_header_back span{margin-top: 10px;font-size: 17px;color: #7e8181}
</style>
<div class="app_header">
    <div class="app_header_back">
        <img src="../addons/xuan_mixloan/template/style/images/left_1.png" onclick="mui.back()">
        <span>设置</span>
    </div>
</div>
{/if}
<div class="agent-main">
    <div class="main-contain">
        <div class="personfile">
            <input type="hidden" value="1"  id="userid" name="userid">
            <ul class="clearfix">
                <li class="border first clearfix">
                    <div class="list-name">头像</div>
                    <div class="input-wap" >
                        <img src="{$member['avatar']}" id="btn"/>
                        <input type="hidden" value="" id="headimgurl"  name="headimgurl" data-name="{$member['avatar']}">
                    </div>
                    <div class="pic"><img src="../addons/xuan_mixloan/template/style/picture/back.png"/></div>
                </li>

                <li class="border clearfix">
                    <div class="list-name">昵称</div>
                    <div class="input-wap"><input type="text" name="nickname" id="nickname" value="{$member['nickname']}" placeholder="请输入您的昵称"  onkeyup="value=value.replace(/[\d]|\s+/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\d]|\s+/g,''))"  maxlength="30" ></div>
                    <div class="pic"><img src="../addons/xuan_mixloan/template/style/picture/back.png"/></div>
                </li>
                <li class="input-list  clearfix">
                    <div class="list-name">微信号</div>
                    <div class="input-wap"><input type="text" name="wechatnum" value="{$member['wechat']}" placeholder="输入微信号码" ></div>
                    <div class="pic"><img src="../addons/xuan_mixloan/template/style/picture/back.png"/></div>
                </li>

            </ul>
        </div>
        <h5 class="file-title"></h5>
        <div class="personfile">
            <ul class="clearfix">
                <li class="border clearfix">
                    <div class="list-name">姓名</div>
                    <div class="input-wap"><input type="text" name="realname" id="realname" value="{$member['realname']}" placeholder="输入真实姓名" style="color: #666 !important;"></div>
                    <div class="pic pic_one"><img src="../addons/xuan_mixloan/template/style/picture/back.png"/></div>
                </li>
                <li class="input-list  clearfix">
                    <div class="list-name">身份证号</div>
                    <div class="input-wap"><input type="text" name="idcard" id="idcard" value="{$member['certno']}" placeholder="输入身份证号码"></div>
                    <div class="pic pic_tre"><img src="../addons/xuan_mixloan/template/style/picture/back.png"/></div>
                </li>
                <h5 class="file-title"></h5>
                {if $agent}
                <li class="input-list border clearfix">
                    <div class="list-name">代理编号</div>
                    <div class="input-wap">
                        <p>{$agent['id']}</p>
                    </div>
                </li>
                {/if}
                <li class="input-list border clearfix">
                    <div class="list-name">职务</div>
                    <div class="input-wap">
                        <p>{if $agent}代理{else}用户{/if}</p>
                    </div>
                </li>
                {if $agent}
                <li class="input-list clearfix">
                    <div class="list-name">推荐人</div>
                    <div class="input-wap">
                        <p>{$agent['inviter']}</p>
                    </div>
                </li>
                {/if}
            </ul>
        </div>

    </div>
    <div class="agent_foot">
        <a href="javascript:;"  id="upSubmit">保存</a>
    </div>
</div>
<!--图片裁剪-->
<div class="clipbg displaynone">
    <div id="clipArea"></div>
    <div class="loading displaynone">正在载入图片...</div>
    <div class="footer">
        <dl>
            <dd style="background: #0195ff; color: #ffffff;border: none;">打开相册
                <input type="file" id="file" accept="image/*" >
            </dd>
            <dd id="clipBtn">完成裁剪</dd>
        </dl>
        <div class="back">取消</div>
    </div>
</div>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/jquery.min.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/lmy.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/hammer.min.js" ></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/lrz.all.bundle.js" ></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/iscroll-zoom-min.js" ></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/photoclip.js" ></script>

<!-- js -->
<script type="text/javascript">
    // 图片上传
    $("#btn").click(function(){
        $(".clipbg").fadeIn();

    })
    var clipArea = new  PhotoClip("#clipArea", {
        size: [300, 300],//裁剪框大小
        outputSize:[0,0],//打开图片大小，[0,0]表示原图大小
        file: "#file",
        ok: "#clipBtn",
        loadStart: function() {
            $(".loading").removeClass("displaynone");
        },
        loadComplete: function() {
            $(".loading").addClass("displaynone");
        },
        done: function(dataURL) {
            //console.log(dataURL);
            $("#btn").attr("src",dataURL);
            uploadImage();
            $(".clipbg").fadeOut();
        }

    });

    $(".back").click(function(){
        $(".clipbg").fadeOut();
    })
    ////////////////////
    function uploadImage () {
        var imguploadimg=layer.load(1, {
            shade: [0.5,'#000']
        });
        var base64=$("#btn")[0].src;
        $.post("{php echo $this->createMobileUrl('user', array('op'=>'uploadImage'))}", {'carousel':base64 },
            function(data) {
                if(data.code==1){
                    var avatar_url=data.data.avatar_url;

                    $("#headimgurl").attr("data-name",avatar_url).addClass("uploadindex");
                    layer.close(imguploadimg);
                }else{
                    layer.msg("系统繁忙,请重试!~");
                    return false;
                }

            },'json');
    }

    ///////判段
    $(function(){
        var realname=$("input[name='realname']").val();  //姓名
        var idcard=$("input[name='idcard']").val();   //身份证
        if(realname!=""){
            $("input[name='realname']").attr("disabled",true);
        }else{
            $('.pic_one').show();
        }
        if(idcard!=""){
            $("input[name='idcard']").attr("disabled",true);
        }else{
            $('.pic_tre').show();
        }

        $('#upSubmit').click(function(){
            upSubmit();
        })

    });

    // 恢复点击事件
    function click(){
        $("#upSubmit").bind("click",function(){
            upSubmit();
        });
    }

    function dataTransform(res){
        var ret="";
        if(res==null||res==undefined){
            ret="";
        }else{
            ret=res;
        }
        return ret;
    }


    function upSubmit() {
        $("#upSubmit").unbind('click');
        var userid=$("input[name='userid']").val();  //id
        var headimgurl=$("#headimgurl").attr("data-name");  //头像
        var nickname=$("input[name='nickname']").val();   //昵称
        var wechatnum=$("input[name='wechatnum']").val();  //微信号
        var realname=$("input[name='realname']").val();  //姓名
        var idcard=$("input[name='idcard']").val();   //身份证

        if (nickname == '输入您的昵称' || nickname == "") {
            document.getElementById('nickname').focus();
            layer.tips('请输入您的昵称', '#nickname', {
                tips: [3, '#0195ff'],
                time: 1000
            });
            click();
            return false;
        }

        if (realname == '输入真实姓名' || realname == '') {
            document.getElementById('realname').focus();
            layer.tips('请输入真实姓名', '#realname', {
                tips: [3, '#0195ff'],
                time: 1000
            });
            click();
            return false;
        }

        if (idcard == '输入身份证号' || idcard == '') {
            document.getElementById('idcard').focus();
            layer.tips('请输入身份证号', '#idcard', {
                tips: [3, '#0195ff'],
                time: 1000
            });
            click();
            return false;
        }

        if (!(/^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/.test(idcard))) {
            document.getElementById('idcard').focus();
            $("input[name='idcard']").attr("disabled",false);
            $('.pic_tre').show();
            layer.tips('请填写正确身份证号', '#idcard', {
                tips: [3, '#0195ff'],
                time: 1000
            });
            click();
            return false;

        }

        var imguploadimg=layer.load(1, {
            shade: [0.5,'#000']
        });
        var ajax = {};
        ajax.url = "{php echo $this->createMobileUrl('user', array('op'=>'setData'))}";
        ajax.type = "post";
        ajax.dataType="json";
        ajax.data = {'userid':dataTransform(userid),'headimgurl':dataTransform(headimgurl),'nickname':dataTransform(nickname),'wechatnum':dataTransform(wechatnum),'realname':dataTransform(realname),'phone':dataTransform(phone),'idcard':dataTransform(idcard)};
        ajax.success = function (data) {
            //alert(data);
            layer.close(imguploadimg);
            if (data.code == 1) {
                $('.pic_one').hide();
                $('.pic_two').hide();
                $('.pic_tre').hide();
                layer.msg('资料提交成功', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function(){
                    {if !is_weixin()}
                    mui.init({
                        beforeback: function(){
                            var user_index = plus.webview.getWebviewById('user_index');
                            mui.fire(user_index,'refresh');
                            var HBuilder = plus.webview.getWebviewById('HBuilder');
                            mui.fire(HBuilder,'refresh');
                            return true;
                        }
                    });
                    mui.back();
                    {else}
                    mui.openWindow({url:"{php echo $this->createMobileUrl('user')}", id:"user_index"});
                    {/if}
                    });
            }
            else {
                layer.msg(data.msg);
                click();
                return false;
            }

        }
        $.ajax(ajax);
    }

</script>

</body>
</html>