/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
/*.mui-plus.mui-android header.mui-bar{display: none;}
.mui-plus.mui-android .mui-bar-nav~.mui-content{padding: 0;}*/
/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{margin: .5em 0;}
.hm-description>li {font-size: 13px;color: #8f8f94;}
/*翟向鹏--公共样式*/
*{font-weight: bold;}
/* base */
*{ margin: 0; padding: 0;}
p{margin: 0;}
body {font-family: "Helvetica Neue","Helvetica,Arial","Microsoft YaHei","微软雅黑","sans-serif"; padding: 0; margin: 0; overflow-x: auto;}
b, h1, h2, h3, h4,h5,h6, strong {margin: 0; font-weight:normal; font-family: "微软雅黑";}
i, em { font-style:normal; }
ul,ol,li{list-style:none;}
ul{margin: 0;}
img{border:0;vertical-align:middle}
a { text-decoration: none;color:#000;}
a img { display: block; border: none; }
a:hover,a:active{outline:none;text-decoration:none;}
a:focus{outline:none;text-decoration:none;}
select, textarea, input { outline: none; }
input { border:none 0; font-family: "微软雅黑";}
input[type=text]{-webkit-appearance: none;}
input[type=password]{-webkit-appearance: none;}
input::-ms-clear {display: none; }
input::-ms-reveal{display: none;}
.headTitle{background: #fff; border-bottom: 1px solid #d3d8dc;-webkit-box-shadow: none;box-shadow: none;}
.headTitle .mui-icon-back:before,.headTitle .mui-btn-link,.headTitle .mui-icon-left-nav:before{color: #343956; font-weight: bold;}
.headTitleBlue .mui-icon-back:before,.headTitleBlue .mui-btn-link,.headTitleBlue .mui-icon-left-nav:before{color: #fff; font-weight: bold;}
.headTitle .mui-title{color: #353956; font-weight: bold;}
.headTitleBlue{background: #4c97fc; border: none;color: #fff}
.headTitleBlue .mui-icon-back:before,.headTitleBlue .mui-btn-link,.headTitleBlue .mui-icon-left-nav:before{color: #fff;}
.headTitleBlue .mui-title{color: #fff;}
.headTitleBlue.mui-bar .mui-btn.mui-pull-right{color: #fff;}
.fl {float: left; }
.fr {float: right; }
.clearfix:after { display: block; content:''; clear: both; }
.clearfix { zoom:1; }
.mui-bar{height: 0.88rem;}
.mui-bar .mui-icon{    margin-right: -0.2rem;
    margin-left: -0.2rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;}
.mui-bar .mui-icon{
	font-size: 0.48rem;
    position: relative;
    z-index: 20;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.mui-title{font-size: 0.34rem;}
.mui-bar .mui-btn-link.mui-active, .mui-bar .mui-btn-link:active{color: #fff;}
.mui-bar .mui-icon:active{opacity: 1;}
.mui-bar-tab .mui-tab-item .mui-icon:active{background:inherit;}
/*a{text-decoration: none;-webkit-tap-highlight-color: transparent;-webkit-touch-callout: none;-webkit-user-select: none;}*/
/*首页九宫格*/
.mui-grid-view.mui-grid-9 .mui-media .mui-icon { width: 45px; height: 45px;}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {text-overflow: clip;}
/*添加css*/
body {color: #333333;}
p { color: #666666;}
ul {list-style: none;}
.mui-grid-view.mui-grid-9 {background: #fff;border:none;}
.mui-grid-view.mui-grid-9 .mui-table-view-cell {border:none; padding: 0;}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body { font-size: 13 px;}
.mui-table-view.list{ background: #eeeeee;}
.mui-table-view-cell:after{left: 0; }
.mui-table-view.title_h {color: #333; text-indent: 15px; line-height: 24px; background:#fff;border: none;margin-top: 10px;padding: 3px 0;}
.list .mui-media-object {border-radius: 50%;/*line-height: 52px; height: 52px; max-width: 52px;*/}
.m_title {position: relative;}
.m_title span { position: absolute;right: 0;font-size: 13px;}
.mui-btn-block {font-size: 13px; padding: 10px 0;border-radius: 10px;}















