

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta  content="e-mail=no" name="format-detection"/>
    <title>极速下卡-最快3秒核卡</title>
    <script src="../addons/xuan_mixloan/template/style/js/jquery_2.js"></script>
    <script src="../addons/xuan_mixloan/template/style/js/jquery.lazyload_1.js"></script>
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/agent_1.js"></script>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/swiper.min_2.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/main_3.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/loanmkt_3.css">

    {template 'common/wxshare'}
</head>
<body style="background-image: url(../addons/xuan_mixloan/template/style/images/59f980a2a4ec9_1.png);background-size: 100% 100%;height: 1500px">
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url});
    }
</script>
{if !is_weixin()}
{/if}
<div class="common_frame fastC">
    <div class="fastC_lists">
        <ul>
            {loop $cards $c}
            <li>
                <div class="fastC_M">
                    <div class="fastCM_T">
                        <h2>{$c['name']}</h2>
                        <img src="{php echo tomedia($c['ext_info']['pic']);}" />
                    </div>
                    <dl>
                        <dd>{$c['ext_info']['v_name']}</dd>
                        <dd>{$c['ext_info']['intro']}</dd>
                    </dl>
                    <a href="{$c['ext_info']['url']}" data-id="{$c['id']}" onclick="clickNum(this);">立即申请</a>
                </div>
            </li>
            {/loop}
        </ul>
    </div>
    <div class="fstC_more"><a href="{php echo $this->createMobileUrl('bank', array('op'=>'bank_card'))}">更多推荐信用卡</a></div>
</div>
<script type="text/javascript">
    // 记录点击数
    function clickNum(index){
        var id=$(index).attr("data-id");
        $.post("{php echo $this->createMobileUrl('bank', array('op'=>'cardView'))}",{"id":id},
            function(data){
                console.log(data);
            },'json')
    }
</script>
</body>
</html>