

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta  content="e-mail=no" name="format-detection"/>
    <title>热门推荐-下卡排行</title>
    <script src="../addons/xuan_mixloan/template/style/js/jquery_2.js"></script>
    <script src="../addons/xuan_mixloan/template/style/js/jquery.lazyload_1.js"></script>
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/agent_1.js"></script>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/swiper.min_2.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/main_3.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/loanmkt_3.css">
    <script src="../addons/xuan_mixloan/template/style/js/jweixin-1.2.0_1.js"></script>
    <style type="text/css">
        /*轮播图样式*/
        div.swiper-container{background: url('../addons/xuan_mixloan/template/style/images/phb_bg2_1.png');background-size: 100% 100%;}
        div.swiper-container .swiper-wrapper{width: 33.33%;padding:25px 0 12px 0;}
        div.swiper-container .swiper-wrapper .swiper-slide-active{position: relative;top:-12px;}
        div.swiper-container .swiper-wrapper .swiper-slide-active a>img{width: 83%;}
        div.fstC, div.hotR{margin-top: 0}
    </style>

    {template 'common/wxshare'}
</head>
<body class="bglightgray">
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url});
    }
</script>
{if !is_weixin()}
<style type="text/css">
    .app_header{background: #ff6666;height: 6rem}
    .app_header_back{text-align: center;color: white}
    .app_header_back{padding-top: 48px;padding-left: 4%}
    .app_header_back img{position: absolute;left:4%;width: 25px;}
    .app_header_back span{margin-top: 10px;font-size: 17px}
</style>
<div class="app_header">
    <div class="app_header_back">
        <img src="../addons/xuan_mixloan/template/style/images/left_white.png" onclick="mui.back()">
        <span>热门推荐</span>
    </div>
</div>
{/if}
<div style="background-image: url(../addons/xuan_mixloan/template/style/images/59f980aa2fd25_1.png);background-size: 100% 100%;height: 1100px">
<div class="common_frame hotR">
    <div class="hotR_phb">
        <div class="phb_roll">
            <p><img src="../addons/xuan_mixloan/template/style/picture/phb_1.png"></p>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {php $loops=1;}
                    {loop $hots $hot}
                    {if $loops == 3}{php $loops=1;}{else}{php $loops++;}{/if}
                    <div class="swiper-slide hotR_rollimg">
                        <a href="{php echo tomedia($hot['ext_info']['pic']);}" data-id="{$hot['id']}" onclick="clickNum(this);">
                            <span class="colorbg_{$loops}"><img src="../addons/xuan_mixloan/template/style/picture/fire_1.png" /><b>{$hot['ext_info']['v_name']}</b></span>
                            <img src="../addons/xuan_mixloan/template/style/picture/59f9825ebe479_1.jpg" />
                            <h2>{$hot['name']}</h2>
                            <p><em>{$hot['apply_nums']}</em>人已申请</p>
                        </a>
                    </div>
                    {/loop}
                </div>
            </div>
            <img src="../addons/xuan_mixloan/template/style/picture/phb_b_1.png" />
        </div>
    </div>
    <div class="hotR_lists">
        {loop $cards $c}
        <div class="recommend_main fstC_list">
            <h2>{$c['name']}<a href="{$c['ext_info']['url']}" data-id="{$c['id']}" onclick="clickNum(this);">立即办卡</a></h2>
            <div class="recommend_detail fstC_dtl">
                <span class="card_img"><img src="{php echo tomedia($c['ext_info']['pic']);}" /></span>
                <div class="card_desc">
                    <p>{$c['ext_info']['v_name']}</p>
                    <p>{$c['ext_info']['intro']}</p>
                </div>
                <div class="apply_no">
                    <p><span>{$c['apply_nums']}</span></p>
                    <p>已申请</p>
                </div>
            </div>
        </div>
        {/loop}
    </div>
    <div class="hotR_more"><a href="{php echo $this->createMobileUrl('bank', array('op'=>'bank_card'))}">更多推荐信用卡</a></div>
</div>
</div>
<script type="text/javascript" src=../addons/xuan_mixloan/template/style/js/swiper.min_2.js></script>
<script type="text/javascript">
    // 头部banner
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        slidesPerView: "auto",
        centeredSlides:true,
        // spaceBetween: 10,
        autoplay: 4000,//可选选项，自动滑动
        loop : true,
        autoplayDisableOnInteraction : false,
    });
    // 记录点击数
    function clickNum(index){
        var id=$(index).attr("data-id");
        $.post("{php echo $this->createMobileUrl('bank', array('op'=>'cardView'))}",{"id":id},
            function(data){
                console.log(data);
            },'json')
    }
</script>
</body>
</html>