

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta  content="e-mail=no" name="format-detection"/>
    <title>信用卡中心</title>
    <script src="../addons/xuan_mixloan/template/style/js/jquery_2.js"></script>
    <script src="../addons/xuan_mixloan/template/style/js/jquery.lazyload_1.js"></script>
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/agent_1.js"></script>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/swiper.min_2.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/main_4.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/loanmkt_2.css">


    {template 'common/wxshare'}
</head>
<body class="bglightgray">
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url});
    }
    function openBank(id){
        window.location.href = "{php echo $this->createMobileUrl('bank', array('op'=>'display'))}&id=" + id;
    }
    function return_user(){
        var user_url = '{php echo $this->createMobileUrl('user')}';
        var user_index = plus.webview.getWebviewById('user_index');
        mui.fire(user_index,'refresh');
        mui.openWindow({url:user_url, id:'user_index'});
    }
</script>
{if !is_weixin()}
<style type="text/css">
    @media only screen and (device-width: 375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
        div.agent-foot{padding-bottom:20px; }
        div.agent-main{padding-bottom:0px;}
    }
    div.loan_tab ul li a{
        height: 70px;
        line-height: 95px
    }
    .app_back {
        position: absolute;
        display: inline-block;
        padding: 0 10px 0 8px;
        z-index: 999;
        line-height: 0px;
        top: 2rem
    }
    .app_back img {
        display: inline-block;
        height: 16px;
        margin: 13px 0;
        vertical-align: middle;
        left: 0;
        top: 0;
        transform: rotate(180deg);
    }
    .agent-foot{
        height: 4rem
    }
    div.agent-foot p.foot_img {
        height: 2.22rem;
        margin-top: 0.1rem;
    }
    div.agent-foot p>img {
        height: 2.22rem;
        width: 2.1rem;
        max-height: 100%;
    }
    .agent-foot p {
        font-size: 0.8rem;
        font-family: Helvetica !important;
        vertical-align: middle;
        line-height: 1.5em;
    }
</style>
{/if}
<div class="loan_tab">
    {if !is_weixin()}
    <a class="app_back" href="javascript:void(0);" onclick="mui.back()"><img src="../addons/xuan_mixloan/template/style/picture/icon_arrow_1.png" /></a>
    {/if}
    <ul>
        <li><a onclick="openNew('{php echo $this->createMobileUrl('loan')}')">首页</a></li>
        <li><a onclick="openNew('{php echo $this->createMobileUrl('loan', array('op'=>'loan_select'))}')">贷款</a></li>
        <li class="on"><a href="javascript:;">办卡</a></li>
    </ul>
</div>
{if !is_weixin()}
<div class="agent-foot">
    <!-- <a onclick="openNew('{php echo $this->createMobileUrl('loan', array('op'=>''))}')">
        <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/cwd_1.png" /></p>
        <p>首页</p>
    </a> -->
    <a onclick="openNew('{php echo $this->createMobileUrl('loan', array('op'=>'loan_select'))}')" class="today-cell">
        <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/evdayhot_1.png" /></p>
        <p>借钱</p>
        <!--<span class="new-icon"><img src="../addons/xuan_mixloan/template/style/picture/icon_new_1.png"/></span>-->
    </a>
    <!-- <a onclick="openNew('{php echo $this->createMobileUrl('friend', array('op'=>''))}')" class="home" >
        <img class="lazy" data-data-original="../addons/xuan_mixloan/template/style/images/friendcircle_1.png" src="../addons/xuan_mixloan/template/style/images/friendcircle.png" width="45px" alt="">
    </a> -->
    <a onclick="openNew('{php echo $this->createMobileUrl('product', array('op'=>''))}')">
        <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/i_daike_1.png" /></p>
        <p>指点客</p>
    </a>
    <a onclick="return_user()" class="on">
        <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/hl_personal_1.png" /></p>
        <p>个人中心</p>
    </a>
</div>
{/if}
<div class="cards_frame">
    <div class="common_frame hot_bank">
        <h1><span>热门银行</span><a onclick="openNew('{php echo $this->createMobileUrl('bank', array('op'=>'bank_card'))}')">全部<img src="../addons/xuan_mixloan/template/style/picture/icon_arrow_1.png" /></a></h1>
        {loop $banks $row}
        <ul>
            {loop $row $key}
            <li>
                <a onclick="openNew('{php echo $this->createMobileUrl('bank', array('op'=>'bank_card', 'bank_id'=>$key['id']))}')">
                    <p><img src="{php echo tomedia($key['ext_info']['logo'])}" /></p>
                    <p>{$key['name']}</p>
                </a>
            </li>
            {/loop}
        </ul>
        {/loop}
    </div>
    <div class="common_frame shutcut_recommend">
        <ul>
            <li>
                <a onclick="openNew('{php echo $this->createMobileUrl('bank', array('op' => 'first_card'))}')">
                    <div class="shortcut_title">
                        <h2>人生首卡</h2>
                        <p>超低门槛,稳下</p>
                    </div>
                    <span><img src="../addons/xuan_mixloan/template/style/picture/first_card_1.png" /></span>
                </a>
            </li>
            <li>
                <a onclick="openNew('{php echo $this->createMobileUrl('bank', array('op' => 'fast_card'))}')">
                    <div class="shortcut_title">
                        <h2>极速下卡</h2>
                        <p>最快3秒核卡</p>
                    </div>
                    <span><img src="../addons/xuan_mixloan/template/style/picture/fast_card_1.png" /></span>
                </a>
            </li>
            <li>
                <a onclick="openNew('{php echo $this->createMobileUrl('bank', array('op' => 'hot_card'))}')">
                    <div class="shortcut_title">
                        <h2>热门推荐</h2>
                        <p>下卡排行</p>
                    </div>
                    <span><img src="../addons/xuan_mixloan/template/style/picture/hot_rec_1.png" /></span>
                </a>
            </li>
            <li>
                <a onclick="openNew('{php echo $this->createMobileUrl('bank', array('op' => 'high_card'))}')">
                    <div class="shortcut_title">
                        <h2>高额度卡</h2>
                        <p>想刷就刷</p>
                    </div>
                    <span><img src="../addons/xuan_mixloan/template/style/picture/high_edu_1.png" /></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="common_frame extend_main">
        <ul>
            <li>
                <a onclick="openNew('{php echo $this->createMobileUrl('bank', array('op'=>'extend_query'))}')">
                    <p><img src="../addons/xuan_mixloan/template/style/picture/progress_1.png" /></p>
                    <p>进度查询</p>
                </a>
            </li>
            <li>
                <a onclick="openNew('{php echo $this->createMobileUrl('bank', array('op'=>'extend_limit'))}')">
                    <p><img src="../addons/xuan_mixloan/template/style/picture/online_tier_1.png" /></p>
                    <p>在线提额</p>
                </a>
            </li>
            <li>
                <a onclick="openNew('{php echo $this->createMobileUrl('bank', array('op'=>'extend_tips'))}')">
                    <p><img src="../addons/xuan_mixloan/template/style/picture/tier_skill_1.png" /></p>
                    <p>提额干货</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="common_frame auto_recommend">
        <h1><span>智能推荐</span></h1>
        {loop $recommends $re}
        <div class="recommend_main cards_recommend" data-id="{$re['id']}"onclick="clickNum(this);">
            <a onclick="openBank('{$re['id']}')">
                <h2>{$re['name']}</h2>
                <div class="recommend_detail">
                    <span class="card_img"><img src="{php echo tomedia($re['ext_info']['pic'])}" /></span>
                    <div class="card_desc">
                        <p>{$re['ext_info']['v_name']}</p>
                        <p>{$re['ext_info']['intro']}</p>
                    </div>
                    <div class="apply_no">
                        <p><span>{$re['apply_nums']}</span>人</p>
                        <p>已申请</p>
                    </div>
                    <span class="ph"><img src="../addons/xuan_mixloan/template/style/picture/top_1_1.png" /></span>
                </div>
            </a>
        </div>
        {/loop}
    </div>
    <div class="common_frame hot_cards">
        <h1><span>热门卡种</span><a onclick="openNew('{php echo $this->createMobileUrl('bank', array('op'=>'bank_card'))}')">更多<img src="../addons/xuan_mixloan/template/style/picture/icon_arrow_1.png" /></a></h1>
        <div class="hotC_list">
            {loop $list $card}
            <div class="hot_main" data-id="{$card['id']}" onclick="clickNum(this);">
                <a onclick="openBank('{$card['id']}')">
                    <span><img src="{php echo tomedia($card['ext_info']['pic'])}" /></span>
                    <div class="hot_detail">
                        <h2>{$card['name']}</h2>
                        <p>{$card['ext_info']['intro']}</p>
                        <ul>
                            {loop $card['ext_info']['tag'] $tag}
                            <li style="color: #6495ED;border:1px solid #6495ED"><em style="font-family: '微软雅黑'!important;">{$tag}</em></li>
                            {/loop}
                        </ul>
                    </div>
                </a>
            </div>
            {/loop}
        </div>
        <a class="more_hotcards"><img src="../addons/xuan_mixloan/template/style/picture/loading_1.png" />加载中</a>
        <a class="no_hotcards">没有更多咯~</a>
    </div>
</div>
<script type="text/javascript" src=../addons/xuan_mixloan/template/style/js/swiper.min_2.js></script>
<script type="text/javascript">
    $(document).ready(function(){
        var fr_T=($("div.loan_tab").height())+5+"px";
        $("div.cards_frame").css("margin-top",fr_T);
        //下拉加载更多
        var hot_mainH=($("div.hot_main").outerHeight())*10+"px";
        $("div.hotC_list").css("height",hot_mainH);

        var range = 0;             //距下边界长度/单位px
        var maxnum = 20;            //设置加载最多次数
        var num = 1;
        var totalheight = 0;                    //主体元素
        $(window).scroll(function(){
            var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)
            //console.log("滚动条到顶部的垂直高度: "+$(document).scrollTop());
            //console.log("页面的文档高度 ："+$(document).height());
            //console.log('浏览器的高度：'+$(window).height());
            totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
            if(($(document).height()-range) <= totalheight) {
                if($(".no_hotcards").css("display")!="block"){
                    $(".more_hotcards").show();
                    var t=setTimeout(function(){
                        var list_H=$("div.hotC_list").outerHeight();
                        var total_height=$("div.hot_main").length*$("div.hot_main").outerHeight();
                        var revise_H=list_H+($("div.hot_main").outerHeight()*5);
                        $(".more_hotcards").hide();

                        $("div.hotC_list").css("height",'auto');
                        $(".no_hotcards").show();
                    },1000);
                    num++;
                }
            }
        });
    })
    // 记录点击数
    function clickNum(index){
        var channel=1;
        var id=$(index).attr("data-id");
        $.post("{php echo $this->createMobileUrl('bank', array('op'=>'cardView'))}",{"id":id},
            function(data){
                console.log(data);
            },'json')
    }
</script>
</body>
</html>