<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta name="format-detection" content="telephone=no" >
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>评论详情</title>
	<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_buy_vip/css/kashen.css">
	<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/swiper.min_3.css">
	<script src="../addons/xuan_mixloan/template/style/new_buy_vip/js/jquery-1.11.1.min.js"></script>
</head>
<body>
<!--<div class="wdfanhui"><a href="--><!--"></a><span>评论详情</span></div>-->
<!--<div class="cheng2"></div>-->
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
function openNew(url){
    mui.openWindow({url:url});
}
</script>
{if !is_weixin()}
<style type="text/css">
    .app_header{height: 80px;width: 100%;background: #eeeeee}
    .app_header_back{text-align: center;color: white}
	.app_header_back{padding-top: 48px;padding-left: 4%;padding-right: 4%}
	.app_header_back img{float:left;width: 12px;}
    .app_header_back span{margin-top: 10px;font-size: 17px;color: #7e8181}
</style>
<div class="app_header">
	<div class="app_header_back">
		<img src="../addons/xuan_mixloan/template/style/images/left_1.png" onclick="openNew('{php echo $this->createMobileUrl('user')}')">
		<span>购买会员</span>
	</div>
</div>
{/if}
<div class="swiper-container pro-swiper">
	<div class="swiper-wrapper">
		{loop $config['buy_adv_pics'] $pic}
	  <div class="swiper-slide"><img src="{php echo tomedia($pic);}" width="100%" alt=""></div>
		{/loop}
	</div>
</div>
<div class="zhinan-mai">
	<div>
		<h3>{$config['title']}代理会员资格</h3>
		<span class="zn-price">￥{$config['buy_vip_price']}元</span><span class="zn-price2">支付立即成为代理</span><span class="zn-price2">已售{$buy_count}</span>
	</div>
	<ul class="xiang_xiang">
		<li><span>网贷申请全步骤</span></li>
		<li><span>最全口子资讯</span></li>
		<li><span>一键自助提额</span></li>
	</ul>
</div>

<div class="mgntop-1">
	<div class="dianpin-tlt"><a onclick="openNew('{php echo $this->createMobileUrl('vip', array('op' => 'buy_comments'))}')"><span>用户评价({$count_comments})</span><span class="more"></span></a></div>
	<ul>
		{loop $comments $comment}
		<li class="dianpin">
			<div class="dianpin-top"><img src="{$comment['avatar']}" class="vipimg1"><h3>{$comment['nickname']}</h3><span>{$comment['createtime']}</span></div>
			<p>{$comment['content']}</p>
		</li>
		{/loop}
	</ul>
</div>

<div class="xiang-tlt mgntop-1"><span>产品详情</span></div>
<div class="zn-img">
	<img src="{php echo tomedia($config['buy_intro_pic'])}" alt="">
</div>
<div class="cheng"></div>
<div class="xrgm_sbt"><a href="javascript:;" class="xrgm_a" {if !$verify}onclick="toPurchase()"{/if}>{if !$verify}购买代理会员{else}已购买{/if}</a></div>
<!--<form name="shanpayment" action="" method="post">
		<input name="WIDout_trade_no" type="hidden" value="" size="35" />
		<input  name="WIDsubject" type="hidden" value="卡神大师88元VIP终身会员" size="35" />
		<input name="WIDtotal_fee" type="hidden" value="" size="35" />
</form>-->


<script src="../addons/xuan_mixloan/template/style/new_buy_vip/js/t-charging.min.js"></script>
<script type="text/javascript" src=../addons/xuan_mixloan/template/style/js/swiper.min_3.js></script>
<script>

function toPurchase(){
	openNew("{php echo $this->createMobileUrl('vip', ['op'=>'pay'])}");
}
$(function(){
	var mySwiper = new Swiper('.swiper-container', {
		autoplay: 5000,//可选选项，自动滑动
		loop : true,
		autoplayDisableOnInteraction : false,
		// slidesOffsetBefore : 20,
		// slidesOffsetAfter : 20,
	});
});
</script>
</body>
</html>