<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>对应关系</title>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/kashen.css">
    <script src="../addons/xuan_mixloan/template/style/js/jquery-1.12.4.min.js"></script>
    <script src="../addons/xuan_mixloan/template/style/js/function.js"></script>
    <style type="text/css">
        .kehu-table {
            text-align: left;
        }
        .label-info{
            background: #5190e7;
            padding: 4px;
            color: white;
            border-radius: 4px;
        }
        .label-img{
            margin-left: 30px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            vertical-align: middle;
        }
        .kehu-table tr td {
            font-size: 0.5rem
        }
    </style>
</head>

<body>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url});
    }
</script>
{if !is_weixin()}
{/if}
<table class="kehu-table">
    <tbody>
    {loop $list $row}
    <tr class="list">
        <td width="70%">
            <img src="{php echo tomedia($row['avatar']);}" class="label-img">
            <span>{$row['nickname']}</span>
        </td>
        <td>
            <span class="label-info">{if $row['degree']==1}大师兄{else if $row['degree']==2}二师兄{else if $row['degree']==3}三师兄{/if}</span>
        </td>
    </tr>
    {/loop}
    <tr class="list">
        <td><img class="label-img" src="{php echo tomedia($brother['avatar']);}">
            <span>{$brother['nickname']}</span>
        </td>
        <td>
            <span class="label-info">小师弟</span>
        </td>
    </tr>
    </tbody>
</table>
<table style="width: 100%;text-align: center;font-size: 0.5rem;margin: 10px 0;background: white">
    <tbody>
    <tr class="list">
        <td style="width: 25%" onclick="openNew('{php echo $this->createMobileUrl('vip', array('op'=>'degreeDetail', 'uid'=>$uid))}')">
            所有产品
        </td>
        <td style="width: 25%" onclick="openNew('{php echo $this->createMobileUrl('vip', array('op'=>'degreeDetail', 'status'=>0, 'uid'=>$uid))}')">
            申请中
        </td>
        <td style="width: 25%" onclick="openNew('{php echo $this->createMobileUrl('vip', array('op'=>'degreeDetail', 'status'=>2, 'uid'=>$uid))}')">
            已通过
        </td>
        <td style="width: 25%" onclick="openNew('{php echo $this->createMobileUrl('vip', array('op'=>'degreeDetail', 'status'=>-1, 'uid'=>$uid))}')">
            未通过
        </td>
    </tr>
    </tbody>
</table>
<table style="width: 100%;text-align: center;font-size: 0.5rem;margin: 10px 0;background: white">
    <tbody>
    {loop $apply $row}
    <tr class="list">
        <td style="width: 25%">
            {$row['realname']}
        </td>
        <td style="width: 50%">
            {$row['phone']}
        </td>
        <td style="width: 25%">
            {if $row['status'] == 0}
            申请中
            {else if $row['status'] > 0}
            已通过
            {else if $row['status'] == -1}
            未通过
            {/if}
        </td>
    </tr>
    {/loop}
    </tbody>
</table>
</body>

</html>