

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="e-mail=no" name="format-detection" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>{$config['title']}</title>
		<script src="../addons/xuan_mixloan/template/style/js/jquery_2.js"></script>
		<script src="../addons/xuan_mixloan/template/style/js/lmy_2.js"></script>
		<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/lmy_1.css">
		<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/new_base_4.css">
		<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/customlist_1.css">
		<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/index_new_1.css">
		<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer_2.js"></script>
		
	
	{template 'common/wxshare'}
</head>
	<style>
		@media only screen and (device-width: 375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
        	div.agent-foot{padding-bottom:20px; }
        	div.agent-main{padding-bottom:20px;}
    	}
		
	</style>
<body style="background:#fff;">
	<div class="agent-header">
		{$config['title']}
		<a class="return" href="{php echo $this->createMobileUrl('mix' ,['op'=>'tutorials'])}" ><img src="../addons/xuan_mixloan/template/style/picture/problem_1.png" /></a>
	</div>
	<div class="agent-foot">
        <a href="{php echo $this->createMobileUrl('product', array('op'=>''))}"  class="on">
            <!-- <span class="iconfont icon-card2"></span> -->
            <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/hl_idaike_1.png" /></p>
            <p>推广中心</p>
        </a>
        <a href="{php echo $this->createMobileUrl('channel', array('op'=>''))}" class="today-cell">
            <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/evdayhot_1.png" /></p>
            <p>新闻中心</p>
       </a>
        <a class="home" href="{php echo $this->createMobileUrl('friend', array('op'=>''))}">
            <img class="lazy" data-data-original="../addons/xuan_mixloan/template/style/images/friendcircle_1.png" src="../addons/xuan_mixloan/template/style/images/friendcircle.png" width="45px" alt="">
            <p>会员交流</p>
        </a>
        <a href="{php echo $this->createMobileUrl('loan', array('op'=>''))}">
            <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/cwd_1.png" /></p>
            <p>信贷大全</p>
        </a>
        <a href="{php echo $this->createMobileUrl('user', array('op'=>''))}">
            <p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/personal_1.png" /></p>
            <p>个人中心</p>
        </a>
    </div>
	<div style="height:2rem;"></div>
	<div class="cusLMain agent-main" style="height:auto;">
		<div class="accCommon monthAccount">
			<h1><img src="../addons/xuan_mixloan/template/style/images/daili.png" />下级代理</h1>
			<div class="productLstC monthATitle">
				<ul>
					<li>代理名称</li>
					<li>关注时间</li>
					<li>是否开通</li>
					<li>奖金</li>
				</ul>
			</div>
			<div class="productLstC productData inviteProduct" style="padding-bottom: 2.8rem;">
			</div>
		</div>
	</div>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/custlist_1.js"></script>
<script type="text/javascript">
var layerindex;
var gdFlag=false;//广大白金卡2018/1/1之后数据(包含2018/1/1)
$(function(){
	layerindex = layer.load(1, {
	  	shade: [0.1,'#fff'], //0.1透明度的白色背景
	});
})

$(function(){
	var date=new Date;
	var curYear=date.getFullYear(); 
	var curMonth=date.getMonth()+1;
	//curMonth =(curMonth<10 ? "0"+curMonth:curMonth); 
	var curDate = (curYear.toString()+'-'+curMonth.toString());
	curUnix=DateToUnix(curDate);
	$("#pointY").html(curYear);
	$("#pointM").html(curMonth);
	ajaxData(curYear,curMonth);
})
//根据时间调取数据
function ajaxData(year,month){	
	layerindex = layer.load(1, {
	  	shade: [0.1,'#fff'], //0.1透明度的白色背景
	});
	$.post("{php echo $this->createMobileUrl('product', array('op'=>'inviter_list', 'uid'=>$_GPC['uid']))}",{},
		function(res){
			layer.closeAll();
			if(res.code==1){
				$("div.cusLMain").show();
				var data=res.data;
				var applys=data.applys;//申请数
				var days=data.days_list;//日结	
				$("div.inviteProduct").html("");				
				var invite=data.invite_list;//月结
				for(j=0;j<invite.length;j++){
					var inviteStr='';
					var mTitle=invite[j].nickname;
					var mCreatetime=invite[j].createtime;
					if (invite[j].pay == 1) {
						var mPay = '是'
					} else {
						var mPay = '否';
					}
					var mrewards=invite[j].re_bonus;
							inviteStr += '<ul onclick="detail('+ invite[j].uid +')">'
					inviteStr += '<li>'+ mTitle +'</li>';
					inviteStr += '<li>'+ mCreatetime +'</li>';
					
						inviteStr += '<li>'+ mPay +'</li>';
					inviteStr += '<li>¥ '+ mrewards +'</li>';
					inviteStr += '</ul>';
					$("div.inviteProduct").append(inviteStr);
				}
			}else{
				layer.msg("接口数据错误，请重试！");
				return false;
			}
		},'json')
}
// 日结产品跳转
function detail(index){
	location.href="{php echo $this->createMobileUrl('vip', array('op'=>'extend_list'))}&uid="+index;
}
</script>
</body>
</html>