<html style="height: 100%;">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_user_index/css/czym.css" type="text/css">
        <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no">
        <title>
            我的团队
        </title>
        <style type="text/css">
        .team-userms-box{background: #00a2ff}
        .team-ms-box{background: #00a2ff}
        .team-ms-box .vertucal-bar{background-color: #98a7b8;}
        a.more_hotcards, a.no_hotcards {
            display: inline-block;
            width: 100%;
            text-align: center;
            height: 42px;
            line-height: 42px;
            font-size: 15px;
            color: #727272;
            display: none;
        }
        </style>
    </head>
    <body style="height: 100%;background-color: #f1f4f8">
        <script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
        <script src="../addons/xuan_mixloan/template/style/js/jquery-1.12.4.min.js"></script>
        <script type="text/javascript">
            function openNew(url){
                mui.openWindow({url:url});
            }
        </script>
        {if !is_weixin()}
        <style type="text/css">
            .app_header{height: 80px;width: 100%;background: #ffffff}
            .app_header_back{text-align: center;color: white}
            .app_header_back{padding-top: 48px;padding-left: 4%;padding-right: 4%}
            .app_header_back img{float:left;width: 12px;}
            .app_header_back span{margin-top: 10px;font-size: 17px;color: #7e8181}
        </style>
        <div class="app_header">
            <div class="app_header_back">
                <img src="../addons/xuan_mixloan/template/style/images/left_1.png" onclick="mui.back()">
                <span>我的团队</span>
            </div>
        </div>
        {/if}
        <div class="team-box bgh">
            <div class="team-userms-box">
                <!-- <img src="../addons/xuan_mixloan/template/style/new_user_index/picture/bgmyteam_icon.png" class=""> -->
                <img src="{$member['avatar']}" class="head-img">
                <div class="userms-name">
                    <span>{$member['nickname']}</span> <img src="../addons/xuan_mixloan/template/style/new_user_index/picture/icon_bqbq.png" class="bq-icon">
                </div>
                <div class="team-ms-box">
                    <div class="team-sum-box">
                        <span class="sm-sz">团队总数(人)</span> <span class="big-sz">{$follow_count}</span>
                    </div>
                    <div class="vertucal-bar"></div>
                    <div class="team-performance-box">
                        <span class="sm-sz">我的业绩(元)</span> <span class="big-sz">{$count}</span>
                    </div>
                </div>
            </div>
            <ul class="ul" temp-id="999999999" id="follow_list">
              
                <!-- <li style="list-style: none">
                    <a onclick="openNew('{php echo $this->createMobileUrl('vip', array('op' => 'inviteCode', 'type'=>3))}')" class="yqhy">邀请好友</a>
                </li> -->
            </ul>
        </div>
        <div style="text-align: center;">
            <a class="more_hotcards"><img src="../addons/xuan_mixloan/template/style/picture/loading_1.png" style="width: 18px;" />加载中</a>
            <a class="no_hotcards">没有更多咯~</a>
        </div>
        <script type="text/javascript">
            post_data();
             $(window).scroll(function(){
                var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)
                totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
                if($(document).height() <= totalheight) {
                    post_data();
                }
            });
            function post_data(){
                $('.more_hotcards').show();
                var id = $('#follow_list').attr('temp-id');
                var temp_id = id;
                $.post("{php echo $this->createMobileUrl('vip', array('op'=>'getFollowList'))}", {"id":id},
                    function(data){
                        $('.more_hotcards').hide();
                        if(data.code==1){
                            var _data = data.data.list;
                            var str='';
                            for (var i = 0; i < _data.length; i++) {
                                if (temp_id > _data[i].id) {
                                    temp_id = _data[i].id;
                                }
                                str += '<li style="list-style: none; display: inline">\
                                            <div class="sxtimer-box">\
                                                <label>' + _data[i].createtime1 + '</label> <span>推荐奖励 ' + _data[i].bonus + '</span>\
                                            </div>\
                                        </li>\
                                        <li class="li-team">\
                                            <img src="' + _data[i].avatar + '" class="head-ig"> <img>\
                                            <div class="rg-ms-box">\
                                                <div class="tp-ms-box">\
                                                    <span class="team-name">' + _data[i].nickname + '</span> \
                                                    <img src="../addons/xuan_mixloan/template/style/new_user_index/picture/icon_bqbq.png">\
                                                </div><span class="regit-timer">注册时间: <span>' + _data[i].createtime2 + '</span></span>\
                                            </div>\
                                        </li>';
                            }
                            $('#follow_list').append(str);
                            $('#follow_list').attr('temp-id', temp_id);
                        } else {
                            $('.no_hotcards').show();
                        }
                    },'json'
                );
            }
        </script>
    </body>
</html>