<html style="height: 100%;">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_user_index/css/czym.css" type="text/css">
        <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no">
        <title>
            我的团队
        </title>
        <style type="text/css">
  .team-userms-box{background: #00a2ff}
          .team-ms-box{background: #00a2ff}
          .team-ms-box .vertucal-bar{background-color: #98a7b8;}
        </style>
    </head>
    <body style="height: 100%;background-color: #f1f4f8">
        <div class="team-box bgh">
            <div class="team-userms-box">
                <!-- <img src="../addons/xuan_mixloan/template/style/new_user_index/picture/bgmyteam_icon.png" class=""> -->
                <img src="{$member['avatar']}" class="head-img">
                <div class="userms-name">
                    <span>{$member['nickname']}</span> <img src="../addons/xuan_mixloan/template/style/new_user_index/picture/icon_bqbq.png" class="bq-icon">
                </div>
                <div class="team-ms-box">
                    <div class="team-sum-box">
                        <span class="sm-sz">团队总数(人)</span> <span class="big-sz">{$follow_count}</span>
                    </div>
                    <div class="vertucal-bar"></div>
                    <div class="team-performance-box">
                        <span class="sm-sz">我的业绩(元)</span> <span class="big-sz">{$count}</span>
                    </div>
                </div>
            </div>
            <ul class="ul">
              {loop $follow_list $follow}
                <li style="list-style: none; display: inline">
                    <div class="sxtimer-box">
                        <label>{php echo date('Y-m-d', $follow['createtime'])}</label> <span>推荐奖励 {$follow['bonus']}</span>
                    </div>
                </li>
                <li class="li-team">
                    <img src="{$follow['avatar']}" class="head-ig"> <img>
                    <div class="rg-ms-box">
                        <div class="tp-ms-box">
                            <span class="team-name">{$follow['nickname']}</span> 
                            {if $follow['agent']['code']}<img src="../addons/xuan_mixloan/template/style/new_user_index/picture/icon_bqbq.png">{/if}
                        </div><span class="regit-timer">注册时间: <span>{php echo date('Y-m-d H:i:s', $follow['createtime'])}</span></span>
                    </div>
                </li>
              {/loop}
                <li style="list-style: none">
                    <a onclick="openNew('{php echo $this->createMobileUrl('vip', array('op' => 'inviteCode', 'type'=>3))}')" class="yqhy">邀请好友</a>
                </li>
            </ul>
        </div>
    </body>
</html>