

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta  content="e-mail=no" name="format-detection"/>
    <title>邀请二维码</title>

	{template 'common/wxshare'}
</head>
<body class="bglightgray">
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url});
    }
</script>
{if !is_weixin()}
<style type="text/css">
    .app_header{height: 80px;width: 100%;background: #ffffff}
    .app_header_back{text-align: center;color: white}
    .app_header_back{padding-top: 48px;padding-left: 4%;padding-right: 4%}
    .app_header_back img{float:left;width: 12px;}
    .app_header_back span{margin-top: 10px;font-size: 17px;color: #7e8181}
</style>
<div class="app_header">
    <div class="app_header_back">
        <img src="../addons/xuan_mixloan/template/style/images/left_1.png" onclick="mui.back()">
        <span>我的邀请码</span>
    </div>
</div>
{/if}
    <div>
        <img src="{$poster_path}" width="100%" height="100%" id="source_img">
    </div>
{if !is_weixin()}
<script type="text/javascript">
    mui.plusReady(function(){
        document.getElementById('source_img').addEventListener("click", function(){
            var actionList = {title:'操作', cancel:"取消", buttons:[{title:"保存图片到相册"}]};
            var imgSrc = this.src;
            plus.nativeUI.actionSheet(actionList,function(e){
                if (e.index == 1) {
                    var imgDtask = plus.downloader.createDownload(imgSrc,{method:"GET"},function(d,status) {
                        console.log(status);
                        if (status == 200) {
                            plus.gallery.save(d.filename,function(){
                                plus.io.resolveLocalFileSystemURL(d.filename, function(entry){
                                    entry.remove();
                                })
                                return alert('图片已保存');
                            })
                        } else {
                            return alert('保存失败' + status);
                        }
                    });
                    imgDtask.start();
                }
            })
        })
    })
</script>
{/if}
</body>
</html>