

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name = "viewport" content = "width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" >
	<meta content = "yes" name = "apple-mobile-web-app-capable" >
	<meta content = "black" name = "apple-mobile-web-app-status-bar-style" >
	<meta content = "telephone=no" name = "format-detection" >
	<meta content = "e-mail=no" name = "format-detection" / >
	<meta http - equiv = "Cache-Control" content = "no-cache, no-store, must-revalidate" / >
	<meta http - equiv = "Pragma" content = "no-cache" / >
	<meta http - equiv = "Expires" content = "0" / >
	<title>付款中心</title>
	<script src="../addons/xuan_mixloan/template/style/js/jquery_2.js"></script>

</head>
<body class="bglightgray" >
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    var url = '{$url}';
    var host = "http://wqwq.psjg.net.cn";
    mui.init();
    mui.plusReady(function(){
    	var self = plus.webview.currentWebview();
    	var payView = plus.webview.create(url, 'pay-url', {
    		top: '1000px',
            additionalHttpHeaders:{'Referer':host}
    	});
    	self.append(payView);
	    setTimeout("checkPay()", 2000);
    })
    function checkPay() {
    	window.location.href= "{php echo $this->createMobileUrl('user')}";
    }
</script>

</body>
</html>