<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>成为代理</title>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_register/swiper/swiper.min.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_register/index.css">
    <style type="text/css">
        form{top: 10%}
        form input{width: 65%}
    </style>
</head>

<body>
<h1>成为代理</h1>
<img src="{if $config['register_pic_a']}{php echo tomedia($config['register_pic_a']);}{else}../addons/xuan_mixloan/template/style/new_register/images/1.png{/if}">
<img src="{if $config['register_pic_b']}{php echo tomedia($config['register_pic_b']);}{else}../addons/xuan_mixloan/template/style/new_register/images/2.png{/if}">
<div class="swiper-container">
    <div class="swiper-wrapper">
        {loop $advs_list $row}
        <div class="swiper-slide">
            <div class="income-li income-link flex-v-center">
                <img src="../addons/xuan_mixloan/template/style/new_register/images/headimg.png" class="income-head">
                <div class="income-des">
                    <p>店铺名：{$row['name']}</p>
                    <p>刚有客户提交了<span class="red-text">{$row['pro_name']}</span>
                        产品，总收入<span class="red-text">{$row['money']}</span>元
                    </p>
                </div>
            </div>
        </div>
        {/loop}
    </div>
</div>
<img src="{if $config['register_pic_c']}{php echo tomedia($config['register_pic_c']);}{else}../addons/xuan_mixloan/template/style/new_register/images/4.png{/if}">
<img src="{if $config['register_pic_d']}{php echo tomedia($config['register_pic_d']);}{else}../addons/xuan_mixloan/template/style/new_register/images/5.png{/if}">
<button class="join">加入我们</button>
<div class="shade"></div>
<form onsubmit="false">
    <h2>登录</h2>
    <img class="close" src="../addons/xuan_mixloan/template/style/new_register/images/close.png">
    <div class="line">
        <p>手机号</p>
        <input type="text" placeholder="请输入手机号" id="phone">
    </div>
    <div class="line">
        <p>密码</p>
        <input type="text" placeholder="请输入密码" id="pass">
    </div>
    <div class="line">
        <p>图形码</p>
        <input type="text" placeholder="请输入图形码" id="imgCode">
        <img src="" style="width: 65px;height: 30px" id="cache_img">
    </div>
    <div class="line code">
        <p>验证码</p>
        <input type="text" placeholder="请输入验证码" id="smsCode">
        <span class="acquire" id="sendMess">获取验证码</span>
    </div>
    <button id="to_regist" onclick="return false">登录</button>
</form>
<script src="../addons/xuan_mixloan/template/style/new_register/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer_1.js"></script>
<script src="../addons/xuan_mixloan/template/style/new_register/swiper/swiper.min.js"></script>
<script>
    $('#cache_img').click(function(){
        getImgCache();
    })
    getImgCache();
    function getImgCache(){
        $.post("{php echo $this->createMobileUrl('mix', array('op'=>'apply_cache'))}",{},
            function(data){
                if (data.code == 1) {
                    $('#cache_img').attr("src", data.data.img)
                }else{
                    layer.msg(data.msg);
                }
            },'json')
    }
    var mySwiper = new Swiper('.swiper-container', {
        freeMode:true,
        autoplay: {
            delay: 3000
        },
        height: 70,
        direction: 'vertical', // 垂直切换选项
        loop: true, // 循环模式选项
    })
    $('.join').click(function () {
        $('.shade, form').show();
    });
    $('.close').click(function () {
        $('.shade, form').hide();
    });

    //马上注册
    $("#to_regist").click(function(){
        submit();
    })
    // 恢复点击事件
    function click(){
        $("#to_regist").bind("click",function(){
            submit();
        });
    }
    function submit(){
        $("#to_regist").unbind('click');
        var phone=$("#phone").val();
        var smsCode=$.trim($("#smsCode").val());
        var pass=$.trim($("#pass").val());
        if(phone=='' || phone=="请输入您的手机号"){
            document.getElementById('phone').focus();
            layer.tips('请输入手机号码', '#phone', {
                tips: [3, '#f90'],
                time: 3000
            });
            click();
            return false;
        }else{
            if (!(/^1[3|4|5|7|8][0-9]\d{8}$/.test(phone))) {
                document.getElementById('phone').focus();
                layer.tips('请输入正确的手机号码', '#phone', {
                    tips: [3, '#f90'],
                    time: 3000
                });
                click();
                return false;
            }
        }
        if(smsCode==""){
            document.getElementById('smsCode').focus();
            layer.tips('请输入验证码', '#smsCode', {
                tips: [3, '#f90'],
                time: 3000
            });
            click();
            return false;
        }
        if(pass==""){
            document.getElementById('pass').focus();
            layer.tips('请输入密码', '#pass', {
                tips: [3, '#f90'],
                time: 3000
            });
            click();
            return false;
        }
        $.post("{php echo $this->createMobileUrl('index', array('op'=>'register_ajax', 'inviter'=>$_GPC['inviter']))}",{"phone":phone,"smsCode":smsCode, "pwd":pass},
            function(res){
                if(res.code==1){
                    downloadApp();
                }else{
                    layer.msg(res.msg);
                    click();
                    return false;
                }
            },'json')
    }

    //发送验证码
    $("#sendMess").click(function(){
        getCheck();
    })

    function getCheck() {
        $("#sendMess").unbind("click");
        var phone = $("#phone").val();
        if(phone=='' || phone=="请输入手机号码"){
            document.getElementById('phone').focus();

            layer.tips('请输入手机号码', '#phone', {

                tips: [3, '#f90'],

                time: 3000

            });
            $("#sendMess").bind("click",function(){
                getCheck();
            });
            return false;
        }else{
            if (!(/^1[3|4|5|7|8][0-9]\d{8}$/.test(phone))) {
                document.getElementById('phone').focus();
                layer.tips('请输入正确的手机号码', '#phone', {

                    tips: [3, '#f90'],

                    time: 3000

                });
                $("#sendMess").bind("click",function(){
                    getCheck();
                });
                return false;
            }
        }
        var imgCode = $('#imgCode').val();
        $.post("{php echo $this->createMobileUrl('ajax', array('op'=>'getCode', 'activity'=>1))}",{"phone":phone, "img_cache":imgCode},
            function(res){
                if(res.code==102){
                    //已经是代理
                    layer.msg('您已经是老用户啦', {time:300}, function(){
                        downloadApp();
                    });
                    return false;
                }else if(res.code==0){
                    // 非i代用户第一次申请
                    layer.msg('短信发送成功');
                    curCount = 60;
                    InterValObj = window.setInterval(SetRemainTime, 1000);
                }else{
                    layer.msg(res.msg);
                    $("#sendMess").bind("click",function(){
                        getCheck();
                    });
                    return false;
                }
            },'json')
    }
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止计时器
            flagsms = true;
            curCount = 60;
            $("#sendMess").html("重新发送");
            code = ""; //清除验证码。如果不清除，过时间后，输入收到的验证码依然有效
            $("#sendMess").bind("click",function(){
                getCheck();
            });
        }else {
            curCount--;
            $("#sendMess").html(curCount+"s");
        }
    }
    function downloadApp(){
        if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
            // alert("iPhone系统");
            window.location.href = "http://88883988.shop/248";
        } else if (/(Android)/i.test(navigator.userAgent)) {
            // android系统
            window.location.href = "http://88883988.shop/248";
        }
    }
</script>
</body>

</html>