<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>代理费自行调整</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/mui/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="../addons/xuan_mixloan/template/style/mui/css/app.css"/>
    <style type="text/css">
        .mui-input-row{font-size: 15px}
        .mui-input-row input{font-size: 15px}
        .validnum{padding: 2px;background: #007aff;border-radius: 2px;color:white}
        .tips{margin-top: 20px;font-size: 15px;text-align: center;width: 100%}
    </style>
</head>

<body>

<header class="mui-bar mui-bar-nav" style="padding-top: 30px;height: 80px;">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">代理费自行调整</h1>
</header>
<div class="mui-content" style="margin-top: 50px">
    <ul class="mui-table-view">
        <form class="mui-input-group">
            <div class="mui-input-row">
                <label style="width: 40%">平台代理费</label>
                <input type="text" value="{$config['buy_vip_price']}" readonly="" style="width:60%" id="buy_vip_price">
            </div>
            <div class="mui-input-row">
                <label style="width: 40%">返佣代理费</label>
                <input type="text" value="{if $agent_fee}{$agent_fee}{else}0.01{/if}"  style="width:60%" id="agent_fee" onkeydown="change_s()" onkeyup="change_s()">
            </div>
            <div class="mui-button-row">
                <button type="button" class="mui-btn mui-btn-primary" onclick="to_submit();">确认</button>
            </div>
        </form>
    </ul>
    <div class="tips" id="pay_fee">下级购买费用：{$config['buy_vip_price']} + {if $agent_fee}{$agent_fee}{else}0.01{/if} 元</div>
    <div class="tips" id="get_fee">可获得返现金额：{$config['inviter_fee_one']} + {if $agent_fee}{$agent_fee}{else}0.01{/if} 元</div>
</div>
<script type="text/javascript" src=../addons/xuan_mixloan/template/style/js/jquery_3.js></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer_3.js"></script>
<script src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url,createNew:true});
    }
</script>
<script>
    //验证码
    function change_s(){
        var buy_vip_price = ('{$config['buy_vip_price']}');
        var inviter_fee_one = ('{$config['inviter_fee_one']}');
        var agent_fee = $('#agent_fee').val();
        if (agent_fee == '') {
            agent_fee = 0;
        }
        $('#pay_fee').html('下级购买费用：' + buy_vip_price + '+' + agent_fee + '元');
        $('#get_fee').html('可获得返现金额：' + inviter_fee_one + '+' + agent_fee + '元');
    }
    function to_submit(){
        var agent_fee = $('#agent_fee').val();
        $.post("{php echo $this->createMobileUrl('vip', array('op'=>'set_agent_fee', 'post' => 1))}",{"agent_fee":agent_fee},
            function(data){
                if(data.code==1){
                    layer.msg(data.msg, function(){
                        openNew('{php echo $this->createMobileUrl('user')}');
                    });
                }else{
                    layer.msg(data.msg);
                }
            },'json');
    }
</script>
</body>
</html>