<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>代理设置中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/mui/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="../addons/xuan_mixloan/template/style/mui/css/app.css"/>
    <style type="text/css">
        .mui-input-row{font-size: 15px}
        .mui-input-row input{font-size: 15px}
        .validnum{padding: 2px;background: #007aff;border-radius: 2px;color:white}
    </style>
</head>

<body>

<header class="mui-bar mui-bar-nav" style="padding-top: 30px;height: 80px;">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">支付密码更改</h1>
</header>
<div class="mui-content" style="margin-top: 50px">
    <ul class="mui-table-view">
        <form class="mui-input-group">
            <div class="mui-input-row">
                <label style="width: 40%">手机号</label>
                <input type="text" value="{$member['phone']}" readonly="" style="width:60%" id="phone">
            </div>
            <div class="mui-input-row">
                <label style="width: 40%"><span  class="validnum">获取验证码</span></label>
                <input type="text" placeholder="请输入验证码" id="smscode" style="width:60%">
            </div>
            <div class="mui-input-row">
                <label style="width: 40%">支付密码</label>
                <input type="text" placeholder="请设置支付密码" id="pass" style="width:60%">
            </div>
            <div class="mui-button-row">
                <button type="button" class="mui-btn mui-btn-primary" onclick="to_submit();">确认</button>
            </div>
        </form>
    </ul>
</div>
<script type="text/javascript" src=../addons/xuan_mixloan/template/style/js/jquery_3.js></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js//layer_3.js"></script>
<script src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url,createNew:true});
    }
</script>
<script>
    $('.validnum').click(function(){
        getCheck();
    })
    //验证码
    function getCheck(){
        $(".validnum").unbind("click");
        var flagsms = true;
        //启动计时器，1秒执行一次
        if (flagsms) {
            var phone = $("#phone").val();
            var reg = /^(1)\d{10}$/;
            if(phone!=""){
                if (!reg.test(phone)) {
                    layer.msg("请正确填写手机号");
                    flagsms = true;
                    $(".validnum").bind("click",function(){
                        getCheck();
                    });
                }else{
                    $.post("{php echo $this->createMobileUrl('ajax', array('op'=>'getCode'))}",{"phone":phone},
                        function(data){
                            if(data.code==0){
                                layer.msg("已发送，请注意查收");
                                curCount = 60;
                                InterValObj = window.setInterval(SetRemainTime, 1000);
                                flagsms = false;
                            }else{
                                layer.msg(data.msg);
                                flagsms = true;
                                $(".validnum").bind("click",function(){
                                    getCheck();
                                });
                                return false;
                            }
                        },'json')
                }
            }else{
                layer.msg("请填写手机号");
                flagsms = true;
                return false;
            }
        }
    }
    function SetRemainTime() {

        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止计时器
            flagsms = true;
            curCount = 60;
            $(".validnum").html("重新发送");
            $(".validnum").bind("click",function(){
                getCheck();
            });
        }
        else {
            curCount--;
            $(".validnum").html(curCount+"s");
        }
    }
    function to_submit(){
        var smscode = $('#smscode').val();
        var pass = $('#pass').val();
        $.post("{php echo $this->createMobileUrl('vip', array('op'=>'set_pay_pass', 'post' => 1))}",{"smscode":smscode, "pass":pass},
                        function(data){
                            if(data.code==1){
                                layer.msg(data.msg, function(){
                                    openNew('{php echo $this->createMobileUrl('user')}');
                                });
                            }else{
                                layer.msg(data.msg);
                            }
                        },'json');
    }
</script>
</body>
</html>