

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta  content="e-mail=no" name="format-detection"/>
    <title>工资提现</title>
    <script src="../addons/xuan_mixloan/template/style/js/jquery.js"></script>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/swiper.min.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/main.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/new_base.css">
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer.js"></script>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/layer5.css" id="layui_layer_skinlayercss">
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/js_config.js"></script>
    <script>
        var bb = "http://www.kakacaifu.com/Wap/goods/index/id/1.html";
        var aa = "/Public/Wap";
    </script>
    <style type="text/css">
        @font-face {font-family:'zcCjt'; src: url("/Public/Wap/idai/new_font/zccjt.ttf");}
        @font-face {font-family:'zcXjt'; src: url("/Public/Wap/idai/new_font/zcxjt.ttf");}
        @font-face {font-family:'numFont'; src: url("/Public/Wap/idai/new_font/RTWSYueGoTrial-Light.otf");}
        @font-face {font-family:'Helvetica'; src: url("/Public/Wap/idai/new_font/Helvetica.ttf");}
        *{font-family: "Helvetica"!important;}
        /**{font-family: zcXjt!important;}
        h2,.validNo,.money{font-family: zcCjt!important;}*/
        .bglightgray{background-color: #eff0f2;}
        /*轮播图样式*/
        .swiper-container .swiper-wrapper{width: 82%;}
        .swiper-container .swiper-wrapper .swiper-slide-prev,.swiper-container .swiper-wrapper .swiper-slide-next{width: 84%;margin-top:4%;}
        .swiper-container .swiper-wrapper .swiper-slide-prev{margin-left: 11%;margin-right: 5%;}
        .swiper-container .swiper-wrapper .swiper-slide-next{margin-right: 11%;margin-left: 5%;}
        .swiper-pagination-bullet{width: 12px;height:2px;border-radius: 25%;background: #bfe1fd;opacity: 1;}
        .swiper-pagination-bullet-active{background:#0084ff;}
    </style>

    {template 'common/wxshare'}
</head>
<body class="bglightgray">
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url, createNew:true});
    }
</script>
{if !is_weixin()}
<style type="text/css">
    .app_header{height: 80px;width: 100%;background: #ffffff}
    .app_header_back{text-align: center;color: white}
    .app_header_back{padding-top: 48px;padding-left: 4%;padding-right: 4%}
    .app_header_back img{float:left;width: 12px;}
    .app_header_back span{margin-top: 10px;font-size: 17px;color: #7e8181}
</style>
<div class="app_header">
    <div class="app_header_back">
        <img src="../addons/xuan_mixloan/template/style/images/left_1.png"  onclick="mui.back()">
        <span>提现</span>
    </div>
</div>
{/if}
<div class="agent-main pt44" style="padding-top: 0;">
    <div class="settleCards">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {if $banks}
                {loop $banks $row}
                <div class="swiper-slide" data-id="{$row['id']}">
                    <img src="../addons/xuan_mixloan/template/style/picture/bank_qt.png" />
                    <div class="cardsInfo">
                        <h2>支付宝收款</h2>
                        <p style="font-family: numFont!important;">
                            <span>{$row['realname']}&nbsp;&nbsp;&nbsp;{$row['phone']}</span>
                        </p>
                    </div>
                </div>
                {/loop}
                {else}
                <div class="swiper-slide" data-id="0">
                    <img src="../addons/xuan_mixloan/template/style/picture/bank_qt.png" />
                    <div class="cardsInfo"><h2>****</h2><span>添加提现方式</span>
                        <p style="font-family: numFont!important;">
                            <span>****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****</span>
                        </p>
                    </div>
                </div>
                {/if}
            </div>
            <div class="addCards">
                <a class="dailiFlag" href="javascript:;">+</a>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="txInfo">
        <div class="txFrame">
            <h2>提现金额(元)</h2>
            <div class="txMoney">
                <span><img src="../addons/xuan_mixloan/template/style/picture/money.png"></span>
                <input type="text" name="money" id="money" class="money" placeholder="请输入取现金额" />
                <a href="javascript:;" onclick="allMoney()">全部提现</a>
            </div>
            <p>可用余额：<span id="allmoney">{$can_use}</span><span>（元）</span></p>
            <!--  <div class="validFrame">
                 <div class="imgValid">
                     <input type="text" name="verification" class="validNo" placeholder="请输入验证码" />
                                             <img src="../addons/xuan_mixloan/template/style/picture/verify.html" onclick="this.src='/wap/daili/verify'" />
                 </div>
             </div>     -->
        </div>
        <a class="txSubmit" id="lineblue-btn" href="javascript:void(0);" onclick="tixian();">立即提现</a>
    </div>
</div>
<div class="pop_common timealert">
    <div class='floor'></div>
    <div class='withdrawing_contain timealert_contain'>
        <p>提现通道清算中</p>
        <p>每日22:00-24:00期间不可提现</p>
    </div>
</div>
<div class="pop_common withdrawing">
    <div class='floor'></div>
    <div class='withdrawing_contain'>
        <img src="../addons/xuan_mixloan/template/style/picture/hb_withdrawing.png" />
        <p>正在提现</p>
    </div>
</div>
<script type="text/javascript" src=../addons/xuan_mixloan/template/style/js/swiper.min.js></script>
</body>
<script type="text/javascript">
    // 产品首页banner
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        slidesPerView: "auto",
        centeredSlides:true,
        autoplayDisableOnInteraction : false,
        pagination : '.swiper-pagination',
    });
    // 全部提现
    function allMoney() {
        var all = $("#allmoney").html();
        $('#money').val(all);
    }
    //数字判断
    $("#money").keyup(function () {
        var reg = $(this).val().match(/\d+\.?\d{0,2}/);
        var txt = '';
        if (reg != null) {
            txt = reg[0];
        }
        $(this).val(txt);
    }).change(function () {
        $(this).keypress();
        var v = $(this).val();
        if (/\.$/.test(v))
        {
            $(this).val(v.substr(0, v.length - 1));
        }
    });
    // 申请提现
    function tixian(index){
        $("#lineblue-btn").css({"color":"rgba(0,0,0,0.4)","background-color":"rgba(0,0,0,0.2)","box-shadow":"0 3px 20px rgba(0,0,0,0.2)"});
        $("#lineblue-btn").unbind("click");
        tiSubmit();
    }

    function tiSubmit() {
        //提现中
        $(".withdrawing").show();
        layer_style();

        var money=$("#money").val();
        var validNum=$(".validNo").val();
        var bankId=$("div.swiper-slide-active").attr("data-id");
        if(bankId==""){
            layer.msg("请添加银行卡");
            _click();
            return false;
        }

        if(money == '' || money <= 0){

            document.getElementById('money').focus();

            layer.tips('请输入正确的金额', '#money', {

                tips: [3, '#f90'],

                time: 3000

            });
            _click();
            return false;
        }
        if(validNum == ''||validNum == '请输入验证码'){
            layer.msg('请输入验证码');
            _click();
            return false;
        }
        var ajax = {};
        ajax.url = "{php echo $this->createMobileUrl('vip', array('op'=>'withdraw_submit'))}";
        ajax.type = "post";
        ajax.data = {};
        ajax.dataType = "json";
        $("input").each(function () {
            ajax.data[$(this).attr("name")] = $(this).val();
        })
        ajax.data.card_id=bankId;
        ajax.success = function (data) {
            if (data.code == 1) {
                layer.msg('提现成功，T+1日到账', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function(){
                    openNew('{php echo $this->createMobileUrl('vip', array('op'=>'salary'))}');
                });
            } else {
                layer.msg(data.msg);
                _click();
                return false;
            }
        }
        $.ajax(ajax);
    }
    // 恢复点击
    function _click(){
        $(".withdrawing").hide();
        $("#lineblue-btn").css({"color":"#fff","background-color":"#0084ff","box-shadow":"0 3px 20px #0084ff"});
        $("div.imgValid img").click();
        $("#lineblue-btn").bind("click",function(){
            tixian();
        });
    }
    // 提现成功弹窗
    function wd_layer(){
        $("div.wd_pop").show();
        var window_height=$(window).height();
        var window_width=$(window).width();
        var wdpop_H=$("div.wdpop_main").height();
        var wdpop_T=(window_height-wdpop_H)/2+"px";
        $(".wd_pop").width(window_width);
        $(".wd_pop").height(window_height);
        $("div.wdpop_main").css("top",wdpop_T);
    }
    //提现中弹窗样式
    function layer_style(){
        var window_height=$(window).height();
        var window_width=$(window).width();
        $(".pop").width(window_width);
        $(".pop").height(window_height);
        $(".pop_common").width(window_width);
        $(".pop_common").height(window_height);
    }
    //添加银行卡
    $("div.addCards a.dailiFlag").click(function(){
        var cardNum=$("div.settleCards .swiper-wrapper .swiper-slide").length;
        if(cardNum>=4){
            layer.msg("最多可添加4种收款方式");
            return false;
        }else{
            var _url="{php echo $this->createMobileUrl('user', ['op' => 'bind_alipay'])}";
            openNew(_url);
        }
    })
    //关闭弹窗
    $(".layer_close").click(function(){
        $(".pop").hide();
    })
</script>

</html>