

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name = "viewport" content = "width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" >
    <meta content = "yes" name = "apple-mobile-web-app-capable" >
    <meta content = "black" name = "apple-mobile-web-app-status-bar-style" >
    <meta content = "telephone=no" name = "format-detection" >
    <meta content = "e-mail=no" name = "format-detection" / >
    <meta http - equiv = "Cache-Control" content = "no-cache, no-store, must-revalidate" / >
    <meta http - equiv = "Pragma" content = "no-cache" / >
    <meta http - equiv = "Expires" content = "0" / >
    <title>合伙人后台</title>
    <style type="text/css">
        .to_redrect{width: 100%;margin-top: 30%;text-align: center;}
        .to_copy{width: 100%;margin-top: 20%;text-align: center;}
        .to_redrect a{display: inline-block;padding: 10px 20px;border-radius: 5px;background: #5386d2;color:white;}
        .to_copy a{display: inline-block;padding: 10px 20px;border-radius: 5px;background: #5386d2;color:white;}
    </style>
</head>
<body class="bglightgray" style="margin:0">
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script src="../addons/xuan_mixloan/template/style/js/jquery_2.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer_2.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url});
    }
</script>
{if !is_weixin()}

<style type="text/css">
    .app_header{height: 80px;width: 100%;background: #5386d2}
    .app_header_back{text-align: center;color: white}
    .app_header_back{padding-top: 48px;padding-left: 4%}
    .app_header_back img{position: absolute;left:4%;width: 12px;}
    .app_header_back span{margin-top: 10px;font-size: 17px}
</style>
<div class="app_header">
    <div class="app_header_back">
        <img src="../addons/xuan_mixloan/template/style/images/left_1.png" onclick="mui.back();">
        <span>合伙人后台</span>
    </div>
</div>
{/if}
<div class="agent-main rem2" style="margin-top: 0.5rem">
    <div class="main-contain">
        <div class="to_redrect">
            <a onclick="openNew('{php echo $this->createMobileUrl('partner', array('op' => 'login_user'))}')">直接跳转后台</a>
        </div>
        <div class="to_copy">
            <a id="copy_short">复制登陆链接</a>
            <textarea style="position: absolute; top: 0; left: -100%;width: 50%;" readonly>{$login_url}</textarea>
        </div>
        <div style="height: 3rem"></div>
    </div>
</div>

<script>

    function copyToClipboard(elem) {
        // create hidden text element, if it doesn't already exist
        var targetId = "_hiddenCopyText_";

        var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";

        var origSelectionStart, origSelectionEnd;
        if (isInput) {
            // can just use the original source element for the selection and copy
            target = elem;
            origSelectionStart = elem.selectionStart;
            origSelectionEnd = elem.selectionEnd;
        } else {
            // must use a temporary form element for the selection and copy
            target = document.getElementById(targetId);

            if (!target) {
                var target = document.createElement("textarea");
                target.style.position = "absolute";
                target.style.left = "-9999px";
                target.style.top = "0";
                target.id = targetId;
                document.body.appendChild(target);
            }
            target.textContent = elem.textContent;
        }
        // select the content
        var currentFocus = document.activeElement;
        target.focus();
        target.setSelectionRange(0, target.value.length);
        // copy the selection
        try {
            succeed = document.execCommand("copy");
        } catch(e) {
            succeed = false;
        }
        // restore original focus
        if (currentFocus && typeof currentFocus.focus === "function") {
            currentFocus.focus();
        }

        if (isInput) {
            console.log(target.textContent);
            elem.setSelectionRange(origSelectionStart, origSelectionEnd);
        } else {
            // clear temporary content
            target.textContent = "";
        }
        return succeed;
    }
    //点击复制事件
    $("#copy_short").on("click",function(){
        var elm = document.getElementsByTagName("textarea")[0];
        copyToClipboard(elm);
        document.activeElement.blur();
        if(succeed){
            layer.msg("已复制，请在电脑上浏览");
            $("div.layui-layer-msg").css({"width":'30%',"left":"35%"});
        }else{
            layer.msg("您的手机版本较低，请升级版本后重试！");
            $("div.layui-layer-msg").css({"width":'76%',"left":"12%"});
        }
    })
</script>
</body>
</html>