<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>{$item['name']}</title>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_apply/css/base_loan.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/new_apply/css/style_loan.css">
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/new_apply/js/jquery.min.js"></script>
</head>

<body>
<style type="text/css">

    .shade{ position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(136, 135, 135, 0.5); z-index: 20000000;}
    .shade img{
        position: absolute;
        width: 200px;
        height: 120px;
        right: 10%;
        top: 5%;

    }
</style>
{if is_weixin() && $item['ext_info']['apply_shade']}
<div class="shade">
    <img src="../addons/xuan_mixloan/template/style/images/wechat_tips.png">
</div>
{/if}
<!--<header>贷款详情</header>-->
<div class="dkxq">
    <div class="logo"><img src="{php echo tomedia($item['ext_info']['logo']);}" alt="">{$item['name']}<p>内部合作通道，优先审核下款</p></div>
    <div class="content">
        <li>申请人数：{$item['apply_nums']}人<span class="fr">产品利率：<em>{$item['rate']}%/{$item['rate_type']}利率</em></span></li>
        <li>最高额度：{$item['ext_info']['money_high']}元<span class="fr">贷款期限：<em>{$item['time_blow']}-{$item['time_high']}</em></span></li>
        <li class="form-control clearfix">
            <div class="money">金额<input name="" type="tel" value="3000" /><i class="yuan">元</i></div>
            <div class="time">
                期限
                <span class="select-group">
					<select name="">
                    	<option value="">1个月</option>
						<option selected="selected" value="">3个月</option>
						<option value="">6个月</option>
						<option value="">9个月</option>
						<option value="">12个月</option>
                        <option value="">24个月</option>
					</select>
				</span>
            </div>
        </li>
        <li>提示：以上计算仅供参考，最终费用由个认信用等级评估决定</li>
    </div>
    <div class="title">申请流程</div>
    <div class="body">
        <img src="../addons/xuan_mixloan/template/style/new_apply/picture/sqlc_01.png" alt="">
    </div>
    <div class="title">申请条件</div>
    <div class="body">
        {$item['ext_info']['conditions']}
    </div>
    <div class="title">注意事项</div>
    <div class="body">
        {$item['ext_info']['reminds']}
    </div>
    <div class="base-btn-02 clearfix">
        <a href="javascript:void(0)" onClick="showpop('ljsq-dialog','dialog-bg')">立即申请</a>
        <!-- <a  href="javascript:void(0)" onClick="showpop('gdwd-dialog','dialog-bg')">更多网贷</a> -->
        <a  href="{php echo $this->createMobileUrl('product', array('op' => 'allProduct', 'inviter' => $inviter))}">更多网贷</a>
    </div>
</div>

<!-- 立即申请弹出窗s -->
<div id="ljsq-dialog" class="base-dialog dialog-none">
    <div class="dialog-box">
        <a href="javascript:void(0)" onClick="closepop('ljsq-dialog','dialog-bg')" class="btn-close">关闭</a>
        <h1>渠道报备</h1>
        <h2>内部渠道报备，请填写申请人姓名和电话，以确保申请能够获得优先审批，提高成功率。</h2>
        <div class="form-group">
            <ul>
                <li class="icon-name"><input name="loan_name" id="loan_name" type="name" placeholder="请输入您的真实姓名" /></li>
                <li class="icon-tel"><input name="loan_tel" id="loan_tel" type="tel" placeholder="请输入您的手机号码" /></li>
                <li class="icon-tel"><input name="idcard" id="idcard" type="text" placeholder="请输入您的身份号" /></li>
                <li class="icon-code">

                    <input id="cache" name="cache" type="text" placeholder="图形验证码" />
                    <img src=""  id="cache_img"  style="position:absolute; font-size:13px;  width:96px; height:44px;right:0;top:0; line-height:36px;  border:1px solid #d6d6d6; color:#acacac; text-align:center;" />

                </li>
            </ul>
            <div class="btn"><a onClick="save(this)">立即申请</a></div>

        </div>

    </div>
</div>
<!--立即申请弹出窗e -->

<!-- 更多网贷弹出窗s -->
<div id="gdwd-dialog" class="base-dialog dialog-none">
    <div class="dialog-box">
        <a href="javascript:void(0)" onClick="closepop('gdwd-dialog','dialog-bg')" class="btn-close">关闭</a>
        <h1>注册账号</h1>
        <div class="form-group">
            <ul>
                <li class="icon-tel"><input id="tel" name="tel" type="tel" placeholder="请输入手机号码" /></li>
                <li class="icon-pwd"><input id="password" name="password" type="password" placeholder="请输入密码" /></li>
                <li class="icon-code">
                    <script>
                        function refreshImg(){
                            document.getElementById("txtCheckCode").src="/index.php?g=Api&m=Lmw&a=verify&s="+Math.random();
                        }
                    </script>

                    <input id="imgcode" name="imgcode" type="tel" placeholder="图形验证码" />
                    <img src="../addons/xuan_mixloan/template/style/new_apply/picture/index.php"  id="txtCheckCode" alt="验证码" data-url="/index.php?g=Api&m=Lmw&a=verify" onClick="javascript:refreshImg();" style="position:absolute; font-size:13px;  width:96px; height:44px;right:0;top:0; line-height:36px;  border:1px solid #d6d6d6; color:#acacac; text-align:center;" />

                </li>
                <li class="icon-code"><input id="code" name="code" type="tel" placeholder="短信验证码" /><a class="btn-get-code" onClick="sendCode(this)">获取验证码</a></li>
            </ul>
            <div class="btn"><a onClick="add(this)">更多网贷</a></div>
        </div>
    </div>
</div>
<!-- 更多网贷弹出窗e -->
<div id="dialog-bg" class="dialog-bg dialog-none"></div>
<script src="../addons/xuan_mixloan/template/style/new_apply/js/touch.js"></script>
<script src="../addons/xuan_mixloan/template/style/new_apply/js/index.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer_2.js"></script>
</body>
<script type="text/javascript">
    $('#cache_img').click(function(){
        getImgCache();
    })
    getImgCache();
    function getImgCache(){
        $.post("{php echo $this->createMobileUrl('mix', array('op'=>'apply_cache'))}",{},
            function(data){
                if (data.code == 1) {
                    console.log(data);
                    $('#cache_img').attr("src", data.data.img)
                }else{
                    layer.msg(data.msg);
                }
            },'json')
    }
    var clock = '';
    var nums = 60;
    var btn;
    var reg = /^0{0,1}(13[0-9]|14[0-9]|15[0-9]|16[0-9]|17[0-9]|18[0-9]|19[0-9])[0-9]{8}$/i;
    function sendCode(thisBtn)
    {
        btn = thisBtn;
        var tel = $('#tel').val();
        var imgcode = $('#imgcode').val();
        if(tel=='') {
            alert('手机号不能为空！'); return false;
        }
        if(!reg.test(tel))
        {
            alert('请输入有效的手机号码！');
            return false;
        }
        if(imgcode=='') {
            alert('图形验证码不能为空！'); return false;
        }



        $.post("http://lmw.lumiwang.com/index.php?g=Api&m=Lmw&a=code_h5", { type: "reg", app_type: "loan_sharing", tel: tel, imgcode: imgcode },
            function(data){

                if(data.codes=="200"){
                    btn.disabled = true; //将按钮置为不可点击
                    btn.value = nums+'秒后可重新获取';
                    clock = setInterval(doLoop, 1000); //一秒执行一次
                }else{
                    alert(data.msg);
                    return false;
                }
            });

    }
    function doLoop()
    {
        nums--;
        if(nums > 0){
            btn.value = nums+'秒后可重新获取';
        }else{
            clearInterval(clock); //清除js定时器
            btn.disabled = false;
            btn.value = '点击发送验证码';
            nums = 10; //重置时间
        }
    }

    function save(){
        var tel = $.trim($("#loan_tel").val());
        var name = $.trim($("#loan_name").val());
        var idcard = $('#idcard').val();
        var cache = $('#cache').val();
        if(tel=='') {
            layer.alert('手机号不能为空！'); return false;
        }
        if(tel.length!=11) {
            layer.alert('请输入有效的手机号码！'); return false;
        }
        if(name=='') {
            layer.alert('姓名不能为空！'); return false;
        }
        $.post("{php echo $this->createMobileUrl('loan', array('op'=>'apply_submit', 'id'=>$pid, 'inviter'=>$inviter))}", { phone: tel, name: name,idcard:idcard,cache:cache},
            function(data){

                if(data.code=='1'){
                    closepop('gdwd-dialog','dialog-bg');
                    // layer.alert('跳转中');
                    window.location.href=data.data;
                    return;
                }else{
                    layer.alert(data.msg);
                    return false;
                }
            }, 'json');

    }

    function add(){
        var tel = $.trim($("#tel").val());
        var password = $.trim($("#password").val());
        var code = $.trim($("#code").val());
        var id = 51892;

        if(tel=='') {
            layer.alert('手机号不能为空！'); return false;
        }
        if(tel.length!=11) {
            layer.alert('请输入有效的手机号码！'); return false;
        }
        //reg=/^0{0,1}(13[0-9]|145|15[0-9]|18[0-9]|14[0-9]|17[0-9])[0-9]{8}$/i;
        if(!reg.test(tel)){
            layer.alert('请输入正确的11位手机号！');
            return false;
        }

        if(password=='') {
            layer.alert('密码不能为空！'); return false;
        }
        if(password.length<6) {
            layer.alert('密码不能少于6位数！'); return false;
        }
        if(code=='') {
            layer.alert('验证码不能为空！'); return false;
        }

        $.post("http://lmw.lumiwang.com/index.php?g=Api&m=Index&a=friends_post", { tel: tel, password: password, code: code, id: id,  },
            function(data){

                if(data.codes=='200'){
                    closepop('gdwd-dialog','dialog-bg');
                    window.location.href="http://lmw.lumiwang.com/down";
                    return;
                }else{
                    alert(data.msg);
                    return false;
                }
            });
    }

</script>
</html>