

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="e-mail=no" name="format-detection" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<title>{$config['title']}</title>
	<script src="../addons/xuan_mixloan/template/style/js/jquery_2.js"></script>
	<script src="../addons/xuan_mixloan/template/style/js/lmy_2.js"></script>
	<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/index_new_1.css">
	<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/swiper.min_2.css">
	<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/lmy_1.css">
	<link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/day_1.css">
	<script src="../addons/xuan_mixloan/template/style/js/swiper.min_2.js"></script>
	<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer_2.js"></script>
	<style>
		@media only screen and (device-width: 375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
			div.agent-foot{padding-bottom:20px; }
			div.agent-main{padding-bottom:20px;}
		}
		.swiper-pagination-bullet{background: #ccc;opacity: 1;}
		.swiper-pagination-bullet-active{background: #e9e9e9;opacity: 1;}
		.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{    bottom:15%;}

		div.agent-foot p>img {
			width: 1.1rem;
		}
	</style>

	{template 'common/wxshare'}
</head>
<body style="background:#fff;">

<script type="text/javascript" src="../addons/xuan_mixloan/template/style/mui/js/mui.min.js"></script>
<script type="text/javascript">
    function openNew(url){
        mui.openWindow({url:url});
    }
</script>
{if !is_weixin()}
<style type="text/css">
	.agent-header{height: 3rem;line-height: 4rem;position: relative;}
</style>
<style type="text/css">
	.app_back {
		position: absolute;
		display: inline-block;
		padding: 0 10px 0 10px;
		z-index: 999;
		line-height: 0px;
		top: 1.1rem
	}
	.app_back img {
		display: inline-block;
		height: 16px;
		margin: 13px 0;
		vertical-align: middle;
		left: 0;
		top: 0;
		transform: rotate(180deg);
	}
</style>
<a class="app_back" href="javascript:void(0);" onclick="mui.back()"><img src="../addons/xuan_mixloan/template/style/picture/icon_arrow_1.png" /></a>
{/if}
<div class="agent-header">
	{$config['title']}
	<a class="return" onclick="openNew('{php echo $this->createMobileUrl('mix', array('op'=>'tutorials'))}')"><img src="../addons/xuan_mixloan/template/style/picture/problem_1.png" /></a>
</div>
<div class="fjx"></div>
<div class="wapper dn">
	<div class="cet_pic">
		<!--lunbotu-->
		<!-- <img src="../addons/xuan_mixloan/template/style/picture/cet_bg_1.png" /> -->
		<div class="swiper-container">
			<div class="swiper-wrapper" id="swiper-wrapper">
				<!--    -->
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>

		<!-- lunbotu- -->

	</div>
	<div class="validRule"><p>搜索结果</p></div>
	<div class="list_head">
		<p>
			<span><img src="../addons/xuan_mixloan/template/style/images/product_hot.png" /></span>
			贷款产品<label>(共<b  id="card_num">{php echo count($credit_list);}</b>款)</label>
		</p>
	</div>
	<div class="three_head">
		<ul class="clearfix">
			{loop $loan_list $row}
			<li class="clearfix ons2" data-id="1">
				<a href="{php echo $this->createMobileUrl('loan', array('op'=>'apply', 'id'=>$row['id'], 'type' => 2))}">
					<div class="line_three">
						<div class="line_img">
							<img src="{php echo tomedia($row['ext_info']['logo']);}">
							{if $row['hot']}
							<div class="day_fire">
								<img src="../addons/xuan_mixloan/template/style/images/fire.png">
							</div>
							{/if}
						</div>
						<h2>{$row['name']}</h2>
						<p>
							<span><img src="../addons/xuan_mixloan/template/style/picture/pin_1.png"></span>最高额度<b>{$row['money_high']}</b>
						</p>
					</div>
				</a>
			</li>
			{/loop}
		</ul>
	</div>
	<div class="fjx"></div>
	<!-- fjx -->
	<div class="list_head">
		<p>
			<span><img src="../addons/xuan_mixloan/template/style/images/product_day.png" /></span>
			信用卡产品<label>(共<b  id="card_num">{php echo count($card_list);}</b>款)</label>
		</p>
	</div>
	<div class="three_head">
		<ul class="clearfix">
			{loop $card_list $row}
			<li class="clearfix ons2" data-id="1">
				<a href="{php echo $this->createMobileUrl('loan', array('op'=>'apply', 'id'=>$row['id'], 'type' => 1))}">
					<div class="line_three">
						<div class="line_img">
							<img src="{php echo tomedia($row['ext_info']['logo']);}">
							{if $row['hot']}
							<div class="day_fire">
								<img src="../addons/xuan_mixloan/template/style/images/fire.png">
							</div>
							{/if}
						</div>
						<h2>{$row['name']}</h2>
						<p>
							<span><img src="../addons/xuan_mixloan/template/style/picture/pin_1.png"></span>最高额度<b>{$row['ext_info']['limit']}</b>
						</p>
					</div>
				</a>
			</li>
			{/loop}
		</ul>
	</div>
	<div class="fjx"></div>
	

	<div class="three_head">
		<ul class="clearfix"></ul>
	</div>
</div>
<div style="height:3.0rem;" class="agent-main"></div>
<div class="agent-foot">
	<a onclick="openNew('{php echo $this->createMobileUrl('loan', array('op'=>''))}')">
		<p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/cwd_1.png" /></p>
		<p>首页</p>
	</a>
	<a onclick="openNew('{php echo $this->createMobileUrl('channel', array('op'=>''))}')" class="today-cell">
		<p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/evdayhot_1.png" /></p>
		<p>今日口子</p>
	</a>
	<a onclick="openNew('{php echo $this->createMobileUrl('user', array('op'=>''))}')">
		<p class="foot_img"><img src="../addons/xuan_mixloan/template/style/picture/personal_1.png" /></p>
		<p>个人中心</p>
	</a>
</div>


<script type="text/javascript">
    $(document).ready(function(){
        wapper();
    });


    function wapper(){
        $(".wapper").show();
    };

</script>

</body>
</html>