<!DOCTYPE html>
<html class="html-full">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no,email=no" name="format-detection"/>
    <title>基本信息</title>

    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/credit/css/mui.min_3.css"/>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/credit/css/style_5.css"/>
</head>

<body class="login">
<div class="banner">
    <img src="../addons/xuan_mixloan/template/style/credit/picture/lc1_1.png"/>
</div>
<div class="form">
    <form class="mui-input-group">
        <div class="mui-input-row">
            <label for="">真实姓名</label>
            <input type="text" class="mui-input-clear" placeholder="请输入您的真实姓名" id="trueName" maxlength="20"/>
        </div>
        <div class="mui-input-row">
            <label for="">手机号码</label>
            <input type="tel" class="mui-input-clear" placeholder="请输入对应手机号码" id="phone" maxlength="11"/>
        </div>
        <div class="mui-input-row">
            <label for="">身份证号</label>
            <input type="text" class="mui-input-clear" placeholder="请输入对应身份证号" id="idCard" maxlength="18"/>
        </div>
    </form>
</div>

<div class="options">
    <button class="wexin-btn" id="searchBtn">下一步</button>
    <p class="cheke-box">
        <i id="checkedBtn"></i><a href="agreement.html">我已阅读并同意《{$config['title']}数据分析免责协议》</a>
    </p>
</div>

<script src="../addons/xuan_mixloan/template/style/credit/js/mui_3.js"></script>
<script src="../addons/xuan_mixloan/template/style/credit/js/layer_3.js"></script>
<script src="../addons/xuan_mixloan/template/style/credit/js/zepto.min_3.js"></script>
<script src="../addons/xuan_mixloan/template/style/credit/js/common_3.js"></script>
<script type="text/javascript">
    var checked = true;
(function ($) {
    $('#searchBtn').click(function () {
        var trueName = trim($("#trueName").val());
        var idCard = trim($("#idCard").val());
        var phone = trim($("#phone").val());
        var openId = getQueryString("openid");
        if (checkLoginForm(trueName, idCard, phone)) {
            login(trueName, idCard, phone);
        }
    })

    //是否同意协议
    $('#checkedBtn').click(function () {
        if (checked) {
            $(this).addClass('unchecked');
        } else {
            $(this).removeClass('unchecked');
        }
        checked = !checked;
    });
})(Zepto);


function checkLoginForm(trueName, idCard, phone) {
    if ("" == trueName) {
        layer.open({
            content: '请输入姓名',
            className: 'layer-msg',
            time: 2,
            shade: false
        });
        return false;
    } else if ("" == phone) {
        layer.open({
            content: '请输入手机号码',
            className: 'layer-msg',
            time: 2,
            shade: false
        });
        return false;
    } else if (!phoneValidate(phone)) {
        layer.open({
            content: '手机号码不正确',
            className: 'layer-msg',
            time: 2,
            shade: false
        });
        return false;
    } else if ("" == idCard) {
        layer.open({
            content: '请输入身份证号',
            className: 'layer-msg',
            time: 2,
            shade: false
        });
        return false;
    } else if (!IdCardValidate(idCard)) {
        layer.open({
            content: '身份证号码不正确',
            className: 'layer-msg',
            time: 2,
            shade: false
        });
        return false;
    } else if (checked == false) {
        layer.open({
            content: '请已阅读并同意《信用管家数据分析免责协议》',
            className: 'layer-msg',
            time: 2,
            shade: false
        });
        return false;
    } else {
        return true;
    }
}

function phoneValidate(phone) {
    var reg_phone = /^(?:1[3-8]\d|15\d)\d{5}(\d{3}|\*{3})$/;
    if (reg_phone.test(phone)) {
        return true;
    } else {
        return false;
    }
}


/***身份证号码验证start**/
// 加权因子   
var Wi = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2, 1];
// 身份证验证位值.10代表X
var ValideCode = [1, 0, 10, 9, 8, 7, 6, 5, 4, 3, 2];
function IdCardValidate(idCard) {
    idCard = idCard.trim();               //去掉字符串头尾空格
    if (idCard.length == 15) {
        return isValidityBrithBy15IdCard(idCard);       //进行15位身份证的验证
    } else if (idCard.length == 18) {
        var a_idCard = idCard.split("");                // 得到身份证数组
        if (isValidityBrithBy18IdCard(idCard) && isTrueValidateCodeBy18IdCard(a_idCard)) {   //进行18位身份证的基本验证和第18位的验证
            return true;
        } else {
            return false;
        }
    } else {
        return false;
    }
}

/**判断身份证号码为18位时最后的验证位是否正确**/
function isTrueValidateCodeBy18IdCard(a_idCard) {
    var sum = 0;                             // 声明加权求和变量
    if (a_idCard[17].toLowerCase() == 'x') {
        a_idCard[17] = 10;                    // 将最后位为x的验证码替换为10方便后续操作
    }
    for (var i = 0; i < 17; i = i + 1) {
        sum += Wi[i] * a_idCard[i];            // 加权求和
    }
    valCodePosition = sum % 11;                // 得到验证码所位置
    if (a_idCard[17] == ValideCode[valCodePosition]) {
        return true;
    } else {
        return false;
    }
}

/***验证18位数身份证号码中的生日是否是有效生日**/
function isValidityBrithBy18IdCard(idCard18) {
    var year = idCard18.substring(6, 10);
    var month = idCard18.substring(10, 12);
    var day = idCard18.substring(12, 14);
    var temp_date = new Date(year, parseFloat(month) - 1, parseFloat(day));
    // 这里用getFullYear()获取年份，避免千年虫问题
    if (temp_date.getFullYear() != parseFloat(year)
        || temp_date.getMonth() != parseFloat(month) - 1
        || temp_date.getDate() != parseFloat(day)) {
        return false;
    } else {
        return true;
    }
}

/***验证15位数身份证号码中的生日是否是有效生日**/
function isValidityBrithBy15IdCard(idCard15) {
    var cArr = idCard15.match(/^[0-9]{15}$/ig);
    if (cArr == null) {
        return false;
    }
    var year = idCard15.substring(6, 8);
    var month = idCard15.substring(8, 10);
    var day = idCard15.substring(10, 12);
    var temp_date = new Date(year, parseFloat(month) - 1, parseFloat(day));
// 对于老身份证中的你年龄则不需考虑千年虫问题而使用getYear()方法   
    if (temp_date.getYear() != parseFloat(year)
        || temp_date.getMonth() != parseFloat(month) - 1
        || temp_date.getDate() != parseFloat(day)) {
        return false;
    } else {
        return true;
    }
}

function login(trueName, idCard, phone) {
    layer.open({type: 2, shadeClose: false, shade: true});
    $.ajax({
        url: "{php echo $this->createMobileUrl('credit', array('op'=>'insertInformation'))}",
        data: {
            name: trueName,
            idcard: idCard,
            mobile: phone,
        },
        dataType: 'json',
        type: 'get',
        success: function (data) {
            layer.closeAll();
            if (data.code == 1) {
                window.location.href="{php echo $this->createMobileUrl('credit', array('op'=>'pay'))}&id="+data.data.id
            } else {
                layer.open({
                    content: data.msg,
                    className: 'layer-msg',
                    time: 2,
                    shade: false
                });
            }
        }, error: function () {
            layer.closeAll();
            layer.open({
                content: '网络错误，请稍后重试',
                className: 'layer-msg',
                time: 2,
                shade: false
            });
        }
    });
}

</script>
</body>

</html>