<!DOCTYPE html>
<html class="html-full">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no,email=no" name="format-detection"/>
    <title>基本信息</title>

    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/credit/css/mui.min_3.css"/>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/credit/css/style_5.css"/>
</head>

<body class="login">
<div class="banner">
    <img src="../addons/xuan_mixloan/template/style/credit/picture/lc1_1.png"/>
</div>
<div class="form">
    <form class="mui-input-group">
        <div class="mui-input-row">
            <label for="">真实姓名</label>
            <input type="text" class="mui-input-clear" placeholder="请输入您的真实姓名" id="trueName" maxlength="20"/>
        </div>
        <div class="mui-input-row">
            <label for="">手机号码</label>
            <input type="tel" class="mui-input-clear" placeholder="请输入对应手机号码" id="phone" maxlength="11"/>
        </div>
        <div class="mui-input-row">
            <label for="">身份证号</label>
            <input type="text" class="mui-input-clear" placeholder="请输入对应身份证号" id="idCard" maxlength="18"/>
        </div>
    </form>
</div>

<div class="options">
    <button class="wexin-btn" id="searchBtn">下一步</button>
    <p class="cheke-box">
        <i id="checkedBtn"></i><a href="agreement.html">我已阅读并同意《信用管家数据分析免责协议》</a>
    </p>
</div>

<script src="../addons/xuan_mixloan/template/style/credit/js/mui_3.js"></script>
<script src="../addons/xuan_mixloan/template/style/credit/js/layer_3.js"></script>
<script src="../addons/xuan_mixloan/template/style/credit/js/zepto.min_3.js"></script>
<script src="../addons/xuan_mixloan/template/style/credit/js/common_3.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/credit/js/login_1.js"></script>
</body>

</html>