<!DOCTYPE html>
<html class="html-full">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no,email=no" name="format-detection"/>
    <title>支付确认</title>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/credit/css/mui.min_3.css"/>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/credit/css/style_6.css"/>
    
</head>

<body class="confirm">
<div class="banner">
    <img src="../addons/xuan_mixloan/template/style/credit/picture/lc3@2x.png"/>
</div>
<div class="options">
    
    
    <button class="wexin-btn" id="historyBtn" onclick="return_history()">免费查看历史报告</button>
    <button class="wexin-btn" id="searchBtn" onclick="return_pay()">微信支付&nbsp;&nbsp;</button>
    {if $config['credit_wx_free']}
    <button class="wexin-btn mui-hidden" id="searchBtn2">已分享，点击查询</button>
    <button class="share-btn" id="shareBtn">分享给朋友免费查询1次</button>
    {/if}
</div>

<script src="../addons/xuan_mixloan/template/style/credit/js/mui_3.js"></script>
<script src="../addons/xuan_mixloan/template/style/credit/js/layer_3.js"></script>
<script src="../addons/xuan_mixloan/template/style/credit/js/zepto.min_3.js"></script>
<script src="../addons/xuan_mixloan/template/style/credit/js/common_3.js"></script>
<script type="text/javascript">
    var return_history = function(){
        window.location.href = "{php echo $this->createMobileUrl('credit', array('op'=>'report_list'))}"
    }
    var return_pay = function(){
        window.location.href = "{php echo $this->createMobileUrl('credit', array('op'=>'pay_submit', 'id'=>$_GPC['id']))}"
    }
    $('#shareBtn').click(function () {
        sharebox();
    });
    $('#searchBtn2').click(function(){
        $.post("{php echo $this->createMobileUrl('credit', array('op'=>'share_submit', 'id'=>$_GPC['id']))}", {},
            function(data) {
                if (data.code == 1) {
                    window.location.href="{php echo $this->createMobileUrl('index', array('op'=>'report_list'))}"
                }
        },'json');
    })
    function sharebox() {
        var html = '<div class="tips-con">' +
            '<img class="tips-img" src="//images.51nbapi.com/images/loanrisk_wanghei/img/share.png"/>' +
            '</div>';
        var tips = layer.open({
            type: 1,
            className: 'tips-layer',
            shadeClose: true,
            content: html,
            btn: [''],
            style: 'position:relative; width: 100%; height: 100%; padding: 0; border:none;',
            yes: function () {
                layer.close(tips)
            }
        });
    }
</script>
{php echo register_jssdk();}
<script>
    //微信分享
    var title = "{$member['nickname']}邀请你一起来查信用";
    var imgUrl = "{php echo tomedia($config['share_image']);}";
    var desc = "{$config['desc']}";
    var link = "{php echo $_W['siteroot'] . 'app/' .$this->createMobileUrl('credit', array('op'=>''))}"
    wx.ready(function(){
        wx.onMenuShareTimeline({
            title: title, // 分享标题
            imgUrl: imgUrl, // 分享图标
            link:link,
        success: function () { 
        // 用户确认分享后执行的回调函数
            alert('分享成功');
            $('#shareBtn').hide();
            $('#searchBtn2').removeClass('mui-hidden');
         },
        cancel: function () { 
        // 用户取消分享后执行的回调函数
             alert("分享失败");
        }
    });
    wx.onMenuShareAppMessage({
            title: title, // 分享标题
             desc: desc, // 分享描述
            imgUrl: imgUrl, // 分享图标
            link:link,
        success: function () { 
        // 用户确认分享后执行的回调函数
            alert('分享成功');
            $('#shareBtn').hide();
            $('#searchBtn2').removeClass('mui-hidden');
        },  
        cancel: function () { 
        // 用户取消分享后执行的回调函数
             alert('分享失败');
        }
        });
    });
</script>
</body>
</html>
