


<!DOCTYPE html>
<html class="html-full">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no,email=no" name="format-detection"/>
    <title>支付确认</title>

    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/credit/css/mui.min_3.css"/>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/credit/css/style_6.css"/>
</head>

<body class="confirm">
<div class="banner">
    <img src="../addons/xuan_mixloan/template/style/credit/picture/lc3@2x.png"/>
</div>
<input type="hidden" id="oldOrderId" maxlength="20" value="4252613"/>
<input type="hidden" id="ifOldOrder" maxlength="20" value="2"/>
<input type="hidden" id="orderId" maxlength="20" value="262157"/>
<input type="hidden" id="openId" maxlength="20" value="o7NmNv2nuf4tk-klZAe4-0qCbQQw"/>
<div class="options">
    
    
        <button class="wexin-btn" id="historyBtn">免费查看历史报告</button>
    
    <button class="wexin-btn" id="searchBtn">微信支付&nbsp;&nbsp;</button>
    
    <button class="wexin-btn mui-hidden" id="searchBtn2">已分享，点击查询</button>
    <button class="share-btn" id="shareBtn">分享给朋友免费查询1次</button>
</div>

<script src="../addons/xuan_mixloan/template/style/credit/js/mui_3.js"></script>
<script src="../addons/xuan_mixloan/template/style/credit/js/layer_3.js"></script>
<script src="../addons/xuan_mixloan/template/style/credit/js/zepto.min_3.js"></script>
<script src="../addons/xuan_mixloan/template/style/credit/js/common_3.js"></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/credit/js/confirm_payment.js"></script>
</body>
</html>
