<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="e-mail=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <title>我的</title>
    <script src="../addons/xuan_mixloan/template/style/js/jquery.js"></script>
    <script src="../addons/xuan_mixloan/template/style/js/lmy.js"></script>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/swiper.min.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/lmy.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/main.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/new_base.css">
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/friendscircle.css">
    <script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/layer.js"></script>
    <link rel="stylesheet" href="../addons/xuan_mixloan/template/style/css/layer5.css" id="layui_layer_skinlayercss">
    <style type="text/css">
        body {
            background-color: #f1f1f1;
        }
    </style>

	{template 'common/wxshare'}
</head>
<body>
<!-- <div class="agent-header">
    个人中心
    <a class="return" href="#">返回</a>
</div> -->
<div class="psn_main">
    <div class="psn_header">
        <div class="bg_blur"
             style="background: url('{$member['avatar']}');background-repeat: no-repeat;background-position:center center;background-size: cover;">
            <a></a></div>
        <div class="header_main">
            <div>
                <p><img src="{$member['avatar']}"/></p>
                <h1>{$member['nickname']}</h1>
            </div>
        </div>
    </div>
    <div class="psn_tab">
        <ul>
            <li><a class="message on" data-id="message"><p></p>
                <h2>我的消息</h2></a></li>
            <li><a class="published" data-id="published"><p></p>
                <h2>我发表的</h2></a></li>
            <li><a class="replyed" data-id="replyed"><p></p>
                <h2>我回复的</h2></a></li>
            <li><a class="collected" data-id="collected"><p></p>
                <h2>我的收藏</h2></a></li>
            <li><a class="track" data-id="track"><p></p>
                <h2>我的足迹</h2></a></li>
        </ul>
    </div>
    <!-- <div class="psn_content"> -->
    <div class="swiper-container tabSwiper" style="padding-top: 0;">
        <div class="swiper-wrapper">
            <!-- 我的消息 -->
            <div class="swiper-slide" data-tagFlag="5" data-Page="0">
                <div class="psnC_result" id="track">
                    <div class="evdayhotlist friendlist">
                        {if empty($notify)}
                        <div class="psnC_empty emptyCommon">
                            <div class="psnC_emptyC">
                                <h2>您还没有消息哦~</h2>
                            </div>
                        </div>
                        {/if}
                        {loop $notify $row}
                        <div class="loan-list" onclick="return_url_notify('{$row['url']}')">
                            <div class="loan-main">
                                <div class="mainHeader">
                                    <span class="fl"><img src="{$row['avatar']}" width="35px"></span>
                                    <div class="mainName">
                                        <h3>{$row['desc']}</h3>
                                        <p>{php echo date('Y-m-d H:i:s',$row['time'])}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/loop}
                    </div>
                    <div class="listLoading2">数据加载中~</div>
                    <div class="listLimit2">没有更多咯~</div>
                </div>
            </div>
            <!-- 我发表的 -->
            <div class="swiper-slide" data-tagFlag="1">
                <div class="psnC_result" id="published" style="display: block;">
                    <h2>选择标签</h2>
                    <ul>
                        <li class="on" data-tagId="1">帮你解答</li>
                        <li data-tagId="2">帮你识图</li>
                        <li data-tagId="3">朕要分享</li>
                    </ul>
                    <div class="published_list listCommon">
                        <!--帮你解答-->
                        <div class="evdayhotlist friendlist" data-tag="1" data-Page="1">
                            {if empty($data['question'])}
                            <div class="psnC_empty">
                                <div class="psnC_emptyC">
                                    <h2>您还未发表过帮你解答文章哦~</h2>
                                </div>
                            </div>
                            {/if}
                            {loop $data['question'] $row}
                            <div class="loan-list" onclick="return_url({$row['id']})">
                                <div class="loan-main">
                                    <div class="mainHeader">
                                        <span class="fl"><img src="{$row['avatar']}" width="35px"></span>
                                        <div class="mainName">
                                            <h3>{$row['nickname']}<a class="fc_label label_2">{if $row['tag']==1}帮你解答{elseif $row['tag']==2}帮你识图{elseif $row['tag']==3}朕要分享{/if}</a></h3>
                                            <p>{php echo date('Y-m-d',$row['ctime'])}</p>
                                        </div>
                                    </div>
                                    <div class="mainContent">
                                        <p class="mainTitle"></p>
                                        <p class="contents">{$row['name']}</p>
                                        <div class="loanMainImg"></div>
                                        <p class="mainListReply">
                                            <span href="javascript:void(0);">
                                                <img src="../addons/xuan_mixloan/template/style/picture/reply.png"/>
                                                <label>{$row['replys']}</label>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {/loop}
                        </div>
                        <!--帮你识图-->
                        <div class="evdayhotlist friendlist" style="display: none;" data-tag="2" data-Page="0">
                            {if empty($data['news'])}
                            <div class="psnC_empty">
                                <div class="psnC_emptyC">
                                    <h2>您还未发表过识图文章哦~</h2>
                                </div>
                            </div>
                            {/if}
                            {loop $data['news'] $row}
                            <div class="loan-list" onclick="return_url({$row['id']})">
                                <div class="loan-main">
                                    <div class="mainHeader">
                                        <span class="fl"><img src="{$row['avatar']}" width="35px"></span>
                                        <div class="mainName">
                                            <h3>{$row['nickname']}<a class="fc_label label_2">{if $row['tag']==1}帮你解答{elseif $row['tag']==2}帮你识图{elseif $row['tag']==3}朕要分享{/if}</a></h3>
                                            <p>{php echo date('Y-m-d',$row['ctime'])}</p>
                                        </div>
                                    </div>
                                    <div class="mainContent">
                                        <p class="mainTitle"></p>
                                        <p class="contents">{$row['name']}</p>
                                        <div class="loanMainImg">
                                            {if !empty($row['head'])}
                                            
                                            {loop $row['head'] $head}
                                            <img src="{$_W['attachurl']}{$head}" alt="" class="pimg" onclick="maxImg(this)">
                                            {/loop}
                                            {/if}
                                        </div>
                                        <p class="mainListReply">
                                                    <span href="javascript:void(0);">
                                                        <img src="../addons/xuan_mixloan/template/style/picture/reply.png"/>
                                                        <label>{$row['replys']}</label>
                                                    </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {/loop}
                        </div>
                        <!--朕要分享-->
                        <div class="evdayhotlist friendlist" data-tag="3" style="display: none;" data-Page="0">
                            {if empty($data['share'])}
                            <div class="psnC_empty">
                                <div class="psnC_emptyC">
                                    <h2>您还未发表过分享文章哦~</h2>
                                </div>
                            </div>
                            {/if}
                            {loop $data['share'] $row}
                            <div class="loan-list" onclick="return_url({$row['id']})">
                                <div class="loan-main">
                                    <div class="mainHeader">
                                        <span class="fl"><img src="{$row['avatar']}" width="35px"></span>
                                        <div class="mainName">
                                            <h3>{$row['nickname']}<a class="fc_label label_2">{if $row['tag']==1}帮你解答{elseif $row['tag']==2}帮你识图{elseif $row['tag']==3}朕要分享{/if}</a></h3>
                                            <p>{php echo date('Y-m-d',$row['ctime'])}</p>
                                        </div>
                                    </div>
                                    <div class="mainContent">
                                        <p class="mainTitle"></p>
                                        <p class="contents">{$row['name']}</p>
                                        <div class="loanMainImg">
                                            {if !empty($row['head'])}
                                            
                                            {loop $row['head'] $head}
                                            <img src="{$_W['attachurl']}{$head}" alt="" class="pimg" onclick="maxImg(this)">
                                            {/loop}
                                            {/if}
                                        </div>
                                        <p class="mainListReply">
                                                    <span href="javascript:void(0);">
                                                        <img src="../addons/xuan_mixloan/template/style/picture/reply.png"/>
                                                        <label>{$row['replys']}</label>
                                                    </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {/loop}
                        </div>
                    </div>
                </div>
            </div>
            <!-- 我回复的 -->
            <div class="swiper-slide" data-tagFlag="1">
                <div class="psnC_result" id="replyed">
                    <h2>选择标签</h2>
                    <ul>
                        <li class="on" data-tagId="1">帮你解答</li>
                        <li data-tagId="2">帮你识图</li>
                        <li data-tagId="3">朕要分享</li>
                    </ul>
                    <div class="replyed_list listCommon">
                        <!-- 帮你解答 -->
                        <div class="evdayhotlist friendlist" data-tag="1" data-Page="1">
                            {if !$replys['question']}
                            <div class="psnC_empty">
                                <div class="psnC_emptyC">
                                    <h2>您还未回复过分享文章哦~</h2>
                                </div>
                            </div>
                            {else}
                            {loop $replys['question'] $row}
                            <div class="loan-list" onclick="return_url({$row['id']})">
                                <div class="loan-main">
                                    <div class="mainHeader">
                                        <span class="fl"><img src="{$row['avatar']}" width="35px"></span>
                                        <div class="mainName">
                                            <h3>{$row['nickname']}<a class="fc_label label_2">{if $row['tag']==1}帮你解答{elseif $row['tag']==2}帮你识图{elseif $row['tag']==3}朕要分享{/if}</a></h3>
                                            <p>{php echo date('Y-m-d',$row['ctime'])}</p>
                                        </div>
                                    </div>
                                    <div class="mainContent">
                                        <p class="mainTitle"></p>
                                        <p class="contents">{$row['name']}</p>
                                        <div class="loanMainImg">
                                            {if !empty($row['head'])}
                                            {loop $row['head'] $head}
                                            <img src="{$_W['attachurl']}{$head}" alt="" class="pimg" onclick="maxImg(this)">
                                            {/loop}
                                            {/if}
                                        </div>
                                        <p class="mainListReply">
                                                    <span href="javascript:void(0);">
                                                        <img src="../addons/xuan_mixloan/template/style/picture/reply.png"/>
                                                        <label>{$row['replys']}</label>
                                                    </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {/loop}
                            {/if}
                        </div>
                        <!-- 帮你识图 -->
                        <div class="evdayhotlist friendlist" style="display: none;"  data-tag="2" data-Page="1">
                           {if !$replys['news']}
                            <div class="psnC_empty">
                                <div class="psnC_emptyC">
                                    <h2>您还未回复过分享文章哦~</h2>
                                </div>
                            </div>
                            {else}
                            {loop $replys['news'] $row}
                            <div class="loan-list" onclick="return_url({$row['id']})">
                                <div class="loan-main">
                                    <div class="mainHeader">
                                        <span class="fl"><img src="{$row['avatar']}" width="35px"></span>
                                        <div class="mainName">
                                            <h3>{$row['nickname']}<a class="fc_label label_2">{if $row['tag']==1}帮你解答{elseif $row['tag']==2}帮你识图{elseif $row['tag']==3}朕要分享{/if}</a></h3>
                                            <p>{php echo date('Y-m-d',$row['ctime'])}</p>
                                        </div>
                                    </div>
                                    <div class="mainContent">
                                        <p class="mainTitle"></p>
                                        <p class="contents">{$row['name']}</p>
                                        <div class="loanMainImg">
                                            {if !empty($row['head'])}
                                            {loop $row['head'] $head}
                                            <img src="{$_W['attachurl']}{$head}" alt="" class="pimg" onclick="maxImg(this)">
                                            {/loop}
                                            {/if}
                                        </div>
                                        <p class="mainListReply">
                                                    <span href="javascript:void(0);">
                                                        <img src="../addons/xuan_mixloan/template/style/picture/reply.png"/>
                                                        <label>{$row['replys']}</label>
                                                    </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {/loop}
                            {/if}
                        </div>
                        <!-- 朕要分享 -->
                        <div class="evdayhotlist friendlist" data-tag="3" style="display: none;" data-Page="1">
                            {if !$replys['share']}
                            <div class="psnC_empty">
                                <div class="psnC_emptyC">
                                    <h2>您还未回复过分享文章哦~</h2>
                                </div>
                            </div>
                            {else}
                            {loop $replys['share'] $row}
                            <div class="loan-list" onclick="return_url({$row['id']})">
                                <div class="loan-main">
                                    <div class="mainHeader">
                                        <span class="fl"><img src="{$row['avatar']}" width="35px"></span>
                                        <div class="mainName">
                                            <h3>{$row['nickname']}<a class="fc_label label_2">{if $row['tag']==1}帮你解答{elseif $row['tag']==2}帮你识图{elseif $row['tag']==3}朕要分享{/if}</a></h3>
                                            <p>{php echo date('Y-m-d',$row['ctime'])}</p>
                                        </div>
                                    </div>
                                    <div class="mainContent">
                                        <p class="mainTitle"></p>
                                        <p class="contents">{$row['name']}</p>
                                        <div class="loanMainImg">
                                            {if !empty($row['head'])}
                                            {loop $row['head'] $head}
                                            <img src="{$_W['attachurl']}{$head}" alt="" class="pimg" onclick="maxImg(this)">
                                            {/loop}
                                            {/if}
                                        </div>
                                        <p class="mainListReply">
                                                    <span href="javascript:void(0);">
                                                        <img src="../addons/xuan_mixloan/template/style/picture/reply.png"/>
                                                        <label>{$row['replys']}</label>
                                                    </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {/loop}
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
            <!-- 我的收藏 -->
            <div class="swiper-slide" data-tagFlag="1" data-Page="0">
                <div class="psnC_result" id="collected">
                    <div class="evdayhotlist friendlist">
                        {if !$praise}
                        <div class="psnC_empty">
                            <div class="psnC_emptyC">
                                <h2>您还未收藏过文章哦</h2>
                            </div>
                        </div>
                        {else}
                        {loop $praise $row}
                        <div class="loan-list" onclick="return_url({$row['id']})" onclick="return_url({$row['id']})">
                            <div class="loan-main">
                                <div class="mainHeader">
                                    <span class="fl"><img src="{$row['avatar']}" width="35px"></span>
                                    <div class="mainName">
                                        <h3>{$row['nickname']}<a class="fc_label label_2">{if $row['tag']==1}帮你解答{elseif $row['tag']==2}帮你识图{elseif $row['tag']==3}朕要分享{/if}</a></h3>
                                        <p>{php echo date('Y-m-d',$row['ctime'])}</p>
                                    </div>
                                </div>
                                <div class="mainContent">
                                    <p class="mainTitle"></p>
                                    <p class="contents">{$row['name']}</p>
                                    <div class="loanMainImg">
                                        {if !empty($row['head'])}
                                            {loop $row['head'] $head}
                                            <img src="{$_W['attachurl']}{$head}" alt="" class="pimg" onclick="maxImg(this)">
                                            {/loop}
                                        {/if}
                                    </div>
                                    <p class="mainListReply">
                                                <span href="javascript:void(0);">
                                                    <img src="../addons/xuan_mixloan/template/style/picture/reply.png"/>
                                                    <label>{$row['replys']}</label>
                                                </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {/loop}
                        {/if}
                    </div>
                    <div class="listLimit2">没有更多咯~</div>
                </div>
            </div>
            <!-- 我的足迹 -->
            <div class="swiper-slide" data-tagFlag="4" data-Page="1">
                <div class="psnC_result" id="track">
                    <div class="evdayhotlist friendlist">
                       {if !$looks}
                        <div class="psnC_empty">
                            <div class="psnC_emptyC">
                                <h2>您还未收藏过文章哦</h2>
                            </div>
                        </div>
                        {else}
                        {loop $looks $row}
                        <div class="loan-list" onclick="return_url({$row['id']})" onclick="return_url({$row['id']})">
                            <div class="loan-main">
                                <div class="mainHeader">
                                    <span class="fl"><img src="{$row['avatar']}" width="35px"></span>
                                    <div class="mainName">
                                        <h3>{$row['nickname']}<a class="fc_label label_2">{if $row['tag']==1}帮你解答{elseif $row['tag']==2}帮你识图{elseif $row['tag']==3}朕要分享{/if}</a></h3>
                                        <p>{php echo date('Y-m-d',$row['ctime'])}</p>
                                    </div>
                                </div>
                                <div class="mainContent">
                                    <p class="mainTitle"></p>
                                    <p class="contents">{$row['name']}</p>
                                    <div class="loanMainImg">
                                        {if !empty($row['head'])}
                                        
                                            {loop $row['head'] $head}
                                            <img src="{$_W['attachurl']}{$head}" alt="" class="pimg" onclick="maxImg(this)">
                                            {/loop}
                                        {/if}
                                    </div>
                                    <p class="mainListReply">
                                                <span href="javascript:void(0);">
                                                    <img src="../addons/xuan_mixloan/template/style/picture/reply.png"/>
                                                    <label>{$row['replys']}</label>
                                                </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {/loop}
                        {/if}
                    </div>
                    <div class="listLimit2">没有更多咯~</div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
<!-- 预览图片 -->
<div class="scrollImg">
    <div class="scrollImgBox">
        <div class="swiper-container scrollImg-swiper">
            <div class="swiper-wrapper">
            </div>
            <div class="swiper-pagination scrollImg-pagination"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/emojis.js"></script>
<script type="text/javascript" src=../addons/xuan_mixloan/template/style/js/swiper.min.js></script>
<script type="text/javascript" src="../addons/xuan_mixloan/template/style/js/friendcircle.js"></script>
<script type="text/javascript">
    var new_flag = true;//tab各内容下拉开关
    //页面初始化
    $(document).ready(function () {
        var window_H = $(window).height();
        $("div.scrollImg").css("height", window_H);
        var body_H = window_H - 1 + "px";
        $("div.psn_main").css("height", body_H);
        var header_H = ($("div.psn_main").height()) * 0.25;
        var tab_H = $("div.psn_tab").outerHeight(true);
        var tab_titleH = $("div.psnC_result h2").outerHeight(true);
        var tab_title2H = $("div.psnC_result ul").outerHeight(true);
        var psnC_emptyH = window_H - header_H - tab_H - tab_titleH - tab_title2H + 5 + "px";
        var emptyCommonH = window_H - header_H - tab_H + 5 + "px";
        $("div.psnC_empty").css("height", psnC_emptyH);
        $("div.emptyCommon").css("height", emptyCommonH);
        $("div.swiper-wrapper").css("min-height", emptyCommonH);
    })
    var mySwiper = new Swiper('.tabSwiper', {
        direction: 'horizontal',
        slidesPerView: "auto",
        centeredSlides: true,
        autoplayDisableOnInteraction: false,
        resistanceRatio: 0,
        touchRatio: 0.5,
        touchAngle: 10,
        onSlideChangeEnd: function (swiper) {
            var swiperIndex = swiper.activeIndex;//切换结束时，告诉我现在是第几个slide
            $("div.psn_tab ul li").find("a").removeClass("on");
            $("div.psn_tab ul li").eq(swiperIndex).find("a").addClass("on");
            new_flag = true;
            limitHeight();
            PreventScroll('.psn_main');
        }
    });
    //标签切换
    $("div.psn_tab ul li").click(function () {
        new_flag = true;
        var _index = $(this).index();
        if (!$(this).find("a").hasClass("on")) {
            $("div.psn_tab ul li").find("a").removeClass("on");
            $(this).find("a").addClass("on");
            mySwiper.slideTo(_index, 300, false);//切换到第一个slide，速度为1秒
            limitHeight();
            //接口
        }
    })
    //首页标签内容展示
    $(document).ready(function () {
        setTimeout(function () {
            limitHeight();
        }, 1000);
    })

    // 重新定义页面高度
    function limitHeight() {
        var indexHeight = $("div.tabSwiper .swiper-wrapper .swiper-slide-active").find(".psnC_result").height();
        $("div.tabSwiper .swiper-wrapper").css("height", indexHeight);
        PreventScroll('.psn_main');
    }


    // 内标签点击
    $("div.psnC_result ul li").click(function () {
        PreventScroll('.psn_main');
        var _this = $(this);
        new_flag = true;
        var tagid = $(this).attr("data-tagid");
        if (!_this.hasClass("on")) {
            _this.parent().parent().find("ul li").removeClass("on");
            _this.addClass("on");
            _this.parent().parent().find("div.listCommon").find("div.friendlist").hide();
            _this.parent().parent().find("div.listCommon").find("div.friendlist[data-tag=" + tagid + "]").show();
            limitHeight();
            //接口
        }
        PreventScroll('.psn_main');
    })

    var return_url = function(id) {
        window.location.href="{php echo $this->createMobileUrl('friend', array('op'=>'info'))}&id="+id;
    }

    var return_url_notify = function(url){
        window.location.href=url;
    }
</script>
</body>
</html>